orchestration/workflows/ai-voice-caller.json
{
  "name": "AI Voice Caller - Retell AI - Multi-Business",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 10 * * 2,3,4"
            }
          ]
        }
      },
      "id": "schedule-daily-calls",
      "name": "Daily 10:30AM Tue-Thu (VM Retries)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-480, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/cold_email_leads?call_status=eq.voicemail_retry_scheduled&next_call_date=lte.{{ $now.toFormat('yyyy-MM-dd') }}&select=*&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-vm-retry-leads",
      "name": "Fetch Voicemail Retry Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 0],
      "continueOnFail": true,
      "notes": "Fetches leads where call_status=voicemail_retry_scheduled AND next_call_date <= today. Fresh cold calls come from the sales sequence engine via /webhook/trigger-call. This scheduled path is ONLY for voicemail retries."
    },
    {
      "parameters": {
        "jsCode": "// Parse voicemail retry leads from Supabase REST query\n// Fresh cold calls come from the sales sequence engine via webhook.\n// This path handles ONLY voicemail retries from the scheduled trigger.\n\nconst EXCLUDED_STATUSES = ['converted', 'unsubscribed', 'rejected', 'paying', 'demo_booked', 'churned'];\n\nconst result = $input.first().json;\n\n// Handle array result from REST API\nif (Array.isArray(result) && result.length > 0) {\n  const filtered = result.filter(lead => !EXCLUDED_STATUSES.includes(lead.status) && lead.phone);\n  if (filtered.length === 0) return [{ json: { _empty: true, reason: 'No eligible voicemail retry leads today' } }];\n  return filtered.map(lead => ({ json: { ...lead, _call_source: 'voicemail_retry' } }));\n}\n\n// Handle single object result\nif (result && !result.error && result.id) {\n  if (EXCLUDED_STATUSES.includes(result.status) || !result.phone) {\n    return [{ json: { _empty: true, reason: 'Lead excluded or has no phone' } }];\n  }\n  return [{ json: { ...result, _call_source: 'voicemail_retry' } }];\n}\n\nreturn [{ json: { _empty: true, reason: 'No voicemail retry leads due today' } }];"
      },
      "id": "parse-vm-retry-leads",
      "name": "Parse VM Retry Leads (50 max)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-leads",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-leads-exist",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 0]
    },
    {
      "parameters": {
        "jsCode": "// TCPA Compliance Gate - runs before EVERY call attempt\n// Checks: phone exists, not DNC, business hours in lead's timezone, not rejected/unsubscribed\n\nconst lead = $input.first().json;\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\n// --- Check 1: Phone number exists ---\nif (!lead.phone) {\n  return [{ json: { ...lead, _tcpa_blocked: true, _tcpa_reason: 'No phone number on lead' } }];\n}\n\n// --- Check 2: DNC flag ---\nlet dncChecked = lead.dnc_checked || false;\nlet currentStatus = lead.status || '';\n\n// Re-fetch from DB to get latest DNC + status\ntry {\n  const emailParam = encodeURIComponent(lead.email);\n  const resp = await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?email=eq.${emailParam}&select=dnc_checked,status`,\n    {\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`\n      }\n    }\n  );\n  const rows = await resp.json();\n  if (rows && rows[0]) {\n    dncChecked = rows[0].dnc_checked || false;\n    currentStatus = rows[0].status || currentStatus;\n  }\n} catch (e) {\n  // Use lead's existing data if fetch fails\n}\n\nif (dncChecked === true) {\n  return [{ json: { ...lead, _tcpa_blocked: true, _tcpa_reason: 'TCPA: Lead is on DNC list (dnc_checked=true)' } }];\n}\n\n// --- Check 3: Lead status not rejected/unsubscribed ---\nif (['rejected', 'unsubscribed'].includes(currentStatus)) {\n  return [{ json: { ...lead, _tcpa_blocked: true, _tcpa_reason: 'TCPA: Lead status is ' + currentStatus + ' - do not call' } }];\n}\n\n// --- Check 4: Business hours (8 AM - 9 PM in lead's timezone) ---\nconst leadTimezone = lead.timezone || 'America/New_York';\ntry {\n  const nowInLeadTz = new Date(new Date().toLocaleString('en-US', { timeZone: leadTimezone }));\n  const hour = nowInLeadTz.getHours();\n  if (hour < 8 || hour >= 21) {\n    return [{ json: { ...lead, _tcpa_blocked: true, _tcpa_reason: `TCPA: Outside calling hours (${hour}:00 in ${leadTimezone}). Allowed: 8AM-9PM.` } }];\n  }\n} catch (e) {\n  // Fallback: assume US Eastern\n  const utcHour = new Date().getUTCHours();\n  const estHour = (utcHour - 5 + 24) % 24;\n  if (estHour < 8 || estHour >= 21) {\n    return [{ json: { ...lead, _tcpa_blocked: true, _tcpa_reason: `TCPA: Outside calling hours (EST fallback: ${estHour}:00)` } }];\n  }\n}\n\n// All checks passed\nreturn [{ json: { ...lead, _tcpa_blocked: false, _tcpa_reason: 'All TCPA checks passed' } }];"
      },
      "id": "tcpa-compliance-gate",
      "name": "TCPA Compliance Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 150],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tcpa-passed",
              "leftValue": "={{ $json._tcpa_blocked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tcpa-check-result",
      "name": "TCPA Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/voice_call_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_email\": \"{{ $json.email }}\",\n  \"business_name\": \"{{ $json.business_name || '' }}\",\n  \"call_outcome\": \"tcpa_blocked\",\n  \"call_duration_seconds\": 0,\n  \"transcript\": {{ JSON.stringify('TCPA blocked: ' + ($json._tcpa_reason || 'unknown')) }},\n  \"booking_made\": false,\n  \"disconnect_reason\": \"tcpa_compliance\",\n  \"created_at\": \"{{ $now.toFormat('yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'') }}\"\n}",
        "options": {}
      },
      "id": "log-tcpa-block",
      "name": "Log TCPA Block",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Look up the business's retell_agent_id from the businesses table\n// Falls back to $env.RETELL_AGENT_ID for BayFlow (manually configured)\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SUPABASE_ANON_KEY = $env.SUPABASE_SERVICE_KEY;\n\nconst lead = $input.first().json;\nconst businessId = lead.business_id || lead.businessId || '';\n\nlet retellAgentId = '';\nlet businessSiteUrl = '';\nlet businessCalUrl = 'https://cal.com/shalinp';\nlet businessDisplayName = lead.business_name || 'your business';\n\n// Query the businesses table for this lead's business retell_agent_id\nif (businessId) {\n  try {\n    const response = await fetch(\n      `${SUPABASE_URL}/rest/v1/businesses?business_id=eq.${encodeURIComponent(businessId)}&select=retell_agent_id,name,site_url,cal_booking_url`,\n      {\n        headers: {\n          'apikey': SUPABASE_ANON_KEY,\n          'Authorization': `Bearer ${SUPABASE_ANON_KEY}`,\n          'Content-Type': 'application/json'\n        }\n      }\n    );\n    const businesses = await response.json();\n    if (businesses && businesses.length > 0) {\n      const biz = businesses[0];\n      if (biz.retell_agent_id) {\n        retellAgentId = biz.retell_agent_id;\n      }\n      if (biz.name) {\n        businessDisplayName = biz.name;\n      }\n      if (biz.site_url) {\n        businessSiteUrl = biz.site_url;\n      }\n      if (biz.cal_booking_url) {\n        businessCalUrl = biz.cal_booking_url;\n      }\n    }\n  } catch (err) {\n    // Silently fall back to env variable\n  }\n}\n\n// Fallback: use global RETELL_AGENT_ID env var (for BayFlow or manually configured agents)\n// Note: in n8n Code nodes, env vars are accessed via $env\n// but we pass it through as a flag so the HTTP node can use {{ $env.RETELL_AGENT_ID }}\nconst useEnvFallback = !retellAgentId;\n\nreturn [{\n  json: {\n    ...lead,\n    _retell_agent_id: retellAgentId,\n    _use_env_fallback: useEnvFallback,\n    _business_site_url: businessSiteUrl,\n    _business_cal_url: businessCalUrl,\n    _business_display_name: businessDisplayName\n  }\n}];"
      },
      "id": "lookup-business-agent",
      "name": "Lookup Business Agent ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.RETELL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"{{ $env.RETELL_FROM_NUMBER }}\",\n  \"to_number\": \"{{ $json.phone }}\",\n  \"agent_id\": \"{{ $json._retell_agent_id || $env.RETELL_AGENT_ID }}\",\n  \"metadata\": {\n    \"lead_email\": \"{{ $json.email }}\",\n    \"business_name\": \"{{ $json._business_display_name || $json.business_name }}\",\n    \"first_name\": \"{{ $json.first_name }}\",\n    \"booking_url\": \"{{ $json._business_cal_url || 'https://cal.com/shalinp' }}\",\n    \"business_id\": \"{{ $json.business_id || $json.businessId || '' }}\"\n  },\n  \"retell_llm_dynamic_variables\": {\n    \"prospect_name\": \"{{ $json.first_name }}\",\n    \"prospect_business\": \"{{ $json.business_name }}\",\n    \"booking_link\": \"{{ $json._business_cal_url || 'https://cal.com/shalinp' }}\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-retell-call",
      "name": "Create Retell AI Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/cold_email_leads?email=eq.{{ encodeURIComponent($json.metadata?.lead_email || $input.first().json.email) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call_status\": \"initiated\",\n  \"retell_call_id\": \"{{ $json.call_id }}\",\n  \"last_call_date\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "update-lead-call-initiated",
      "name": "Update Lead: Call Initiated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-manual-call",
      "name": "Webhook: Manual Call Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "trigger-call"
    },
    {
      "parameters": {
        "jsCode": "// Parse trigger data from sales sequence engine or manual call\n// The sales sequence engine sends full lead data including id, email, phone,\n// first_name, last_name, business_name, business_id, touchType, touchNumber, source\nconst body = $input.first().json.body || $input.first().json;\n\nconst email = body.email || '';\nconst phone = body.phone || '';\nconst firstName = body.first_name || body.firstName || 'there';\nconst lastName = body.last_name || body.lastName || '';\nconst businessName = body.business_name || body.businessName || 'your shop';\nconst businessId = body.business_id || body.businessId || '';\nconst leadId = body.id || body.leadId || '';\nconst touchType = body.touchType || 'cold_call';\nconst touchNumber = body.touchNumber || 1;\nconst source = body.source || 'manual';\n\nif (!phone || !email) {\n  return [{ json: { _error: true, message: 'Missing required fields: email and phone' } }];\n}\n\nreturn [{\n  json: {\n    id: leadId,\n    email,\n    phone,\n    first_name: firstName,\n    last_name: lastName,\n    business_name: businessName,\n    business_id: businessId,\n    touchType,\n    touchNumber,\n    _call_source: source\n  }\n}];"
      },
      "id": "parse-manual-trigger",
      "name": "Parse Manual Trigger Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Call initiated for ' + $json.first_name }) }}",
        "options": {}
      },
      "id": "respond-webhook-manual",
      "name": "Respond: Call Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-call-complete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-retell-complete",
      "name": "Webhook: Retell Call Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 700],
      "webhookId": "retell-call-complete"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body || $input.first().json;\n\n// Retell webhook payload structure\nconst callId = payload.call_id || payload.call?.call_id || '';\nconst callStatus = payload.call_status || payload.call?.status || 'unknown';\nconst duration = payload.duration_ms || payload.call?.duration_ms || 0;\nconst transcript = payload.transcript || payload.call?.transcript || '';\nconst disconnectReason = payload.disconnect_reason || payload.call?.disconnect_reason || '';\nconst metadata = payload.metadata || payload.call?.metadata || {};\n\n// Determine call outcome\nlet callOutcome = 'unknown';\nlet bookingMade = false;\nlet isVoicemail = false;\nlet notInterested = false;\n\n// Check transcript for booking signals\nconst transcriptLower = (typeof transcript === 'string' ? transcript : JSON.stringify(transcript)).toLowerCase();\n\nif (transcriptLower.includes('book') || transcriptLower.includes('schedule') || transcriptLower.includes('demo') || transcriptLower.includes('set up') || transcriptLower.includes('sounds good') || transcriptLower.includes('let\\'s do it')) {\n  callOutcome = 'interested_booking';\n  bookingMade = true;\n} else if (disconnectReason === 'voicemail_reached' || transcriptLower.includes('voicemail') || transcriptLower.includes('leave a message') || duration < 15000) {\n  callOutcome = 'voicemail';\n  isVoicemail = true;\n} else if (transcriptLower.includes('not interested') || transcriptLower.includes('no thanks') || transcriptLower.includes('don\\'t call') || transcriptLower.includes('remove me') || transcriptLower.includes('stop calling')) {\n  callOutcome = 'not_interested';\n  notInterested = true;\n} else if (transcriptLower.includes('call back') || transcriptLower.includes('busy right now') || transcriptLower.includes('not a good time')) {\n  callOutcome = 'callback_requested';\n} else {\n  callOutcome = 'completed_no_action';\n}\n\nreturn [{\n  json: {\n    call_id: callId,\n    call_status: callStatus,\n    call_outcome: callOutcome,\n    duration_seconds: Math.round(duration / 1000),\n    transcript: typeof transcript === 'string' ? transcript : JSON.stringify(transcript),\n    disconnect_reason: disconnectReason,\n    booking_made: bookingMade,\n    is_voicemail: isVoicemail,\n    not_interested: notInterested,\n    lead_email: metadata.lead_email || '',\n    business_name: metadata.business_name || '',\n    first_name: metadata.first_name || '',\n    booking_url: metadata.booking_url || 'https://cal.com/shalinp',\n    business_id: metadata.business_id || '',\n    raw_payload: payload\n  }\n}];"
      },
      "id": "parse-retell-webhook",
      "name": "Parse Retell Call Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 700]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/cold_email_leads?email=eq.{{ encodeURIComponent($json.lead_email) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call_status\": \"{{ $json.call_outcome }}\",\n  \"call_outcome\": \"{{ $json.call_outcome }}\",\n  \"call_transcript\": {{ JSON.stringify($json.transcript) }},\n  \"call_duration_seconds\": {{ $json.duration_seconds }},\n  \"last_call_date\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "update-lead-call-result",
      "name": "Update Lead: Call Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.booking_made }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Demo Booked"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.is_voicemail }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Voicemail"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.not_interested }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Not Interested"
            }
          ],
          "fallbackOutput": {
            "renameOutput": "Other"
          }
        },
        "options": {}
      },
      "id": "route-call-outcome",
      "name": "Route by Outcome",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [700, 700]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/cold_email_leads?email=eq.{{ encodeURIComponent($json.lead_email) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"demo_booked\" }",
        "options": {}
      },
      "id": "update-lead-demo-booked",
      "name": "Update Lead: Demo Booked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.RESEND_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json._business_display_name || $json.business_name || 'BayFlow' }} <hello@{{ ($json._business_site_url || 'bayflow.com').replace('https://', '').replace('http://', '').split('/')[0] }}>\",\n  \"to\": [\"{{ $json.lead_email }}\"],\n  \"subject\": \"Your {{ $json._business_display_name || $json.business_name || 'BayFlow' }} Demo is Confirmed!\",\n  \"html\": \"<p>Hey {{ $json.first_name }},</p><p>Good talking to you! Your demo's getting scheduled now. You'll get a calendar invite at <strong>{{ $json.lead_email }}</strong> in a bit.</p><p>If you want to poke around before then, here's the site: <a href='{{ $json._business_site_url || 'https://bayflow.com' }}'>{{ ($json._business_site_url || 'bayflow.com').replace('https://', '').replace('http://', '').split('/')[0] }}</a>. We built it specifically for shops like {{ $json.business_name }}.</p><p>Talk soon,<br/>Shalin</p>\"\n}",
        "options": {}
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"DEMO BOOKED via AI Voice Call!\\n\\nBusiness: {{ $json.business_name }}\\nContact: {{ $json.first_name }} ({{ $json.lead_email }})\\nCall Duration: {{ $json.duration_seconds }}s\\nBooking URL: https://cal.com/shalinp\\n\\nConfirmation email sent.\",\n  \"channel\": \"telegram\",\n  \"priority\": \"high\"\n}",
        "options": {}
      },
      "id": "notify-telegram-demo-booked",
      "name": "Telegram: Demo Booked!",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Handle voicemail: increment attempts, schedule retry if < 3 attempts\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\nconst leadEmail = $json.lead_email;\n\n// First, fetch current call_attempts\nlet currentAttempts = 0;\ntry {\n  const getResp = await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?email=eq.${encodeURIComponent(leadEmail)}&select=call_attempts`,\n    {\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`\n      }\n    }\n  );\n  const rows = await getResp.json();\n  if (rows && rows[0]) {\n    currentAttempts = rows[0].call_attempts || 0;\n  }\n} catch (e) {\n  // Default to 0\n}\n\nconst newAttempts = currentAttempts + 1;\nconst maxRetries = 3;\n\nlet updateBody = {\n  call_status: 'voicemail',\n  call_attempts: newAttempts\n};\n\nif (newAttempts < maxRetries) {\n  // Schedule retry in 2 days\n  const retryDate = new Date();\n  retryDate.setDate(retryDate.getDate() + 2);\n  updateBody.next_call_date = retryDate.toISOString().split('T')[0];\n  updateBody.call_status = 'voicemail_retry_scheduled';\n} else {\n  updateBody.call_status = 'voicemail_max_attempts';\n}\n\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?email=eq.${encodeURIComponent(leadEmail)}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify(updateBody)\n    }\n  );\n} catch (e) {\n  // Log error but don't fail\n}\n\nreturn [{\n  json: {\n    ...updateBody,\n    lead_email: leadEmail,\n    business_name: $json.business_name,\n    first_name: $json.first_name,\n    retry_scheduled: newAttempts < maxRetries\n  }\n}];"
      },
      "id": "handle-voicemail",
      "name": "Handle Voicemail + Schedule Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 700]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/cold_email_leads?email=eq.{{ encodeURIComponent($json.lead_email) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"call_status\": \"not_interested\", \"status\": \"rejected\" }",
        "options": {}
      },
      "id": "update-lead-not-interested",
      "name": "Update Lead: Not Interested",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 900],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/voice_call_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call_id\": \"{{ $json.call_id }}\",\n  \"lead_email\": \"{{ $json.lead_email }}\",\n  \"business_name\": \"{{ $json.business_name }}\",\n  \"call_outcome\": \"{{ $json.call_outcome }}\",\n  \"call_duration_seconds\": {{ $json.duration_seconds || 0 }},\n  \"transcript\": {{ JSON.stringify($json.transcript || '') }},\n  \"booking_made\": {{ $json.booking_made || false }},\n  \"disconnect_reason\": \"{{ $json.disconnect_reason || '' }}\",\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "log-call-to-supabase",
      "name": "Log Call to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 900],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "noop-no-leads",
      "name": "No Leads Today",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/outreach_intelligence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"business_id\": \"{{ $json.business_id }}\",\n  \"channel\": \"call\",\n  \"outreach_type\": \"cold_call\",\n  \"audience_type\": \"auto_repair\",\n  \"tone\": \"professional\",\n  \"angle\": \"product_demo\",\n  \"intent\": \"book_demo\",\n  \"content_preview\": {{ JSON.stringify(($json.transcript || '').substring(0, 200)) }},\n  \"personalization_elements\": { \"name\": true, \"business_name\": true },\n  \"personalization_depth\": 2,\n  \"day_of_week\": {{ new Date().getDay() }},\n  \"hour_of_day\": {{ new Date().getHours() }},\n  \"call_duration_seconds\": {{ $json.duration_seconds || 0 }},\n  \"call_connected\": {{ !$json.is_voicemail }},\n  \"voicemail_left\": {{ $json.is_voicemail || false }},\n  \"outcome\": \"{{ $json.call_outcome === 'interested_booking' ? 'booked_demo' : $json.call_outcome === 'voicemail' ? 'no_response' : $json.call_outcome === 'not_interested' ? 'replied_negative' : $json.call_outcome === 'callback_requested' ? 'replied_positive' : 'no_response' }}\",\n  \"outcome_at\": \"{{ new Date().toISOString() }}\",\n  \"lead_email\": \"{{ $json.lead_email }}\",\n  \"notes\": \"Call lasted {{ $json.duration_seconds || 0 }} seconds. {{ $json.booking_made ? 'Demo booked.' : $json.is_voicemail ? 'Left voicemail.' : 'No booking.' }}\",\n  \"what_worked\": {{ $json.booking_made ? JSON.stringify('Direct pitch with demo offer worked') : 'null' }},\n  \"what_didnt_work\": {{ $json.not_interested ? JSON.stringify('Lead not interested - ' + ($json.disconnect_reason || 'unknown reason')) : 'null' }},\n  \"learnings\": null\n}",
        "options": {}
      },
      "id": "log-to-outreach-intelligence",
      "name": "Log to Outreach Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 1100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/v_best_outreach_timing?audience_type=eq.auto_repair&channel=eq.call&select=*&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "query-best-outreach-timing",
      "name": "Query Best Outreach Timing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-260, 0],
      "continueOnFail": true,
      "notes": "Queries v_best_outreach_timing view for call channel + auto_repair audience. Data is passed through for CEO Agent to act on later. Could be used to skip low-performing days/hours."
    },
    {
      "parameters": {
        "jsCode": "// Log outreach timing data and decide whether to proceed with calls today\nconst timingData = $input.first().json;\n\n// If the query failed or returned nothing, proceed anyway (no data yet)\nif (!timingData || timingData.error || (Array.isArray(timingData) && timingData.length === 0)) {\n  return [{ json: { _timing_data: [], _skip_today: false, _reason: 'No timing data available yet - proceeding with calls' } }];\n}\n\nconst rows = Array.isArray(timingData) ? timingData : [timingData];\nconst today = new Date().getDay(); // 0=Sun, 1=Mon, ..., 6=Sat\nconst currentHour = new Date().getHours();\n\n// Check if today's day_of_week appears in timing data with very low success\nconst todayRows = rows.filter(r => r.day_of_week === today);\nlet skipToday = false;\nlet skipReason = '';\n\nif (todayRows.length > 0) {\n  // If all rows for today show 0% positive outcome rate and we have enough data (10+ attempts)\n  const totalAttempts = todayRows.reduce((sum, r) => sum + (r.total_attempts || 0), 0);\n  const totalPositive = todayRows.reduce((sum, r) => sum + (r.positive_outcomes || 0), 0);\n  if (totalAttempts >= 10 && totalPositive === 0) {\n    skipToday = true;\n    skipReason = `Day ${today} has 0% connect rate over ${totalAttempts} attempts - skipping`;\n  }\n}\n\nreturn [{ json: { _timing_data: rows, _skip_today: skipToday, _reason: skipReason || 'Timing data logged - proceeding with calls' } }];"
      },
      "id": "evaluate-timing-data",
      "name": "Evaluate Timing Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 0],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 10:30AM Tue-Thu (VM Retries)": {
      "main": [
        [{ "node": "Query Best Outreach Timing", "type": "main", "index": 0 }]
      ]
    },
    "Query Best Outreach Timing": {
      "main": [
        [{ "node": "Evaluate Timing Data", "type": "main", "index": 0 }]
      ]
    },
    "Evaluate Timing Data": {
      "main": [
        [{ "node": "Fetch Voicemail Retry Leads", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Voicemail Retry Leads": {
      "main": [
        [{ "node": "Parse VM Retry Leads (50 max)", "type": "main", "index": 0 }]
      ]
    },
    "Parse VM Retry Leads (50 max)": {
      "main": [
        [{ "node": "Has Leads?", "type": "main", "index": 0 }]
      ]
    },
    "Has Leads?": {
      "main": [
        [{ "node": "TCPA Compliance Gate", "type": "main", "index": 0 }],
        [{ "node": "No Leads Today", "type": "main", "index": 0 }]
      ]
    },
    "TCPA Compliance Gate": {
      "main": [
        [{ "node": "TCPA Passed?", "type": "main", "index": 0 }]
      ]
    },
    "TCPA Passed?": {
      "main": [
        [{ "node": "Lookup Business Agent ID", "type": "main", "index": 0 }],
        [{ "node": "Log TCPA Block", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Business Agent ID": {
      "main": [
        [{ "node": "Create Retell AI Call", "type": "main", "index": 0 }]
      ]
    },
    "Create Retell AI Call": {
      "main": [
        [{ "node": "Update Lead: Call Initiated", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Manual Call Trigger": {
      "main": [
        [{ "node": "Parse Manual Trigger Data", "type": "main", "index": 0 }]
      ]
    },
    "Parse Manual Trigger Data": {
      "main": [
        [
          { "node": "TCPA Compliance Gate", "type": "main", "index": 0 },
          { "node": "Respond: Call Queued", "type": "main", "index": 0 }
        ]
      ]
    },
    "Webhook: Retell Call Complete": {
      "main": [
        [{ "node": "Parse Retell Call Result", "type": "main", "index": 0 }]
      ]
    },
    "Parse Retell Call Result": {
      "main": [
        [
          { "node": "Update Lead: Call Result", "type": "main", "index": 0 },
          { "node": "Log Call to Supabase", "type": "main", "index": 0 },
          { "node": "Log to Outreach Intelligence", "type": "main", "index": 0 },
          { "node": "Route by Outcome", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Outcome": {
      "main": [
        [{ "node": "Update Lead: Demo Booked", "type": "main", "index": 0 }],
        [{ "node": "Handle Voicemail + Schedule Retry", "type": "main", "index": 0 }],
        [{ "node": "Update Lead: Not Interested", "type": "main", "index": 0 }],
        []
      ]
    },
    "Update Lead: Demo Booked": {
      "main": [
        [{ "node": "Send Confirmation Email (Resend)", "type": "main", "index": 0 }]
      ]
    },
    "Send Confirmation Email (Resend)": {
      "main": [
        [{ "node": "Telegram: Demo Booked!", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "multi-business" },
    { "name": "voice-calling" },
    { "name": "retell-ai" },
    { "name": "sales" }
  ],
  "triggerCount": 3,
  "updatedAt": "2026-03-16T00:00:00.000Z",
  "versionId": "3",
  "meta": {
    "notes": [
      {
        "id": "retell-agent-prompt",
        "type": "sticky",
        "position": [0, 1100],
        "size": [600, 500],
        "content": "## Retell AI Agent Prompt (Per-Business)\n\nVoice agents are now created automatically per-business during the Birth Protocol (deploy-business workflow).\n\nThe agent prompt is generated from each business's PRD, including:\n- Business name and one-line description\n- Top 3-4 features extracted from PRD\n- Pricing and trial info\n- Persona-appropriate voice selection\n- Dynamic variables: {prospect_name}, {prospect_business}, {booking_link}\n\nVoice mapping:\n- Auto/mechanic/construction/plumbing/hvac -> Professional Male (35-50)\n- Salon/spa/beauty/yoga/fitness/wellness -> Friendly Female (25-35)\n- Law/legal/accounting/financial/consulting -> Authoritative Male (45-60)\n- Tutor/coach/teacher/education -> Warm Female (28-40)\n- Photography/creative/design/marketing -> Energetic Female (25-35)\n- Default -> Professional Male (30-40)\n\nNote: Voice IDs are descriptive placeholders. Configure actual Retell voice IDs in Retell dashboard and update the deploy-business workflow.\n\n## ANTI-AI-DETECTION NOTE\nThe Retell voice agent is already conversational by design. When generating prompts in deploy-business, ensure the agent:\n- NEVER uses banned words: delve, leverage, utilize, streamline, robust, seamless, cutting-edge, game-changer, innovative, revolutionize\n- Uses contractions always (I'm, can't, won't, you're, we're)\n- Sounds like a real person on the phone, not a script reader\n- Uses filler words naturally (honestly, look, here's the thing)\n- References the prospect's name and business name throughout\n- Keeps it short and direct. No monologues."
      },
      {
        "id": "setup-instructions",
        "type": "sticky",
        "position": [700, 1100],
        "size": [500, 400],
        "content": "## Setup Instructions\n\n1. Set RETELL_API_KEY env var with your Retell AI API key\n2. Set RETELL_AGENT_ID env var as fallback for BayFlow (manually configured agent)\n3. Set RETELL_FROM_NUMBER with your Retell phone number\n4. Per-business agent IDs are stored in businesses.retell_agent_id\n5. The Lookup Business Agent ID node queries businesses table for each lead\n6. Falls back to $env.RETELL_AGENT_ID if no per-business agent found\n7. Configure Retell webhook URL to point to: {n8n_base_url}/webhook/retell-call-complete\n8. Create voice_call_log table in Supabase (see schema.sql)\n9. Run retell-schema.sql to add retell columns to businesses table\n10. Rate limit: 50 calls/day enforced by LIMIT 50 in lead query"
      }
    ]
  }
}
