orchestration/workflows/app-tester.json
{
  "name": "App Tester Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 4 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses?select=id,name,site_url,repo_name&status=not.in.(killed,sold)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "fetch-businesses",
      "name": "Fetch Active Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const businesses = $('Fetch Active Businesses').first().json;\nconst items = Array.isArray(businesses) ? businesses : [businesses];\nreturn items.filter(b => b.id && b.site_url).map(b => ({\n  json: {\n    businessId: b.id,\n    businessName: b.name,\n    siteUrl: b.site_url,\n    repoName: b.repo_name,\n    source: 'scheduled'\n  }\n}));"
      },
      "id": "split-businesses",
      "name": "Split Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-app",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook POST /test-app",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400]
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Webhook POST /test-app').first().json;\nreturn [{\n  json: {\n    businessId: webhook.body.businessId,\n    businessName: webhook.body.businessName || webhook.body.businessId,\n    siteUrl: webhook.body.siteUrl,\n    repoName: webhook.body.repoName,\n    source: 'webhook'\n  }\n}];"
      },
      "id": "extract-webhook-params",
      "name": "Extract Webhook Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "// Normalize input from either trigger\nconst item = $input.first().json;\nconst siteUrl = item.siteUrl.replace(/\\/$/, '');\nreturn [{\n  json: {\n    businessId: item.businessId,\n    businessName: item.businessName,\n    siteUrl: siteUrl,\n    repoName: item.repoName,\n    source: item.source,\n    timestamp: new Date().toISOString(),\n    today: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Input').first().json.siteUrl + '/' }}",
        "options": { "timeout": 30000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-landing",
      "name": "Test Landing Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, -400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Input').first().json.siteUrl + '/login' }}",
        "options": { "timeout": 15000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-login",
      "name": "Test Login Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, -250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Input').first().json.siteUrl + '/signup' }}",
        "options": { "timeout": 15000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-signup",
      "name": "Test Signup Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, -100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Input').first().json.siteUrl + '/contact' }}",
        "options": { "timeout": 15000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-contact",
      "name": "Test Contact Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Input').first().json.siteUrl + '/demo' }}",
        "options": { "timeout": 15000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-demo",
      "name": "Test Demo Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Input').first().json.siteUrl + '/blog' }}",
        "options": { "timeout": 15000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-blog",
      "name": "Test Blog Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Input').first().json.siteUrl + '/api/health' }}",
        "options": { "timeout": 10000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-health",
      "name": "Test API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const params = $('Normalize Input').first().json;\nconst pages = [\n  { name: 'Landing Page (/)', node: 'Test Landing Page' },\n  { name: 'Login (/login)', node: 'Test Login Page' },\n  { name: 'Signup (/signup)', node: 'Test Signup Page' },\n  { name: 'Contact (/contact)', node: 'Test Contact Page' },\n  { name: 'Demo (/demo)', node: 'Test Demo Page' },\n  { name: 'Blog (/blog)', node: 'Test Blog Page' },\n  { name: 'API Health (/api/health)', node: 'Test API Health' }\n];\n\nconst results = [];\nfor (const page of pages) {\n  try {\n    const res = $(page.node).first().json;\n    const statusCode = res.statusCode || res.status || 0;\n    const isHealth = page.name.includes('/api/health');\n    if (statusCode === 200) {\n      results.push({ page: page.name, status: 'PASS', statusCode, detail: 'OK' });\n    } else if (statusCode === 404 && isHealth) {\n      results.push({ page: page.name, status: 'SKIP', statusCode, detail: 'API health endpoint not configured (optional)' });\n    } else if (statusCode === 404) {\n      results.push({ page: page.name, status: 'WARN', statusCode, detail: 'Page not found (404)' });\n    } else if (statusCode >= 500) {\n      results.push({ page: page.name, status: 'FAIL', statusCode, detail: `Server error (${statusCode})` });\n    } else if (statusCode === 0) {\n      results.push({ page: page.name, status: 'FAIL', statusCode: 0, detail: 'Connection failed or timeout' });\n    } else {\n      results.push({ page: page.name, status: 'WARN', statusCode, detail: `Unexpected status code ${statusCode}` });\n    }\n  } catch (e) {\n    results.push({ page: page.name, status: 'FAIL', statusCode: 0, detail: 'Error: ' + e.message });\n  }\n}\n\n// Store landing page HTML for SEO and link checker suites\nlet landingHtml = '';\ntry {\n  const landingRes = $('Test Landing Page').first().json;\n  landingHtml = (landingRes.body || landingRes.data || '').toString();\n} catch (e) {\n  landingHtml = '';\n}\n\nreturn [{ json: { pageLoadResults: results, landingHtml } }];"
      },
      "id": "parse-page-loads",
      "name": "Parse Page Load Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 50]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url=' + encodeURIComponent($('Normalize Input').first().json.siteUrl) + '&strategy=mobile&category=performance&category=accessibility&category=seo' }}",
        "options": { "timeout": 90000 }
      },
      "id": "pagespeed-check",
      "name": "PageSpeed Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $('PageSpeed Insights').first().json;\nlet performance = null, accessibility = null, seo = null, error = null;\ntry {\n  if (raw.lighthouseResult) {\n    const cats = raw.lighthouseResult.categories;\n    performance = Math.round((cats.performance?.score || 0) * 100);\n    accessibility = Math.round((cats.accessibility?.score || 0) * 100);\n    seo = Math.round((cats.seo?.score || 0) * 100);\n  } else {\n    error = raw.error?.message || 'PageSpeed returned no results';\n  }\n} catch (e) {\n  error = 'Failed to parse PageSpeed response: ' + e.message;\n}\n\nconst results = [];\nif (error) {\n  results.push({ test: 'PageSpeed Insights', status: 'FAIL', detail: error });\n} else {\n  results.push({ test: 'Performance >= 50', status: performance >= 50 ? 'PASS' : 'FAIL', score: performance, detail: `Score: ${performance}/100` });\n  results.push({ test: 'Accessibility >= 80', status: accessibility >= 80 ? 'PASS' : 'FAIL', score: accessibility, detail: `Score: ${accessibility}/100` });\n  results.push({ test: 'SEO >= 80', status: seo >= 80 ? 'PASS' : 'FAIL', score: seo, detail: `Score: ${seo}/100` });\n}\n\nreturn [{ json: { performanceResults: results, scores: { performance, accessibility, seo } } }];"
      },
      "id": "parse-pagespeed",
      "name": "Parse PageSpeed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 700]
    },
    {
      "parameters": {
        "jsCode": "const params = $('Normalize Input').first().json;\nconst landingHtml = $('Parse Page Load Results').first().json.landingHtml;\nconst fullHtml = landingHtml;\nconst html = landingHtml.toLowerCase();\n\nconst results = [];\n\nif (!html || html.length < 100) {\n  results.push({ test: 'Site Reachable for SEO', status: 'FAIL', detail: 'Could not fetch landing page HTML' });\n  return [{ json: { seoResults: results } }];\n}\n\n// Title tag\nconst titleMatch = fullHtml.match(/<title[^>]*>([^<]+)<\\/title>/i);\nresults.push({\n  test: 'Title tag exists',\n  status: titleMatch && titleMatch[1].trim().length > 0 ? 'PASS' : 'FAIL',\n  detail: titleMatch ? `Title: \"${titleMatch[1].trim().substring(0, 80)}\"` : 'Missing <title> tag'\n});\n\n// Meta description\nconst metaDescMatch = fullHtml.match(/<meta[^>]*name\\s*=\\s*[\"']description[\"'][^>]*content\\s*=\\s*[\"']([^\"']+)[\"']/i)\n  || fullHtml.match(/<meta[^>]*content\\s*=\\s*[\"']([^\"']+)[\"'][^>]*name\\s*=\\s*[\"']description[\"']/i);\nresults.push({\n  test: 'Meta description exists',\n  status: metaDescMatch ? 'PASS' : 'FAIL',\n  detail: metaDescMatch ? `Description: \"${metaDescMatch[1].substring(0, 80)}...\"` : 'Missing meta description'\n});\n\n// OG image\nconst ogImageMatch = fullHtml.match(/<meta[^>]*property\\s*=\\s*[\"']og:image[\"'][^>]*>/i);\nresults.push({\n  test: 'OG image exists',\n  status: ogImageMatch ? 'PASS' : 'WARN',\n  detail: ogImageMatch ? 'Found og:image tag' : 'Missing og:image meta tag'\n});\n\n// Favicon\nconst faviconMatch = fullHtml.match(/<link[^>]*rel\\s*=\\s*[\"'](icon|shortcut icon|apple-touch-icon)[\"'][^>]*>/i);\nresults.push({\n  test: 'Favicon exists',\n  status: faviconMatch ? 'PASS' : 'WARN',\n  detail: faviconMatch ? 'Found favicon link' : 'Missing favicon link tag'\n});\n\n// H1 tag\nconst h1Match = fullHtml.match(/<h1[^>]*>/i);\nresults.push({\n  test: 'H1 tag exists',\n  status: h1Match ? 'PASS' : 'FAIL',\n  detail: h1Match ? 'Found H1 tag' : 'Missing H1 tag'\n});\n\n// Canonical URL\nconst canonicalMatch = fullHtml.match(/<link[^>]*rel\\s*=\\s*[\"']canonical[\"'][^>]*>/i);\nresults.push({\n  test: 'Canonical URL exists',\n  status: canonicalMatch ? 'PASS' : 'WARN',\n  detail: canonicalMatch ? 'Found canonical link' : 'Missing canonical URL'\n});\n\n// Robots meta not noindex\nconst robotsMetaMatch = fullHtml.match(/<meta[^>]*name\\s*=\\s*[\"']robots[\"'][^>]*content\\s*=\\s*[\"']([^\"']+)[\"']/i);\nif (robotsMetaMatch && robotsMetaMatch[1].toLowerCase().includes('noindex')) {\n  results.push({ test: 'Not noindex', status: 'FAIL', detail: 'Page has noindex robots meta tag' });\n} else {\n  results.push({ test: 'Not noindex', status: 'PASS', detail: robotsMetaMatch ? `Robots: ${robotsMetaMatch[1]}` : 'No robots meta tag (defaults to index)' });\n}\n\n// JSON-LD structured data\nconst jsonLdMatch = fullHtml.match(/<script[^>]*type\\s*=\\s*[\"']application\\/ld\\+json[\"'][^>]*>/i);\nresults.push({\n  test: 'Structured data (JSON-LD) exists',\n  status: jsonLdMatch ? 'PASS' : 'WARN',\n  detail: jsonLdMatch ? 'Found JSON-LD structured data' : 'Missing JSON-LD structured data'\n});\n\nreturn [{ json: { seoResults: results } }];"
      },
      "id": "seo-meta-checks",
      "name": "SEO & Meta Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Input').first().json.siteUrl + '/sitemap.xml' }}",
        "options": { "timeout": 10000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-sitemap",
      "name": "Test Sitemap.xml",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, -300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Normalize Input').first().json.siteUrl + '/robots.txt' }}",
        "options": { "timeout": 10000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "test-robots",
      "name": "Test Robots.txt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, -450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const params = $('Normalize Input').first().json;\nconst landingHtml = $('Parse Page Load Results').first().json.landingHtml;\n\nif (!landingHtml || landingHtml.length < 100) {\n  return [{ json: { linkResults: [{ test: 'Link Checker', status: 'SKIP', detail: 'No landing page HTML to parse' }], brokenLinks: [] } }];\n}\n\n// Extract all href links\nconst hrefRegex = /<a[^>]*href\\s*=\\s*[\"']([^\"'#]+)[\"'][^>]*>/gi;\nconst links = new Set();\nlet match;\nwhile ((match = hrefRegex.exec(landingHtml)) !== null) {\n  let href = match[1].trim();\n  // Only internal links\n  if (href.startsWith('/')) {\n    href = params.siteUrl + href;\n    links.add(href);\n  } else if (href.startsWith(params.siteUrl)) {\n    links.add(href);\n  }\n}\n\n// Return links to check (limit to 20 to avoid abuse)\nconst linkArray = Array.from(links).slice(0, 20);\nreturn linkArray.map(url => ({ json: { url, siteUrl: params.siteUrl } }));"
      },
      "id": "extract-links",
      "name": "Extract Internal Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": { "timeout": 10000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "check-link",
      "name": "Check Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $('Check Link').all();\nconst extractedItems = $('Extract Internal Links').all();\nconst results = [];\nconst brokenLinks = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const res = items[i].json;\n  const url = extractedItems[i]?.json?.url || 'unknown';\n  const statusCode = res.statusCode || res.status || 0;\n  if (statusCode >= 200 && statusCode < 400) {\n    results.push({ url, status: 'PASS', statusCode, detail: 'OK' });\n  } else if (statusCode === 404) {\n    results.push({ url, status: 'FAIL', statusCode, detail: 'Broken link (404)' });\n    brokenLinks.push(url);\n  } else if (statusCode >= 500) {\n    results.push({ url, status: 'FAIL', statusCode, detail: `Server error (${statusCode})` });\n    brokenLinks.push(url);\n  } else {\n    results.push({ url, status: 'WARN', statusCode, detail: `Status ${statusCode}` });\n  }\n}\n\nreturn [{ json: { linkResults: results, brokenLinks } }];"
      },
      "id": "parse-link-results",
      "name": "Parse Link Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.browser-use.com/api/v1/run-task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.BROWSER_USE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task: 'Go to ' + $('Normalize Input').first().json.siteUrl + ', open browser console, check for JavaScript errors. Report any errors found. If no errors, report \"No console errors found.\"', save_browser_data: true }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "browser-console-check",
      "name": "Browser Console Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 900],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.browser-use.com/api/v1/run-task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.BROWSER_USE_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task: 'Go to ' + $('Normalize Input').first().json.siteUrl + '/signup, try to create an account with email test_' + Date.now() + '@test.com and password Test123456!. Report whether signup succeeds or fails and any error messages seen.', save_browser_data: true }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "browser-signup-test",
      "name": "Browser Signup Test",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 1100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const params = $('Normalize Input').first().json;\n\n// === Suite 1: Page Load Results ===\nconst pageLoadResults = $('Parse Page Load Results').first().json.pageLoadResults;\n\n// === Suite 2: SEO & Meta Results ===\nconst seoResults = $('SEO & Meta Checks').first().json.seoResults;\n\n// Sitemap and Robots.txt\nlet sitemapStatus = 'FAIL';\nlet robotsStatus = 'FAIL';\ntry {\n  const sitemapRes = $('Test Sitemap.xml').first().json;\n  const sitemapCode = sitemapRes.statusCode || sitemapRes.status || 0;\n  sitemapStatus = sitemapCode === 200 ? 'PASS' : 'WARN';\n} catch (e) { sitemapStatus = 'WARN'; }\ntry {\n  const robotsRes = $('Test Robots.txt').first().json;\n  const robotsCode = robotsRes.statusCode || robotsRes.status || 0;\n  robotsStatus = robotsCode === 200 ? 'PASS' : 'WARN';\n} catch (e) { robotsStatus = 'WARN'; }\n\nseoResults.push({ test: 'Sitemap.xml returns 200', status: sitemapStatus, detail: sitemapStatus === 'PASS' ? 'Found sitemap.xml' : 'sitemap.xml not found' });\nseoResults.push({ test: 'Robots.txt returns 200', status: robotsStatus, detail: robotsStatus === 'PASS' ? 'Found robots.txt' : 'robots.txt not found' });\n\n// === Suite 3: Performance Results ===\nconst performanceResults = $('Parse PageSpeed').first().json.performanceResults;\nconst scores = $('Parse PageSpeed').first().json.scores;\n\n// === Suite 4: Link Checker Results ===\nlet linkResults = [];\nlet brokenLinks = [];\ntry {\n  const lr = $('Parse Link Results').first().json;\n  linkResults = lr.linkResults || [];\n  brokenLinks = lr.brokenLinks || [];\n} catch (e) {\n  linkResults = [{ test: 'Link Checker', status: 'SKIP', detail: 'No links to check' }];\n}\n\n// === Suite 5: Console Error Check ===\nlet consoleResult = { test: 'Browser Console Errors', status: 'SKIP', detail: 'Browser Use not configured' };\ntry {\n  const consoleRes = $('Browser Console Check').first().json;\n  if (consoleRes.id || consoleRes.result) {\n    const output = (consoleRes.result || consoleRes.output || '').toString().toLowerCase();\n    if (output.includes('no console errors') || output.includes('no errors')) {\n      consoleResult = { test: 'Browser Console Errors', status: 'PASS', detail: 'No JavaScript console errors detected' };\n    } else {\n      consoleResult = { test: 'Browser Console Errors', status: 'WARN', detail: 'Console errors found: ' + (consoleRes.result || consoleRes.output || '').toString().substring(0, 500) };\n    }\n  }\n} catch (e) { /* SKIP */ }\n\n// === Suite 6: Functional Signup Test ===\nlet signupResult = { test: 'Signup Flow', status: 'SKIP', detail: 'Browser Use not configured' };\ntry {\n  const signupRes = $('Browser Signup Test').first().json;\n  if (signupRes.id || signupRes.result) {\n    const output = (signupRes.result || signupRes.output || '').toString().toLowerCase();\n    if (output.includes('success') || output.includes('account created') || output.includes('welcome')) {\n      signupResult = { test: 'Signup Flow', status: 'PASS', detail: 'Signup test passed' };\n    } else if (output.includes('fail') || output.includes('error')) {\n      signupResult = { test: 'Signup Flow', status: 'FAIL', detail: 'Signup test failed: ' + (signupRes.result || signupRes.output || '').toString().substring(0, 500) };\n    } else {\n      signupResult = { test: 'Signup Flow', status: 'WARN', detail: 'Signup result unclear: ' + (signupRes.result || signupRes.output || '').toString().substring(0, 500) };\n    }\n  }\n} catch (e) { /* SKIP */ }\n\n// === Aggregate all results ===\nconst allResults = [];\n\n// Suite 1\nfor (const r of pageLoadResults) {\n  allResults.push({ suite: 'Page Load', test: r.page, status: r.status, detail: r.detail });\n}\n\n// Suite 2\nfor (const r of seoResults) {\n  allResults.push({ suite: 'SEO & Meta', test: r.test, status: r.status, detail: r.detail });\n}\n\n// Suite 3\nfor (const r of performanceResults) {\n  allResults.push({ suite: 'Performance', test: r.test, status: r.status, detail: r.detail });\n}\n\n// Suite 4\nif (linkResults.length > 0 && linkResults[0].test) {\n  allResults.push({ suite: 'Link Checker', test: linkResults[0].test, status: linkResults[0].status, detail: linkResults[0].detail });\n} else {\n  for (const r of linkResults) {\n    allResults.push({ suite: 'Link Checker', test: r.url || 'Link', status: r.status, detail: r.detail });\n  }\n}\n\n// Suite 5\nallResults.push({ suite: 'Console Errors', ...consoleResult });\n\n// Suite 6\nallResults.push({ suite: 'Functional Tests', ...signupResult });\n\n// === Calculate health score ===\nconst scorable = allResults.filter(r => r.status !== 'SKIP');\nconst passed = scorable.filter(r => r.status === 'PASS').length;\nconst warned = scorable.filter(r => r.status === 'WARN').length;\nconst failed = scorable.filter(r => r.status === 'FAIL').length;\nconst total = scorable.length;\nconst healthScore = total > 0 ? Math.round(((passed + warned * 0.5) / total) * 100) : 0;\n\nconst failures = allResults.filter(r => r.status === 'FAIL');\nconst warnings = allResults.filter(r => r.status === 'WARN');\n\n// === Generate markdown report ===\nlet report = `# App Test Report: ${params.businessName}\\n\\n`;\nreport += `**Date:** ${params.today}\\n`;\nreport += `**Site:** ${params.siteUrl}\\n`;\nreport += `**Health Score:** ${healthScore}/100\\n`;\nreport += `**Results:** ${passed} passed, ${warned} warnings, ${failed} failed, ${allResults.filter(r => r.status === 'SKIP').length} skipped\\n\\n`;\n\nif (scores.performance !== null) {\n  report += `## Lighthouse Scores\\n`;\n  report += `- Performance: ${scores.performance}/100 ${scores.performance >= 50 ? 'PASS' : 'FAIL'}\\n`;\n  report += `- Accessibility: ${scores.accessibility}/100 ${scores.accessibility >= 80 ? 'PASS' : 'FAIL'}\\n`;\n  report += `- SEO: ${scores.seo}/100 ${scores.seo >= 80 ? 'PASS' : 'FAIL'}\\n\\n`;\n}\n\nconst suites = ['Page Load', 'SEO & Meta', 'Performance', 'Link Checker', 'Console Errors', 'Functional Tests'];\nfor (const suite of suites) {\n  const suiteResults = allResults.filter(r => r.suite === suite);\n  if (suiteResults.length === 0) continue;\n  report += `## ${suite}\\n`;\n  for (const r of suiteResults) {\n    const icon = r.status === 'PASS' ? 'PASS' : r.status === 'FAIL' ? 'FAIL' : r.status === 'WARN' ? 'WARN' : 'SKIP';\n    report += `- ${icon} | ${r.test} | ${r.detail}\\n`;\n  }\n  report += `\\n`;\n}\n\nif (failures.length > 0) {\n  report += `## Failures Requiring Action\\n`;\n  for (const f of failures) {\n    report += `- [${f.suite}] ${f.test}: ${f.detail}\\n`;\n  }\n  report += `\\n`;\n}\n\nif (brokenLinks.length > 0) {\n  report += `## Broken Links\\n`;\n  for (const link of brokenLinks) {\n    report += `- ${link}\\n`;\n  }\n  report += `\\n`;\n}\n\nreturn [{\n  json: {\n    businessId: params.businessId,\n    businessName: params.businessName,\n    siteUrl: params.siteUrl,\n    repoName: params.repoName,\n    source: params.source,\n    today: params.today,\n    healthScore,\n    passed,\n    warned,\n    failed,\n    total,\n    failures,\n    warnings,\n    brokenLinks,\n    report,\n    allResults\n  }\n}];"
      },
      "id": "aggregate-all",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/Sluice-Organization/sluice-orchestration/contents/memory-bank/businesses/' + $json.businessId + '/reports/app-test-' + $json.today + '.md' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'App test report for ' + $json.businessName + ' (' + $json.today + ')', content: Buffer.from($json.report).toString('base64') }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "write-report-github",
      "name": "Write Report to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2380, 200],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-failures",
              "leftValue": "={{ $json.failed }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-failures",
      "name": "IF Has Failures",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2380, 500]
    },
    {
      "parameters": {
        "jsCode": "const results = $('Aggregate All Results').first().json;\nconst failures = results.failures;\n\n// Group failures by suite\nconst grouped = {};\nfor (const f of failures) {\n  const key = f.suite;\n  if (!grouped[key]) grouped[key] = [];\n  grouped[key].push(f);\n}\n\nconst issues = [];\nfor (const [suite, items] of Object.entries(grouped)) {\n  let body = `## App Test Failure: ${suite}\\n\\n`;\n  body += `**Business:** ${results.businessName}\\n`;\n  body += `**Site:** ${results.siteUrl}\\n`;\n  body += `**Date:** ${results.today}\\n`;\n  body += `**Health Score:** ${results.healthScore}/100\\n\\n`;\n  body += `### Failures\\n\\n`;\n  for (const item of items) {\n    body += `- **${item.test}**: ${item.detail}\\n`;\n  }\n  body += `\\n### Expected\\nAll tests in this suite should PASS.\\n\\n`;\n  body += `### Actual\\n${items.length} test(s) FAILED.\\n\\n`;\n  body += `---\\n*Auto-created by App Tester Agent*`;\n\n  issues.push({\n    json: {\n      title: `@claude [App Test FAIL] ${suite}: ${items.map(i => i.test).join(', ').substring(0, 120)}`,\n      body,\n      repoName: results.repoName\n    }\n  });\n}\n\nreturn issues;"
      },
      "id": "prepare-failure-issues",
      "name": "Prepare Failure Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.github.com/repos/Sluice-Organization/' + $json.repoName + '/issues' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, body: $json.body, labels: ['app-test', 'automated'] }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "create-failure-issues",
      "name": "Create GitHub Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 400],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: 'App Tester', message: $('Aggregate All Results').first().json.failed > 0 ? $('Aggregate All Results').first().json.businessName + ' app test: ' + $('Aggregate All Results').first().json.failed + ' failures found, issues created. Health score: ' + $('Aggregate All Results').first().json.healthScore + '/100' : $('Aggregate All Results').first().json.businessName + ' app test: ALL PASS (score: ' + $('Aggregate All Results').first().json.healthScore + '/100)', severity: $('Aggregate All Results').first().json.failed > 0 ? 'warning' : 'info', businessId: $('Aggregate All Results').first().json.businessId, requiresResponse: false }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "notify-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses?id=eq.' + $('Aggregate All Results').first().json.businessId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ last_test_date: $('Aggregate All Results').first().json.today, last_test_score: $('Aggregate All Results').first().json.healthScore }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "update-supabase",
      "name": "Update Supabase Business",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 900],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: 'App Tester', message: $('Aggregate All Results').first().json.businessName + ' app test: ALL PASS (score: ' + $('Aggregate All Results').first().json.healthScore + '/100)', severity: 'info', businessId: $('Aggregate All Results').first().json.businessId, requiresResponse: false }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "notify-pass-telegram",
      "name": "Notify Pass Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2620, 100],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 4 AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Businesses": {
      "main": [
        [
          {
            "node": "Split Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Businesses": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST /test-app": {
      "main": [
        [
          {
            "node": "Extract Webhook Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Params": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Test Landing Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Login Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Signup Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Contact Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Demo Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Blog Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test API Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "PageSpeed Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browser Console Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Browser Signup Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Landing Page": {
      "main": [
        [
          {
            "node": "Parse Page Load Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Login Page": {
      "main": [
        [
          {
            "node": "Parse Page Load Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Signup Page": {
      "main": [
        [
          {
            "node": "Parse Page Load Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Contact Page": {
      "main": [
        [
          {
            "node": "Parse Page Load Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Demo Page": {
      "main": [
        [
          {
            "node": "Parse Page Load Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Blog Page": {
      "main": [
        [
          {
            "node": "Parse Page Load Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test API Health": {
      "main": [
        [
          {
            "node": "Parse Page Load Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Page Load Results": {
      "main": [
        [
          {
            "node": "SEO & Meta Checks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Sitemap.xml",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test Robots.txt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Internal Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed Insights": {
      "main": [
        [
          {
            "node": "Parse PageSpeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Internal Links": {
      "main": [
        [
          {
            "node": "Check Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Link": {
      "main": [
        [
          {
            "node": "Parse Link Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO & Meta Checks": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Sitemap.xml": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Robots.txt": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Link Results": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PageSpeed": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browser Console Check": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browser Signup Test": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "Write Report to GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Has Failures",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Supabase Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Report to GitHub": {
      "main": [[]]
    },
    "IF Has Failures": {
      "main": [
        [
          {
            "node": "Prepare Failure Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Pass Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Failure Issues": {
      "main": [
        [
          {
            "node": "Create GitHub Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issues": {
      "main": [[]]
    },
    "Notify Telegram": {
      "main": [[]]
    },
    "Notify Pass Telegram": {
      "main": [[]]
    },
    "Update Supabase Business": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}