orchestration/workflows/ceo-agent-daily.json
{
  "name": "CEO Agent - Daily Review",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 8 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Hardcoded business list (replace getMany which doesn't work for file resource)\nreturn [{ json: { name: 'bayflow', path: 'memory-bank/businesses/bayflow' } }];"
      },
      "id": "list-businesses",
      "name": "List Business Directories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const businesses = $input.all();\nconst results = [];\n\nfor (const biz of businesses) {\n  if (biz.json.name === '_template') continue;\n  results.push({\n    json: {\n      businessId: biz.json.name,\n      businessPath: `memory-bank/businesses/${biz.json.name}`\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "filter-businesses",
      "name": "Filter Active Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/state.md",
        "resource": "file"
      },
      "id": "read-state",
      "name": "Read State",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        660,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/weekly-plan.md",
        "resource": "file"
      },
      "id": "read-plan",
      "name": "Read Weekly Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        660,
        100
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/strategy.md",
        "resource": "file"
      },
      "id": "read-strategy",
      "name": "Read Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $('Read State').first().json.content || '';\nconst strategy = $('Read Strategy').first().json.content || '';\nconst plan = $('Read Weekly Plan').first().json.content || '';\nconst businessId = $('Filter Active Businesses').first().json.businessId;\n\nreturn [{\n  json: {\n    businessId,\n    businessPath: $('Filter Active Businesses').first().json.businessPath,\n    prompt: `Today is ${new Date().toISOString().split('T')[0]}. You are the CEO Agent for ${businessId}.\n\nHere is the current context:\n\n## Current State\n${state}\n\n## Strategy\n${strategy}\n\n## Current Weekly Plan\n${plan}\n\nPerform your daily review:\n1. Assess the current state and any issues\n2. Check metrics trends\n3. Issue any necessary directives\n4. Generate your daily report in the structured format\n\nOutput your report in markdown.`\n  }\n}];"
      },
      "id": "merge-context",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "CEO LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-opus-4-20250514",
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        }
      },
      "id": "anthropic-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1100,
        220
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Merge Context').first().json.businessPath }}/reports/ceo-{{ $now.format('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.text }}",
        "commitMessage": "CEO Agent daily report - {{ $('Merge Context').first().json.businessId }} - {{ $now.format('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "write-report",
      "name": "Write Daily Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1320,
        0
      ]
    }
  ],
  "connections": {
    "Daily 8 AM Trigger": {
      "main": [
        [
          {
            "node": "List Business Directories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Business Directories": {
      "main": [
        [
          {
            "node": "Filter Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Businesses": {
      "main": [
        [
          {
            "node": "Read State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read State": {
      "main": [
        [
          {
            "node": "Read Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Strategy": {
      "main": [
        [
          {
            "node": "Read Weekly Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Weekly Plan": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "CEO LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CEO LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CEO LLM Chain": {
      "main": [
        [
          {
            "node": "Write Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}