orchestration/workflows/ceo-agent-daily.json
{
  "name": "CEO Agent - Daily Review (Control System)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 8 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/system_context",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "*" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "read-system-context",
      "name": "Read System Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/system_config",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "*" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "read-system-config",
      "name": "Read System Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/system_config",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "business_id", "value": "eq._global" },
            { "name": "config_key", "value": "eq.ceo_authority" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "read-ceo-authority",
      "name": "Read CEO Authority",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses?status=not.in.(killed,sold)&select=business_id,name,site_url,repo_name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "list-businesses",
      "name": "List Business Directories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.all().map(i => i.json);\nconst businesses = raw.length === 1 && Array.isArray(raw[0]) ? raw[0] : raw;\nconst results = [];\nfor (const biz of businesses) {\n  const id = biz.business_id || biz.name;\n  if (!id || id === '_template') continue;\n  results.push({ json: { businessId: id, businessPath: 'memory-bank/businesses/' + id, site_url: biz.site_url || '', repo_name: biz.repo_name || '' } });\n}\nif (results.length === 0) results.push({ json: { businessId: 'bayflow', businessPath: 'memory-bank/businesses/bayflow', site_url: '', repo_name: 'bayflow' } });\nreturn results;"
      },
      "id": "filter-businesses",
      "name": "Filter Active Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 400]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/state.md",
        "resource": "file"
      },
      "id": "read-state",
      "name": "Read State",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Filter Active Businesses').first().json.businessPath }}/strategy.md",
        "resource": "file"
      },
      "id": "read-strategy",
      "name": "Read Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [920, 400]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Filter Active Businesses').first().json.businessPath }}/weekly-plan.md",
        "resource": "file"
      },
      "id": "read-plan",
      "name": "Read Weekly Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "jsCode": "const businessPath = $('Filter Active Businesses').first().json.businessPath;\nconst now = new Date();\nconst yesterday = new Date(now);\nyesterday.setDate(yesterday.getDate() - 1);\nconst yesterdayStr = yesterday.toISOString().split('T')[0];\nconst lastMonday = new Date(now);\nconst dayOfWeek = lastMonday.getDay();\nconst daysToMonday = dayOfWeek === 0 ? 6 : (dayOfWeek === 1 ? 7 : dayOfWeek - 1);\nlastMonday.setDate(lastMonday.getDate() - daysToMonday);\nconst lastMondayStr = lastMonday.toISOString().split('T')[0];\nconst lastTuesday = new Date(lastMonday);\nlastTuesday.setDate(lastTuesday.getDate() + 1);\nconst lastTuesdayStr = lastTuesday.toISOString().split('T')[0];\nreturn [{ json: { businessPath, financeReportPath: businessPath + '/reports/finance-' + yesterdayStr + '.md', contentReportPath: businessPath + '/reports/content-' + lastMondayStr + '.md', marketingReportPath: businessPath + '/reports/marketing-' + lastMondayStr + '.md', productReportPath: businessPath + '/reports/product-' + lastTuesdayStr + '.md', yesterdayDate: yesterdayStr, lastMondayDate: lastMondayStr, lastTuesdayDate: lastTuesdayStr } }];"
      },
      "id": "compute-report-dates",
      "name": "Compute Report Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 400]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.financeReportPath }}",
        "resource": "file"
      },
      "id": "read-finance-report",
      "name": "Read Finance Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1580, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Compute Report Dates').first().json.contentReportPath }}",
        "resource": "file"
      },
      "id": "read-content-report",
      "name": "Read Content Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1800, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Compute Report Dates').first().json.marketingReportPath }}",
        "resource": "file"
      },
      "id": "read-marketing-report",
      "name": "Read Marketing Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2020, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Compute Report Dates').first().json.productReportPath }}",
        "resource": "file"
      },
      "id": "read-product-report",
      "name": "Read Product Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2240, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const businessId = $('Filter Active Businesses').first().json.businessId;\nconst businessPath = $('Filter Active Businesses').first().json.businessPath;\nconst dates = $('Compute Report Dates').first().json;\n\nconst state = $('Read State').first().json.content || '';\nconst strategy = $('Read Strategy').first().json.content || '';\nconst plan = $('Read Weekly Plan').first().json.content || '';\nconst stateSha = $('Read State').first().json.sha || '';\n\nconst financeNode = $('Read Finance Report').first();\nconst contentNode = $('Read Content Report').first();\nconst marketingNode = $('Read Marketing Report').first();\nconst productNode = $('Read Product Report').first();\n\nconst financeReport = (financeNode && !financeNode.json.error) ? (financeNode.json.content || '') : '[No finance report available]';\nconst contentReport = (contentNode && !contentNode.json.error) ? (contentNode.json.content || '') : '[No content report available]';\nconst marketingReport = (marketingNode && !marketingNode.json.error) ? (marketingNode.json.content || '') : '[No marketing report available]';\nconst productReport = (productNode && !productNode.json.error) ? (productNode.json.content || '') : '[No product report available]';\n\n// Parse system_context rows into a map\nfunction parseSupabaseArray(nodeName) {\n  try {\n    const first = $(nodeName).first().json;\n    return Array.isArray(first) ? first : [first];\n  } catch (e) { return []; }\n}\n\nconst contextRows = parseSupabaseArray('Read System Context');\nconst contextMap = {};\nfor (const row of contextRows) {\n  if (row.context_key) contextMap[row.context_key] = row.context_value;\n}\n\nconst configRows = parseSupabaseArray('Read System Config');\nconst configMap = {};\nfor (const row of configRows) {\n  if (row.config_key) configMap[row.config_key] = row.config_value;\n}\n\nconst authorityRows = parseSupabaseArray('Read CEO Authority');\nconst authority = (authorityRows[0] && authorityRows[0].config_value) ? authorityRows[0].config_value : { requires_approval: ['everything'] };\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst configSection = Object.entries(configMap).map(function(entry) {\n  return '### ' + entry[0] + '\\n' + JSON.stringify(entry[1], null, 2);\n}).join('\\n\\n');\n\nconst approvalList = (authority.requires_approval || []).map(function(a) { return '- ' + a; }).join('\\n');\n\nconst prompt = 'Today is ' + today + '. You are the CEO Agent for The Forge, reviewing business: ' + businessId + '.\\n\\nYou have full visibility into all systems and the authority to issue directives.\\n\\n# SECTION 1: LIVE METRICS (from system_context)\\n\\n## Pipeline Summary\\n' + JSON.stringify(contextMap.pipeline_summary || {}, null, 2) + '\\n\\n## Revenue Summary\\n' + JSON.stringify(contextMap.revenue_summary || {}, null, 2) + '\\n\\n## Traffic Summary\\n' + JSON.stringify(contextMap.traffic_summary || {}, null, 2) + '\\n\\n## Content Summary\\n' + JSON.stringify(contextMap.content_summary || {}, null, 2) + '\\n\\n## Email Outreach Summary\\n' + JSON.stringify(contextMap.email_summary || {}, null, 2) + '\\n\\n## Voice Call Summary\\n' + JSON.stringify(contextMap.call_summary || {}, null, 2) + '\\n\\n## Keyword/SEO Summary\\n' + JSON.stringify(contextMap.keyword_summary || {}, null, 2) + '\\n\\n## Budget Summary\\n' + JSON.stringify(contextMap.budget_summary || {}, null, 2) + '\\n\\n## Pending Opportunities\\n' + JSON.stringify(contextMap.opportunities_summary || {}, null, 2) + '\\n\\n## Recent Activity\\n' + JSON.stringify(contextMap.activity_summary || {}, null, 2) + '\\n\\n# SECTION 2: CURRENT CONFIGURATION (system_config)\\nThese are the settings that control all workflows. You can issue actions to change any of these.\\n\\n' + configSection + '\\n\\n# SECTION 3: YOUR AUTHORITY\\n\\n' + JSON.stringify(authority, null, 2) + '\\n\\nYou CAN do these without approval:\\n- Activate/deactivate cold email, AI calling, content, lead gen, SEO monitoring\\n- Expand regions for lead gen\\n- Scale email daily limits\\n- Activate paid ads (up to max_daily_ad_spend)\\n- Launch a new business\\n\\nYou NEED human approval for:\\n' + approvalList + '\\n\\n# SECTION 4: STATE & STRATEGY (from GitHub)\\n\\n## Current State\\n' + state + '\\n\\n## Strategy\\n' + strategy + '\\n\\n## Current Weekly Plan\\n' + plan + '\\n\\n# SECTION 5: AGENT REPORTS\\n\\n### Finance Report (' + dates.yesterdayDate + ')\\n' + financeReport + '\\n\\n### Content Report (' + dates.lastMondayDate + ')\\n' + contentReport + '\\n\\n### Marketing Report (' + dates.lastMondayDate + ')\\n' + marketingReport + '\\n\\n### Product Report (' + dates.lastTuesdayDate + ')\\n' + productReport + '\\n\\n# YOUR TASK\\n\\nPerform your daily CEO review:\\n\\n1. **Situation Assessment**: What is the current state of the business? Flag blockers, risks, or anomalies in the metrics.\\n2. **Metrics Analysis**: Review pipeline, traffic, revenue, email, calling, content, and budget data. Identify trends (improving, declining, stagnant).\\n3. **Agent Performance**: Review each agent report. Are they executing? Any gaps?\\n4. **Budget Allocation (CRITICAL)**: You are a performance-driven CEO. Do NOT follow fixed formulas. Look at the DATA and allocate budget to what is WORKING:\\n   - Check CAC per channel (email, calls, ads, SEO). Which has the lowest CAC? SCALE THAT.\\n   - Check conversion rates per channel. Which converts best? DOUBLE DOWN.\\n   - If Google Ads CPA is $50 but cold email CPA is $15, shift budget FROM ads TO more email leads.\\n   - If cold calls book 3x more demos than email, INCREASE_CALL_VOLUME.\\n   - If SEO is driving 60% of signups, INCREASE_CONTENT.\\n   - If a channel has 0 results after 30 days, CUT IT and reallocate.\\n   - Your budget_rules define MAX percentages per channel, not targets. Spend LESS on underperformers.\\n   - Revenue should be reinvested: as MRR grows, auto-upgrade tools (more Apollo leads at $5K MRR, activate ads at $3K MRR, scale email at $2K MRR).\\n   - Always keep 20% reserve. Never spend more than 60% of MRR on growth.\\n5. **Channel Performance Review**: For EACH active channel, report: leads generated, demos booked, customers closed, CAC, trend (improving/declining). Recommend: scale up / maintain / scale down / kill.\\n6. **Strategic Decisions**: Activate/deactivate channels, expand regions, adjust limits, approve opportunities, flag pricing changes.\\n7. **Directives**: Issue specific directives to each agent team.\\n8. **Priority Update**: Update priorities if needed.\\n\\nGenerate your daily CEO report in structured markdown.\\n\\n# OUTPUT FORMAT\\n\\nAfter your report, include TWO special sections:\\n\\n## 1. State Update\\nInclude an updated state.md reflecting any changes:\\n\\n===STATE_UPDATE_START===\\n(Full updated state.md content here, in markdown)\\n===STATE_UPDATE_END===\\n\\n## 2. Actions\\nIf you want to trigger any actions, output them here.\\nEach action is a JSON object on its own line between the markers. Only include actions you actually want to take.\\n\\nValid action types:\\n- EXPAND_LEAD_GEN: params: {regions: [...], queries: [...]}\\n- ACTIVATE_GOOGLE_ADS: params: {keywords: [...], daily_budget: number}\\n- ACTIVATE_META_ADS: params: {daily_budget: number}\\n- SCALE_COLD_EMAIL: params: {new_daily_limit: number}\\n- INCREASE_CONTENT: params: {blog_posts_per_week: number, reel_scripts_per_week: number}\\n- INCREASE_CALL_VOLUME: params: {daily_limit: number}\\n- ADJUST_PRICING: params: {plan: string, new_price: number}\\n- LAUNCH_BUSINESS: params: {businessId: string, businessName: string, businessDescription: string, category: string}\\n- KILL_BUSINESS: params: {businessId: string, businessName: string, reason: string}\\n- REQUEST_HUMAN_DECISION: params: {question: string, context: string, options: [...]}\\n\\n===ACTIONS===\\n{\"type\": \"SCALE_COLD_EMAIL\", \"params\": {\"new_daily_limit\": 50}}\\n{\"type\": \"EXPAND_LEAD_GEN\", \"params\": {\"regions\": [\"texas\"], \"queries\": [\"auto repair shop\"]}}\\n{\"type\": \"REQUEST_HUMAN_DECISION\", \"params\": {\"question\": \"Should we increase ad spend to $100/day?\", \"context\": \"Current CPA is $12\", \"options\": [\"yes\", \"no\"]}}\\n===END_ACTIONS===\\n\\nIf no actions needed, output:\\n===ACTIONS===\\n===END_ACTIONS===';\n\nreturn [{ json: { businessId, businessPath, stateSha, prompt } }];"
      },
      "id": "merge-context",
      "name": "Merge All Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "CEO LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [2680, 200]
    },
    {
      "parameters": {
        "model": "claude-opus-4-6",
        "options": {
          "temperature": 0.3,
          "maxTokensToSample": 6000
        }
      },
      "id": "anthropic-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [2680, 420]
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $('CEO LLM Chain').first().json.text || '';\nconst businessId = $('Merge All Context').first().json.businessId;\nconst businessPath = $('Merge All Context').first().json.businessPath;\nconst stateSha = $('Merge All Context').first().json.stateSha;\n\n// Extract state update\nvar stateUpdate = '';\nconst stateStart = '===STATE_UPDATE_START===';\nconst stateEnd = '===STATE_UPDATE_END===';\nconst startIdx = llmOutput.indexOf(stateStart);\nconst endIdx = llmOutput.indexOf(stateEnd);\nif (startIdx !== -1 && endIdx !== -1) {\n  stateUpdate = llmOutput.substring(startIdx + stateStart.length, endIdx).trim();\n}\n\n// Extract actions - parse each line between markers as a separate JSON object\nvar actions = [];\nconst actionsStart = '===ACTIONS===';\nconst actionsEnd = '===END_ACTIONS===';\nconst aStartIdx = llmOutput.indexOf(actionsStart);\nconst aEndIdx = llmOutput.indexOf(actionsEnd);\nif (aStartIdx !== -1 && aEndIdx !== -1) {\n  const actionsRaw = llmOutput.substring(aStartIdx + actionsStart.length, aEndIdx).trim();\n  if (actionsRaw.length > 0) {\n    const lines = actionsRaw.split('\\n');\n    for (const line of lines) {\n      const trimmed = line.trim();\n      if (trimmed.length === 0) continue;\n      try {\n        const parsed = JSON.parse(trimmed);\n        if (parsed.type) {\n          actions.push(parsed);\n        }\n      } catch (e) { /* skip unparseable lines */ }\n    }\n  }\n}\n\n// CEO report is everything before state update marker\nvar ceoReport = llmOutput;\nif (startIdx !== -1) {\n  ceoReport = llmOutput.substring(0, startIdx).trim();\n}\n\nreturn [{ json: { businessId, businessPath, stateSha, ceoReport, stateUpdate, hasStateUpdate: stateUpdate.length > 0, actions, hasActions: actions.length > 0 } }];"
      },
      "id": "parse-ceo-output",
      "name": "Parse CEO Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/reports/ceo-{{ $now.toFormat('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.ceoReport }}",
        "commitMessage": "CEO Agent daily report - {{ $json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "write-report",
      "name": "Write CEO Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [3120, 0]
    },
    {
      "parameters": {
        "operation": "edit",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/state.md",
        "fileContent": "={{ $json.stateUpdate }}",
        "commitMessage": "CEO Agent state update - {{ $json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}",
        "additionalParameters": {
          "sha": "={{ $json.stateSha }}"
        },
        "resource": "file"
      },
      "id": "update-state",
      "name": "Update State.md",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [3120, 200]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse CEO Output').first().json;\nconst actions = parsed.actions || [];\nconst businessId = parsed.businessId || 'unknown';\nif (actions.length === 0) {\n  return [{ json: { skip: true, message: 'No actions to execute', businessId, actions: [], totalActions: 0 } }];\n}\nreturn [{ json: { skip: false, businessId, actions, totalActions: actions.length } }];"
      },
      "id": "prepare-actions",
      "name": "Prepare Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/ceo-actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ businessId: $json.businessId, actions: $json.actions }) }}",
        "options": {}
      },
      "id": "dispatch-actions",
      "name": "Dispatch Actions via Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3340, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Config updates are now handled by the CEO Action Executor via the webhook dispatch.\n// This node is kept for backward compatibility but produces no output.\nreturn [{ json: { message: 'Config updates delegated to CEO Action Executor', applied: 0 } }];"
      },
      "id": "prepare-config-writes",
      "name": "Prepare Config Writes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3340, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/system_config",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id, config_key: $json.config_key, config_value: $json.config_value, updated_by: $json.updated_by, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "apply-config-update",
      "name": "Apply Config Update to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3560, 600],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 8 AM Trigger": {
      "main": [[
        { "node": "Read System Context", "type": "main", "index": 0 },
        { "node": "Read System Config", "type": "main", "index": 0 },
        { "node": "Read CEO Authority", "type": "main", "index": 0 },
        { "node": "List Business Directories", "type": "main", "index": 0 }
      ]]
    },
    "List Business Directories": {
      "main": [[{ "node": "Filter Active Businesses", "type": "main", "index": 0 }]]
    },
    "Filter Active Businesses": {
      "main": [[{ "node": "Read State", "type": "main", "index": 0 }]]
    },
    "Read State": {
      "main": [[{ "node": "Read Strategy", "type": "main", "index": 0 }]]
    },
    "Read Strategy": {
      "main": [[{ "node": "Read Weekly Plan", "type": "main", "index": 0 }]]
    },
    "Read Weekly Plan": {
      "main": [[{ "node": "Compute Report Dates", "type": "main", "index": 0 }]]
    },
    "Compute Report Dates": {
      "main": [[{ "node": "Read Finance Report", "type": "main", "index": 0 }]]
    },
    "Read Finance Report": {
      "main": [[{ "node": "Read Content Report", "type": "main", "index": 0 }]]
    },
    "Read Content Report": {
      "main": [[{ "node": "Read Marketing Report", "type": "main", "index": 0 }]]
    },
    "Read Marketing Report": {
      "main": [[{ "node": "Read Product Report", "type": "main", "index": 0 }]]
    },
    "Read Product Report": {
      "main": [[{ "node": "Merge All Context", "type": "main", "index": 0 }]]
    },
    "Read System Context": {
      "main": [[{ "node": "Merge All Context", "type": "main", "index": 1 }]]
    },
    "Read System Config": {
      "main": [[{ "node": "Merge All Context", "type": "main", "index": 2 }]]
    },
    "Read CEO Authority": {
      "main": [[{ "node": "Merge All Context", "type": "main", "index": 3 }]]
    },
    "Merge All Context": {
      "main": [[{ "node": "CEO LLM Chain", "type": "main", "index": 0 }]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{ "node": "CEO LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "CEO LLM Chain": {
      "main": [[{ "node": "Parse CEO Output", "type": "main", "index": 0 }]]
    },
    "Parse CEO Output": {
      "main": [[
        { "node": "Write CEO Report", "type": "main", "index": 0 },
        { "node": "Update State.md", "type": "main", "index": 0 },
        { "node": "Prepare Actions", "type": "main", "index": 0 }
      ]]
    },
    "Prepare Actions": {
      "main": [[
        { "node": "Dispatch Actions via Webhook", "type": "main", "index": 0 },
        { "node": "Prepare Config Writes", "type": "main", "index": 0 }
      ]]
    },
    "Prepare Config Writes": {
      "main": [[{ "node": "Apply Config Update to Supabase", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}