orchestration/workflows/comptroller-weekly.json
{
  "name": "Comptroller - Weekly Plan Review",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Monday 10 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses?status=not.in.(killed,sold)&select=business_id,name,site_url,repo_name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "list-businesses",
      "name": "List Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.all().map(i => i.json);\nconst businesses = raw.length === 1 && Array.isArray(raw[0]) ? raw[0] : raw;\nconst results = [];\nfor (const biz of businesses) {\n  const id = biz.business_id || biz.name;\n  if (!id || id === '_template') continue;\n  results.push({ json: { businessId: id, businessName: biz.name || id, businessPath: 'memory-bank/businesses/' + id, repo_name: biz.repo_name || id } });\n}\nif (results.length === 0) return [{ json: { _skip: true, _reason: 'No active businesses found' } }];\nreturn results;"
      },
      "id": "filter-businesses",
      "name": "Filter Active Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/state.md",
        "resource": "file"
      },
      "id": "read-state",
      "name": "Read State",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Filter Active Businesses').first().json.businessPath }}/strategy.md",
        "resource": "file"
      },
      "id": "read-strategy",
      "name": "Read Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Filter Active Businesses').first().json.businessPath }}/content-strategy.md",
        "resource": "file"
      },
      "id": "read-content-strategy",
      "name": "Read Content Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Filter Active Businesses').first().json.businessPath }}/weekly-plan.md",
        "resource": "file"
      },
      "id": "read-plan",
      "name": "Read Weekly Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst yyyy = today.getFullYear();\nconst mm = String(today.getMonth() + 1).padStart(2, '0');\nconst dd = String(today.getDate()).padStart(2, '0');\nconst todayStr = `${yyyy}-${mm}-${dd}`;\n\n// Yesterday\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\nconst yy = yesterday.getFullYear();\nconst ym = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst yd = String(yesterday.getDate()).padStart(2, '0');\nconst yesterdayStr = `${yy}-${ym}-${yd}`;\n\nconst businessPath = $('Filter Active Businesses').first().json.businessPath;\n\nreturn [{\n  json: {\n    todayStr,\n    yesterdayStr,\n    businessPath,\n    ceoReportPathToday: `${businessPath}/reports/ceo-${todayStr}.md`,\n    ceoReportPathYesterday: `${businessPath}/reports/ceo-${yesterdayStr}.md`,\n    financeReportPathToday: `${businessPath}/reports/finance-${todayStr}.md`,\n    financeReportPathYesterday: `${businessPath}/reports/finance-${yesterdayStr}.md`,\n    contentReportPathToday: `${businessPath}/reports/content-${todayStr}.md`,\n    contentReportPathYesterday: `${businessPath}/reports/content-${yesterdayStr}.md`\n  }\n}];"
      },
      "id": "compute-report-dates",
      "name": "Compute Report Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.ceoReportPathToday }}",
        "resource": "file"
      },
      "id": "read-ceo-today",
      "name": "Read CEO Report Today",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1760, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Compute Report Dates').first().json.ceoReportPathYesterday }}",
        "resource": "file"
      },
      "id": "read-ceo-yesterday",
      "name": "Read CEO Report Yesterday",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1980, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Compute Report Dates').first().json.financeReportPathToday }}",
        "resource": "file"
      },
      "id": "read-finance-today",
      "name": "Read Finance Report Today",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2200, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Compute Report Dates').first().json.financeReportPathYesterday }}",
        "resource": "file"
      },
      "id": "read-finance-yesterday",
      "name": "Read Finance Report Yesterday",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2420, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Compute Report Dates').first().json.contentReportPathToday }}",
        "resource": "file"
      },
      "id": "read-content-today",
      "name": "Read Content Report Today",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2640, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Compute Report Dates').first().json.contentReportPathYesterday }}",
        "resource": "file"
      },
      "id": "read-content-yesterday",
      "name": "Read Content Report Yesterday",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2860, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const businessId = $('Filter Active Businesses').first().json.businessId;\nconst businessPath = $('Filter Active Businesses').first().json.businessPath;\n\n// Seed files\nconst state = $('Read State').first().json.content || '';\nconst strategy = $('Read Strategy').first().json.content || '';\nconst contentStrategy = $('Read Content Strategy').first().json.content || '';\nconst weeklyPlan = $('Read Weekly Plan').first().json.content || '';\nconst weeklyPlanSha = $('Read Weekly Plan').first().json.sha || '';\n\n// Agent reports - try today first, fall back to yesterday\nfunction getReport(todayNode, yesterdayNode) {\n  try {\n    const todayData = $(todayNode).first().json;\n    if (todayData.content && !todayData.error) return todayData.content;\n  } catch(e) {}\n  try {\n    const yesterdayData = $(yesterdayNode).first().json;\n    if (yesterdayData.content && !yesterdayData.error) return yesterdayData.content;\n  } catch(e) {}\n  return '(No recent report found)';\n}\n\nconst ceoReport = getReport('Read CEO Report Today', 'Read CEO Report Yesterday');\nconst financeReport = getReport('Read Finance Report Today', 'Read Finance Report Yesterday');\nconst contentReport = getReport('Read Content Report Today', 'Read Content Report Yesterday');\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst prompt = `You are the Comptroller agent for The Forge. Today is ${today}. You are reviewing the weekly plan for business: ${businessId}.\n\nYour job is to enforce fiscal discipline, strategic alignment, and operational rigor. You have ENFORCEMENT POWER: if the weekly plan is misaligned with strategy, financially unsound, or ignores agent reports, you MUST reject it and issue a revised plan.\n\n## INPUTS\n\n### Current State\n${state}\n\n### Strategy\n${strategy}\n\n### Content Strategy\n${contentStrategy}\n\n### Current Weekly Plan\n${weeklyPlan}\n\n### Latest CEO Report\n${ceoReport}\n\n### Latest Finance Report\n${financeReport}\n\n### Latest Content Report\n${contentReport}\n\n## YOUR REVIEW PROCESS\n\n1. Cross-reference the weekly plan against ALL agent reports above. Are the plan's priorities reflected in what agents are actually doing? Are agent reports surfacing issues the plan ignores?\n2. Apply the 5 first-principles questions:\n   - Is this the highest-leverage use of resources this week?\n   - Does this move the #1 metric (distribution/users)?\n   - Are we spending money we don't have?\n   - Is there a faster/cheaper way to achieve the same outcome?\n   - What are we NOT doing that we should be?\n3. Apply the 3 content-specific questions:\n   - Is the content strategy driving measurable traffic?\n   - Are we creating content nobody asked for?\n   - Is the content pipeline sustainable at current pace?\n4. Check early warning triggers:\n   - Burn rate exceeding plan\n   - Zero user growth for 2+ weeks\n   - Agent reports showing blocked/stalled work\n   - Strategy drift (plan diverging from stated strategy)\n\n## OUTPUT FORMAT\n\nFirst, output your structured review with findings.\n\nThen output your verdict on a line by itself: either APPROVED or REJECTED\n\nIf REJECTED, you MUST output a complete revised weekly plan between delimiters. The revised plan should be a full replacement for weekly-plan.md, not a diff.\n\n===REVISED_PLAN_START===\n(your complete revised weekly-plan.md content here)\n===REVISED_PLAN_END===\n\nIf APPROVED, do NOT include the revised plan delimiters.`;\n\nreturn [{\n  json: {\n    businessId,\n    businessPath,\n    weeklyPlanSha,\n    prompt\n  }\n}];"
      },
      "id": "merge-context",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "Comptroller LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [3300, 0]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {
          "temperature": 0.2,
          "maxTokensToSample": 2500
        }
      },
      "id": "anthropic-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [3300, 220]
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $('Comptroller LLM Chain').first().json.text || '';\nconst businessId = $('Merge Context').first().json.businessId;\nconst businessPath = $('Merge Context').first().json.businessPath;\nconst weeklyPlanSha = $('Merge Context').first().json.weeklyPlanSha;\n\n// Determine verdict\nconst rejected = llmOutput.includes('REJECTED');\n\n// Extract revised plan if rejected\nlet revisedPlan = '';\nif (rejected) {\n  const startMarker = '===REVISED_PLAN_START===';\n  const endMarker = '===REVISED_PLAN_END===';\n  const startIdx = llmOutput.indexOf(startMarker);\n  const endIdx = llmOutput.indexOf(endMarker);\n  if (startIdx !== -1 && endIdx !== -1) {\n    revisedPlan = llmOutput.substring(startIdx + startMarker.length, endIdx).trim();\n  }\n}\n\nreturn [{\n  json: {\n    verdict: rejected ? 'REJECTED' : 'APPROVED',\n    rejected,\n    revisedPlan,\n    reviewText: llmOutput,\n    businessId,\n    businessPath,\n    weeklyPlanSha\n  }\n}];"
      },
      "id": "parse-verdict",
      "name": "Parse Verdict",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "rejected-check",
              "leftValue": "={{ $json.rejected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-rejected",
      "name": "IF Rejected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3740, 0]
    },
    {
      "parameters": {
        "operation": "edit",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/weekly-plan.md",
        "fileContent": "={{ $json.revisedPlan }}",
        "commitMessage": "Comptroller REJECTED weekly plan - revised - {{ $json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}",
        "additionalParameters": {
          "sha": "={{ $json.weeklyPlanSha }}"
        },
        "resource": "file"
      },
      "id": "update-weekly-plan",
      "name": "Update Weekly Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [3960, -100]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/comptroller/review-{{ $now.toFormat('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.reviewText }}",
        "commitMessage": "Comptroller review (REJECTED) - {{ $json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "write-review-rejected",
      "name": "Write Review (Rejected)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [4180, -100]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/comptroller/review-{{ $now.toFormat('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.reviewText }}",
        "commitMessage": "Comptroller review (APPROVED) - {{ $json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "write-review-approved",
      "name": "Write Review (Approved)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [3960, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: 'Comptroller', message: 'Weekly plan REJECTED for ' + $json.businessId + '. Revised plan has been committed. Review: ' + $json.reviewText.substring(0, 500), severity: 'warning', businessId: $json.businessId, requiresResponse: false }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "notify-telegram",
      "name": "Notify Human (Telegram)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3960, -300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Monday 10 AM Trigger": {
      "main": [
        [
          {
            "node": "List Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Businesses": {
      "main": [
        [
          {
            "node": "Filter Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Businesses": {
      "main": [
        [
          {
            "node": "Read State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read State": {
      "main": [
        [
          {
            "node": "Read Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Strategy": {
      "main": [
        [
          {
            "node": "Read Content Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Strategy": {
      "main": [
        [
          {
            "node": "Read Weekly Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Weekly Plan": {
      "main": [
        [
          {
            "node": "Compute Report Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Report Dates": {
      "main": [
        [
          {
            "node": "Read CEO Report Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CEO Report Today": {
      "main": [
        [
          {
            "node": "Read CEO Report Yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CEO Report Yesterday": {
      "main": [
        [
          {
            "node": "Read Finance Report Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Finance Report Today": {
      "main": [
        [
          {
            "node": "Read Finance Report Yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Finance Report Yesterday": {
      "main": [
        [
          {
            "node": "Read Content Report Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Report Today": {
      "main": [
        [
          {
            "node": "Read Content Report Yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Report Yesterday": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Comptroller LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Comptroller LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Comptroller LLM Chain": {
      "main": [
        [
          {
            "node": "Parse Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Verdict": {
      "main": [
        [
          {
            "node": "IF Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Rejected": {
      "main": [
        [
          {
            "node": "Update Weekly Plan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Human (Telegram)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Review (Approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Weekly Plan": {
      "main": [
        [
          {
            "node": "Write Review (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}