orchestration/workflows/comptroller-weekly.json
{
  "name": "Comptroller - Weekly Plan Review",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Monday 10 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Hardcoded business list (replace getMany which doesn't work for file resource)\nreturn [{ json: { name: 'bayflow', path: 'memory-bank/businesses/bayflow' } }];"
      },
      "id": "list-businesses",
      "name": "List Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const businesses = $input.all();\nconst results = [];\nfor (const biz of businesses) {\n  if (biz.json.name === '_template') continue;\n  results.push({\n    json: {\n      businessId: biz.json.name,\n      businessPath: `memory-bank/businesses/${biz.json.name}`\n    }\n  });\n}\nreturn results;"
      },
      "id": "filter-businesses",
      "name": "Filter Active Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/state.md",
        "resource": "file"
      },
      "id": "read-state",
      "name": "Read State",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        660,
        -150
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/strategy.md",
        "resource": "file"
      },
      "id": "read-strategy",
      "name": "Read Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        660,
        -50
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/content-strategy.md",
        "resource": "file"
      },
      "id": "read-content-strategy",
      "name": "Read Content Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        660,
        50
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/weekly-plan.md",
        "resource": "file"
      },
      "id": "read-plan",
      "name": "Read Weekly Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        660,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $('Read State').first().json.content || '';\nconst strategy = $('Read Strategy').first().json.content || '';\nconst contentStrategy = $('Read Content Strategy').first().json.content || '';\nconst plan = $('Read Weekly Plan').first().json.content || '';\nconst businessId = $('Filter Active Businesses').first().json.businessId;\n\nreturn [{\n  json: {\n    businessId,\n    businessPath: $('Filter Active Businesses').first().json.businessPath,\n    prompt: `Today is ${new Date().toISOString().split('T')[0]}. Review the weekly plan for ${businessId}.\n\nContext:\n\n## Current State\n${state}\n\n## Strategy\n${strategy}\n\n## Content Strategy\n${contentStrategy}\n\n## Weekly Plan\n${plan}\n\nPerform your weekly plan review:\n1. Apply the 5 first-principles questions\n2. Apply the 3 content-specific questions\n3. Check all early warning triggers\n4. Issue your assessment: APPROVED / APPROVED WITH CONCERNS / REJECTED\n5. Provide specific recommended changes\n\nOutput your review in the structured report format.`\n  }\n}];"
      },
      "id": "build-context",
      "name": "Build Review Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "Comptroller LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-opus-4-20250514",
        "options": {
          "temperature": 0.2,
          "maxTokens": 2500
        }
      },
      "id": "anthropic-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1100,
        220
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Build Review Context').first().json.businessPath }}/comptroller/review-{{ $now.format('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.text }}",
        "commitMessage": "Comptroller weekly review - {{ $('Build Review Context').first().json.businessId }} - {{ $now.format('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "write-review",
      "name": "Write Review",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1320,
        0
      ]
    }
  ],
  "connections": {
    "Monday 10 AM Trigger": {
      "main": [
        [
          {
            "node": "List Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Businesses": {
      "main": [
        [
          {
            "node": "Filter Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Businesses": {
      "main": [
        [
          {
            "node": "Read State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read State": {
      "main": [
        [
          {
            "node": "Read Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Strategy": {
      "main": [
        [
          {
            "node": "Read Content Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Strategy": {
      "main": [
        [
          {
            "node": "Read Weekly Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Weekly Plan": {
      "main": [
        [
          {
            "node": "Build Review Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Review Context": {
      "main": [
        [
          {
            "node": "Comptroller LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Comptroller LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Comptroller LLM Chain": {
      "main": [
        [
          {
            "node": "Write Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}