orchestration/workflows/content-agent-weekly.json
{
  "name": "Content Agent - Weekly Production",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Monday 9 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "memory-bank/businesses/bayflow/content-strategy.md",
        "resource": "file"
      },
      "id": "read-content-strategy",
      "name": "Read Content Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "memory-bank/businesses/bayflow/weekly-plan.md",
        "resource": "file"
      },
      "id": "read-plan",
      "name": "Read Weekly Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const contentStrategy = $('Read Content Strategy').first().json.content || '';\nconst plan = $('Read Weekly Plan').first().json.content || '';\n\nreturn [{\n  json: {\n    businessId: 'bayflow',\n    businessPath: 'memory-bank/businesses/bayflow',\n    contentPrompt: `Produce this week's content for BayFlow (auto repair shop software).\n\nContent Strategy:\n${contentStrategy}\n\nWeekly Plan Assignments:\n${plan}\n\nProduce:\n1. Blog posts (2) - full markdown with frontmatter (title, description, date, author, tags), targeting assigned keywords\n2. Reel scripts (2) - short, punchy, result-first\n\nContent Quality Standards:\nBANNED: Em dashes, \"delve\", \"leverage\" (verb), \"utilize\", \"harness\", \"elevate\", \"empower\", \"streamline\", \"robust\", \"seamless\", \"cutting-edge\", \"game-changer\". No \"In today's landscape\" or \"It's important to note\".\nREQUIRED: Write like a shop owner talks. Contractions. Specific numbers. Varied sentence length. Direct and practical.\n\nOutput each piece separated by ---PIECE--- markers. Include type (blog/reel) and metadata for each.`\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Content Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.contentPrompt }}"
      },
      "id": "content-chain",
      "name": "Content Generation Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {
          "temperature": 0.7,
          "maxTokensToSample": 8000
        }
      },
      "id": "sonnet-model",
      "name": "Sonnet Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const generatedContent = $('Content Generation Chain').first().json.text || '';\n\nreturn [{\n  json: {\n    reviewPrompt: `You are a content quality reviewer. Check the following content for BANNED patterns:\n\nBANNED: Em dashes, \"delve\", \"leverage\" (verb), \"utilize\", \"harness\", \"elevate\", \"empower\", \"streamline\", \"robust\", \"seamless\", \"cutting-edge\", \"tapestry\", \"in today's landscape\", \"it's important to note\", \"game-changer\", \"dive in\", \"without further ado\", sentences starting \"In the realm of\", excessive enthusiasm, numbered lists where prose works.\n\nFor each piece, respond with:\n- PASS or FAIL\n- If FAIL, list the specific violations and suggest fixes\n- Check that tone is conversational, uses contractions, and sounds human\n\nContent to review:\n${generatedContent}`,\n    generatedContent\n  }\n}];"
      },
      "id": "quality-review-prompt",
      "name": "Quality Review Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.reviewPrompt }}"
      },
      "id": "review-chain",
      "name": "Quality Review Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "temperature": 0.1,
          "maxTokensToSample": 2000
        }
      },
      "id": "haiku-model",
      "name": "Haiku Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1320,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const review = $json.text || '';\nconst hasFails = review.toLowerCase().includes('fail');\nconst content = $('Quality Review Prompt').first().json.generatedContent || '';\n\nreturn [{\n  json: {\n    passed: !hasFails,\n    review,\n    content,\n    businessId: 'bayflow',\n    businessPath: 'memory-bank/businesses/bayflow'\n  }\n}];"
      },
      "id": "check-quality",
      "name": "Check Quality Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "quality-gate-if",
      "name": "Quality Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/reports/content-{{ $now.toFormat('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "Content Agent weekly output - {{ $json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "save-content",
      "name": "Save Approved Content",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1980,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const review = $json.review || '';\nconst businessId = $json.businessId || 'bayflow';\nconst now = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    businessId,\n    businessPath: $json.businessPath || 'memory-bank/businesses/bayflow',\n    revisionNote: `# Content Revision Required - ${now}\\n\\n## Business: ${businessId}\\n\\n## Quality Review Findings\\n\\n${review}\\n\\n## Action Required\\nRevise content to address the violations listed above and resubmit.\\n`\n  }\n}];"
      },
      "id": "flag-revision",
      "name": "Flag for Revision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        100
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/reports/content-revision-{{ $now.toFormat('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.revisionNote }}",
        "commitMessage": "Content revision needed - {{ $json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "save-revision",
      "name": "Save Revision Notes",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2200,
        100
      ]
    }
  ],
  "connections": {
    "Monday 9 AM Trigger": {
      "main": [
        [
          {
            "node": "Read Content Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Strategy": {
      "main": [
        [
          {
            "node": "Read Weekly Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Weekly Plan": {
      "main": [
        [
          {
            "node": "Build Content Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Content Prompt": {
      "main": [
        [
          {
            "node": "Content Generation Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sonnet Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Generation Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation Chain": {
      "main": [
        [
          {
            "node": "Quality Review Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Review Prompt": {
      "main": [
        [
          {
            "node": "Quality Review Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku Model": {
      "ai_languageModel": [
        [
          {
            "node": "Quality Review Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quality Review Chain": {
      "main": [
        [
          {
            "node": "Check Quality Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quality Results": {
      "main": [
        [
          {
            "node": "Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate": {
      "main": [
        [
          {
            "node": "Save Approved Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag for Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag for Revision": {
      "main": [
        [
          {
            "node": "Save Revision Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}