orchestration/workflows/context-aggregator.json
{
  "name": "System Context Aggregator - Daily 7:30 AM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 7:30 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "not.in.(killed,sold)" },
            { "name": "select", "value": "id,business_id,name,status,current_mrr,total_revenue,total_capital_deployed,launched_at" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-business",
      "name": "Fetch Business Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, -400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/daily_metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "date,mrr,revenue_organic,revenue_paid,revenue_direct,revenue_referral,traffic_total,traffic_organic,traffic_paid,traffic_direct,traffic_referral,signups,trials,conversions,churn_count,churn_mrr,ad_spend,ai_api_cost" },
            { "name": "order", "value": "date.desc" },
            { "name": "limit", "value": "7" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-daily-metrics",
      "name": "Fetch Daily Metrics (7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/cold_email_leads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "status,reply_sentiment,demo_date" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-pipeline",
      "name": "Fetch Pipeline Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/voice_call_log",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "outcome,booking_made,created_at" },
            { "name": "order", "value": "created_at.desc" },
            { "name": "limit", "value": "200" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-calls",
      "name": "Fetch Voice Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/content_performance",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "title,content_type,impressions,clicks,signups_attributed,revenue_attributed,published_at" },
            { "name": "order", "value": "impressions.desc" },
            { "name": "limit", "value": "50" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-content",
      "name": "Fetch Content Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/keyword_performance",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "keyword,current_position,search_volume,clicks_last_30d,impressions_last_30d,last_updated" },
            { "name": "order", "value": "search_volume.desc" },
            { "name": "limit", "value": "30" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-keywords",
      "name": "Fetch Keyword Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/budget_tracking",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "date,daily_budget_limit,total_spend,revenue,balance,circuit_breaker_triggered" },
            { "name": "order", "value": "date.desc" },
            { "name": "limit", "value": "7" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-budget",
      "name": "Fetch Budget Tracking (7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 800],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/opportunities",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,status,ai_score,category,description" },
            { "name": "status", "value": "in.(raw,scored)" },
            { "name": "order", "value": "ai_score.desc.nullslast" },
            { "name": "limit", "value": "10" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-opportunities",
      "name": "Fetch Pending Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 1000],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/activities",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "activity_type,channel,details,created_at" },
            { "name": "order", "value": "created_at.desc" },
            { "name": "limit", "value": "50" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-activities",
      "name": "Fetch Recent Activities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 1200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/cold_email_log",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "email_type,sent,sent_at" },
            { "name": "sent", "value": "eq.true" },
            { "name": "order", "value": "sent_at.desc" },
            { "name": "limit", "value": "500" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-email-log",
      "name": "Fetch Email Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 1400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const contextRows = [];\n\nfunction safeArrayAll(nodeName) {\n  try {\n    const items = $(nodeName).all();\n    const first = items[0] && items[0].json;\n    if (Array.isArray(first)) return first;\n    return items.map(i => i.json).filter(i => i && Object.keys(i).length > 0);\n  } catch (e) {\n    return [];\n  }\n}\n\nconst bizRecords = safeArrayAll('Fetch Business Record');\nconst firstBiz = bizRecords[0] || {};\nconst businessId = firstBiz.business_id || 'unknown';\n\nconst now = new Date();\nconst sevenDaysAgo = new Date(now);\nsevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);\n\n// 1. PIPELINE SUMMARY\nconst leads = safeArrayAll('Fetch Pipeline Leads');\nconst statusCounts = {};\nfor (const lead of leads) {\n  const s = lead.status || 'new';\n  statusCounts[s] = (statusCounts[s] || 0) + 1;\n}\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'pipeline_summary',\n  context_value: {\n    total_leads: leads.length,\n    new: statusCounts['new'] || 0,\n    contacted: (statusCounts['contacted'] || 0) + (statusCounts['follow_up_1'] || 0) + (statusCounts['follow_up_2'] || 0),\n    replied: statusCounts['replied'] || 0,\n    demo_booked: leads.filter(function(l) { return l.demo_date; }).length,\n    converted: statusCounts['converted'] || 0,\n    completed: statusCounts['completed'] || 0,\n    unsubscribed: statusCounts['unsubscribed'] || 0\n  }\n});\n\n// 2. REVENUE SUMMARY\nconst metrics = safeArrayAll('Fetch Daily Metrics (7d)');\nconst business = safeArrayAll('Fetch Business Record');\nconst biz = business[0] || {};\nvar last7Revenue = 0;\nfor (var i = 0; i < metrics.length; i++) {\n  var m = metrics[i];\n  last7Revenue += Number(m.revenue_organic || 0) + Number(m.revenue_paid || 0) + Number(m.revenue_direct || 0) + Number(m.revenue_referral || 0);\n}\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'revenue_summary',\n  context_value: {\n    mrr: Number(biz.current_mrr || 0),\n    total_revenue: Number(biz.total_revenue || 0),\n    last_7_days_revenue: last7Revenue,\n    total_capital_deployed: Number(biz.total_capital_deployed || 0),\n    status: biz.status || 'unknown'\n  }\n});\n\n// 3. TRAFFIC SUMMARY\nvar yesterday = metrics[0] || {};\nvar dayBefore = metrics[1] || {};\nvar yesterdayTraffic = Number(yesterday.traffic_total || 0);\nvar dayBeforeTraffic = Number(dayBefore.traffic_total || 0);\nvar trend = 'flat';\nif (yesterdayTraffic > dayBeforeTraffic * 1.1) trend = 'up';\nelse if (yesterdayTraffic < dayBeforeTraffic * 0.9) trend = 'down';\nvar last7Signups = 0, last7Churn = 0, last7Traffic = 0;\nfor (var j = 0; j < metrics.length; j++) {\n  last7Signups += Number(metrics[j].signups || 0);\n  last7Churn += Number(metrics[j].churn_count || 0);\n  last7Traffic += Number(metrics[j].traffic_total || 0);\n}\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'traffic_summary',\n  context_value: {\n    yesterday_visitors: yesterdayTraffic,\n    yesterday_organic: Number(yesterday.traffic_organic || 0),\n    yesterday_paid: Number(yesterday.traffic_paid || 0),\n    yesterday_direct: Number(yesterday.traffic_direct || 0),\n    yesterday_referral: Number(yesterday.traffic_referral || 0),\n    last_7_days_total: last7Traffic,\n    last_7_days_signups: last7Signups,\n    last_7_days_churn: last7Churn,\n    trend: trend\n  }\n});\n\n// 4. CONTENT SUMMARY\nvar content = safeArrayAll('Fetch Content Performance');\nvar totalImpressions = 0, totalClicks = 0, totalSignupsFromContent = 0;\nfor (var k = 0; k < content.length; k++) {\n  totalImpressions += Number(content[k].impressions || 0);\n  totalClicks += Number(content[k].clicks || 0);\n  totalSignupsFromContent += Number(content[k].signups_attributed || 0);\n}\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'content_summary',\n  context_value: {\n    total_posts: content.length,\n    total_impressions: totalImpressions,\n    total_clicks: totalClicks,\n    total_signups_attributed: totalSignupsFromContent,\n    ctr_pct: totalImpressions > 0 ? Math.round((totalClicks / totalImpressions) * 10000) / 100 : 0,\n    top_post: content.length > 0 ? content[0].title : 'none'\n  }\n});\n\n// 5. EMAIL SUMMARY\nvar emailLog = safeArrayAll('Fetch Email Log');\nvar recentEmails = emailLog.filter(function(e) {\n  return e.sent_at && new Date(e.sent_at) >= sevenDaysAgo;\n});\nvar repliedLeads = leads.filter(function(l) { return l.status === 'replied'; });\nvar positiveLeads = leads.filter(function(l) { return l.reply_sentiment === 'positive'; });\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'email_summary',\n  context_value: {\n    sent_last_7_days: recentEmails.length,\n    total_replied: repliedLeads.length,\n    reply_rate_pct: recentEmails.length > 0 ? Math.round((repliedLeads.length / recentEmails.length) * 10000) / 100 : 0,\n    positive_rate_pct: repliedLeads.length > 0 ? Math.round((positiveLeads.length / repliedLeads.length) * 10000) / 100 : 0\n  }\n});\n\n// 6. CALL SUMMARY\nvar calls = safeArrayAll('Fetch Voice Calls');\nvar recentCalls = calls.filter(function(c) {\n  return c.created_at && new Date(c.created_at) >= sevenDaysAgo;\n});\nvar totalCalls = recentCalls.length;\nvar connected = recentCalls.filter(function(c) { return c.outcome && c.outcome !== 'no_answer' && c.outcome !== 'voicemail'; });\nvar booked = recentCalls.filter(function(c) { return c.booking_made === true; });\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'call_summary',\n  context_value: {\n    calls_last_7_days: totalCalls,\n    connected: connected.length,\n    connect_rate_pct: totalCalls > 0 ? Math.round((connected.length / totalCalls) * 10000) / 100 : 0,\n    bookings: booked.length,\n    booking_rate_pct: totalCalls > 0 ? Math.round((booked.length / totalCalls) * 10000) / 100 : 0\n  }\n});\n\n// 7. KEYWORD SUMMARY\nvar keywords = safeArrayAll('Fetch Keyword Performance');\nvar top10 = keywords.filter(function(kw) { return kw.current_position && kw.current_position <= 10; });\nvar top3 = keywords.filter(function(kw) { return kw.current_position && kw.current_position <= 3; });\nvar ranked = keywords.filter(function(kw) { return kw.current_position && kw.current_position <= 100; });\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'keyword_summary',\n  context_value: {\n    total_tracked: keywords.length,\n    ranking_top_3: top3.length,\n    ranking_top_10: top10.length,\n    ranking_top_100: ranked.length,\n    top_keywords: top10.slice(0, 5).map(function(kw) { return { keyword: kw.keyword, position: kw.current_position, volume: kw.search_volume }; })\n  }\n});\n\n// 8. BUDGET SUMMARY\nvar budgets = safeArrayAll('Fetch Budget Tracking (7d)');\nvar latestBudget = budgets[0] || {};\nvar totalSpent7d = 0, totalRevenue7d = 0;\nfor (var b = 0; b < budgets.length; b++) {\n  totalSpent7d += Number(budgets[b].total_spend || 0);\n  totalRevenue7d += Number(budgets[b].revenue || 0);\n}\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'budget_summary',\n  context_value: {\n    daily_budget_limit: Number(latestBudget.daily_budget_limit || 0),\n    today_spend: Number(latestBudget.total_spend || 0),\n    today_balance: Number(latestBudget.balance || 0),\n    last_7_days_spend: totalSpent7d,\n    last_7_days_revenue: totalRevenue7d,\n    circuit_breaker_triggered: latestBudget.circuit_breaker_triggered || false\n  }\n});\n\n// 9. OPPORTUNITIES SUMMARY\nvar opps = safeArrayAll('Fetch Pending Opportunities');\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'opportunities_summary',\n  context_value: {\n    pending_count: opps.length,\n    top_opportunities: opps.slice(0, 5).map(function(o) {\n      return {\n        category: o.category,\n        description: (o.description || '').substring(0, 100),\n        score: o.ai_score,\n        status: o.status\n      };\n    })\n  }\n});\n\n// 10. ACTIVITY SUMMARY\nvar activities = safeArrayAll('Fetch Recent Activities');\nvar recentActivities = activities.filter(function(a) {\n  return a.created_at && new Date(a.created_at) >= sevenDaysAgo;\n});\nvar activityCounts = {};\nfor (var x = 0; x < recentActivities.length; x++) {\n  var t = recentActivities[x].activity_type || 'unknown';\n  activityCounts[t] = (activityCounts[t] || 0) + 1;\n}\ncontextRows.push({\n  business_id: businessId,\n  context_key: 'activity_summary',\n  context_value: {\n    total_activities_7d: recentActivities.length,\n    by_type: activityCounts,\n    most_recent: recentActivities.slice(0, 5).map(function(a) {\n      return { type: a.activity_type, channel: a.channel, at: a.created_at };\n    })\n  }\n});\n\nreturn contextRows.map(function(row) { return { json: row }; });"
      },
      "id": "aggregate-context",
      "name": "Aggregate All Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/system_context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id, context_key: $json.context_key, context_value: $json.context_value, updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "upsert-context",
      "name": "Upsert Context Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 7:30 AM Trigger": {
      "main": [[
        { "node": "Fetch Business Record", "type": "main", "index": 0 },
        { "node": "Fetch Daily Metrics (7d)", "type": "main", "index": 0 },
        { "node": "Fetch Pipeline Leads", "type": "main", "index": 0 },
        { "node": "Fetch Voice Calls", "type": "main", "index": 0 },
        { "node": "Fetch Content Performance", "type": "main", "index": 0 },
        { "node": "Fetch Keyword Performance", "type": "main", "index": 0 },
        { "node": "Fetch Budget Tracking (7d)", "type": "main", "index": 0 },
        { "node": "Fetch Pending Opportunities", "type": "main", "index": 0 },
        { "node": "Fetch Recent Activities", "type": "main", "index": 0 },
        { "node": "Fetch Email Log", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Business Record": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 0 }]]
    },
    "Fetch Daily Metrics (7d)": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 1 }]]
    },
    "Fetch Pipeline Leads": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 2 }]]
    },
    "Fetch Voice Calls": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 3 }]]
    },
    "Fetch Content Performance": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 4 }]]
    },
    "Fetch Keyword Performance": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 5 }]]
    },
    "Fetch Budget Tracking (7d)": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 6 }]]
    },
    "Fetch Pending Opportunities": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 7 }]]
    },
    "Fetch Recent Activities": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 8 }]]
    },
    "Fetch Email Log": {
      "main": [[{ "node": "Aggregate All Context", "type": "main", "index": 9 }]]
    },
    "Aggregate All Context": {
      "main": [[{ "node": "Upsert Context Row", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}