orchestration/workflows/content-agent-weekly.json
{
  "name": "Content Agent - Weekly Production",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Monday 9 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses?status=not.in.(killed,sold)&select=business_id,name,site_url,repo_name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-active-businesses",
      "name": "Fetch Active Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.all().map(i => i.json);\nconst businesses = raw.length === 1 && Array.isArray(raw[0]) ? raw[0] : raw;\nconst results = [];\nfor (const biz of businesses) {\n  const id = biz.business_id || biz.name;\n  if (!id || id === '_template') continue;\n  results.push({ json: { businessId: id, businessName: biz.name || id, businessPath: 'memory-bank/businesses/' + id, repo_name: biz.repo_name || id } });\n}\nif (results.length === 0) return [{ json: { _skip: true, _reason: 'No active businesses found' } }];\nreturn results;"
      },
      "id": "split-businesses",
      "name": "Split Into Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/content-strategy.md",
        "resource": "file"
      },
      "id": "read-content-strategy",
      "name": "Read Content Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Split Into Businesses').first().json.businessPath }}/weekly-plan.md",
        "resource": "file"
      },
      "id": "read-plan",
      "name": "Read Weekly Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const contentStrategy = $('Read Content Strategy').first().json.content || '';\nconst plan = $('Read Weekly Plan').first().json.content || '';\n\nreturn [{\n  json: {\n    businessId: $('Split Into Businesses').first().json.businessId,\n    businessPath: $('Split Into Businesses').first().json.businessPath,\n    contentPrompt: `Produce this week's content for ${$('Split Into Businesses').first().json.businessName} (business ID: ${$('Split Into Businesses').first().json.businessId}).\n\nContent Strategy:\n${contentStrategy}\n\nWeekly Plan Assignments:\n${plan}\n\nProduce:\n1. Blog posts (2) - full markdown with frontmatter (title, description, date, author, tags), targeting assigned keywords\n2. Reel scripts (2) - short, punchy, result-first\n\nANTI-AI-DETECTION RULES (MANDATORY):\n- NEVER use: delve, leverage, utilize, harness, elevate, empower, streamline, robust, seamless, cutting-edge, game-changer, innovative, revolutionize, best-in-class, holistic, synergy, paradigm, tapestry\n- NEVER use em dashes. Use commas, periods, or \"--\" instead.\n- NEVER start with \"In today's landscape\" or \"It's important to note\" or \"In the realm of\" or \"Without further ado\"\n- ALWAYS use contractions (I'm, can't, won't, you're, we're, it's, don't, that's)\n- Vary sentence length dramatically. Some 3-word sentences. Some 30-word sentences.\n- Include casual imperfections: sentence fragments, starting sentences with \"And\" or \"But\"\n- Reference specific numbers, dates, dollar amounts, and real scenarios\n- Write like a practitioner sharing real experience, NOT an article mill\n- Have opinions and take positions (\"Most shops waste money on X. Here's why.\")\n- Vary paragraph length dramatically. Some one sentence. Some five sentences.\n- NO listicle format unless it's genuinely the best structure for the topic\n- Write at an 8th grade reading level. Short words. Direct sentences.\n- Sound like a shop owner or mechanic who also knows software, not a content marketer\n\nFor BLOG POSTS:\n- Include specific numbers, dates, anecdotes (\"Last month a shop in Ohio told us...\")\n- Have a clear opinion in each post\n- No \"comprehensive guide\" or \"ultimate guide\" framing\n- Paragraphs should be 1-3 sentences. Vary the length.\n- Use subheadings that sound like someone talking, not SEO headers\n\nFor REEL SCRIPTS:\n- Sound like someone talking to a friend. Fast and direct.\n- Start with a hook that creates tension or curiosity\n- No corporate language. Talk like a real person.\n- Keep it punchy. Every word earns its place.\n- Use \"honestly\", \"look\", \"here's the thing\" naturally\n\nOutput each piece separated by ---PIECE--- markers. Include type (blog/reel) and metadata for each.`\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Content Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.contentPrompt }}"
      },
      "id": "content-chain",
      "name": "Content Generation Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-6"
        },
        "options": {
          "temperature": 0.7,
          "maxTokensToSample": 8000
        }
      },
      "id": "sonnet-model",
      "name": "Sonnet Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const generatedContent = $('Content Generation Chain').first().json.text || '';\n\nreturn [{\n  json: {\n    reviewPrompt: `You are a content quality reviewer specializing in detecting AI-generated text. Your job is to make sure nothing we publish looks or sounds AI-generated.\n\nCheck the following content against ALL of these rules:\n\nBANNED WORDS/PHRASES (instant FAIL if found): delve, leverage (as verb), utilize, harness, elevate, empower, streamline, robust, seamless, cutting-edge, game-changer, innovative, revolutionize, best-in-class, holistic, synergy, paradigm, tapestry, \"in today's landscape\", \"it's important to note\", \"in the realm of\", \"without further ado\", \"dive in\", \"comprehensive guide\", \"ultimate guide\"\n\nBANNED FORMATTING: Em dashes (use commas or \"--\" instead), excessive exclamation marks, overly uniform paragraph lengths, every paragraph being 2-3 sentences (vary it)\n\nREQUIRED (FAIL if missing):\n- Contractions used consistently (I'm, can't, won't, you're, we're, it's, don't)\n- At least some sentences under 5 words and some over 20 words\n- At least 1-2 casual imperfections (sentence fragments, starting with And/But)\n- Specific numbers, dates, or dollar amounts referenced\n- An opinion or position taken (not just neutral info)\n- 8th grade reading level (no jargon-heavy academic tone)\n- For reels: sounds like someone talking, not writing\n\nFor each piece, respond with:\n- PASS or FAIL\n- If FAIL, list every specific violation with the exact text that triggered it\n- Suggest specific rewrites for each violation\n- Rate the \"AI detectability\" on a scale of 1-10 (1 = totally human, 10 = obviously AI). Anything above 4 is a FAIL.\n\nContent to review:\n${generatedContent}`,\n    generatedContent\n  }\n}];"
      },
      "id": "quality-review-prompt",
      "name": "Quality Review Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.reviewPrompt }}"
      },
      "id": "review-chain",
      "name": "Quality Review Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-haiku-4-5-20251001"
        },
        "options": {
          "temperature": 0.1,
          "maxTokensToSample": 2000
        }
      },
      "id": "haiku-model",
      "name": "Haiku Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1320,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const review = $json.text || '';\nconst hasFails = review.toLowerCase().includes('fail');\nconst content = $('Quality Review Prompt').first().json.generatedContent || '';\n\nreturn [{\n  json: {\n    passed: !hasFails,\n    review,\n    content,\n    businessId: $('Split Into Businesses').first().json.businessId,\n    businessPath: $('Split Into Businesses').first().json.businessPath\n  }\n}];"
      },
      "id": "check-quality",
      "name": "Check Quality Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "quality-gate-if",
      "name": "Quality Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/reports/content-{{ $now.toFormat('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "Content Agent weekly output - {{ $json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "save-content",
      "name": "Save Approved Content",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1980,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const review = $json.review || '';\nconst businessId = $json.businessId || 'bayflow';\nconst now = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    businessId,\n    businessPath: $json.businessPath || $('Split Into Businesses').first().json.businessPath,\n    revisionNote: `# Content Revision Required - ${now}\\n\\n## Business: ${businessId}\\n\\n## Quality Review Findings\\n\\n${review}\\n\\n## Action Required\\nRevise content to address the violations listed above and resubmit.\\n`\n  }\n}];"
      },
      "id": "flag-revision",
      "name": "Flag for Revision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        100
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/reports/content-revision-{{ $now.toFormat('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.revisionNote }}",
        "commitMessage": "Content revision needed - {{ $json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "save-revision",
      "name": "Save Revision Notes",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        2200,
        100
      ]
    }
  ],
  "connections": {
    "Monday 9 AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Businesses": {
      "main": [
        [
          {
            "node": "Split Into Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Businesses": {
      "main": [
        [
          {
            "node": "Read Content Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Strategy": {
      "main": [
        [
          {
            "node": "Read Weekly Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Weekly Plan": {
      "main": [
        [
          {
            "node": "Build Content Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Content Prompt": {
      "main": [
        [
          {
            "node": "Content Generation Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sonnet Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Generation Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation Chain": {
      "main": [
        [
          {
            "node": "Quality Review Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Review Prompt": {
      "main": [
        [
          {
            "node": "Quality Review Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku Model": {
      "ai_languageModel": [
        [
          {
            "node": "Quality Review Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Quality Review Chain": {
      "main": [
        [
          {
            "node": "Check Quality Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quality Results": {
      "main": [
        [
          {
            "node": "Quality Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate": {
      "main": [
        [
          {
            "node": "Save Approved Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag for Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag for Revision": {
      "main": [
        [
          {
            "node": "Save Revision Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}