orchestration/workflows/error-notifier.json
{
  "name": "Error Notifier - Email + Telegram",
  "nodes": [
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "fromEmail": "25shapatel@gmail.com",
        "toEmail": "25shapatel@gmail.com",
        "subject": "=⚠️ Forge Workflow Failed: {{ $json.workflow.name }}",
        "emailType": "text",
        "message": "=Workflow: {{ $json.workflow.name }}\nExecution ID: {{ $json.execution.id }}\nError: {{ $json.execution.error.message }}\n\nTime: {{ $now.toISO() }}\n\nCheck n8n for details: https://n8n-production-bb4b.up.railway.app"
      },
      "id": "send-email",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [500, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "Gmail SMTP"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🚨 *Workflow Error*\n\n*Workflow*: {{ $json.workflow.name }}\n*Error*: {{ $json.execution.error.message }}\n*Execution*: {{ $json.execution.id }}\n\n_{{ $now.toISO() }}_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram-error",
      "name": "Send Error Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-cred",
          "name": "Telegram Bot"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
