orchestration/workflows/finance-agent-daily.json
{
  "name": "Finance Agent - Daily Reconciliation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * *" }]
        }
      },
      "id": "daily-trigger",
      "name": "Daily 7 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses?status=not.in.(killed,sold)&select=business_id,name,site_url,repo_name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-active-businesses",
      "name": "Fetch Active Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.all().map(i => i.json);\nconst businesses = raw.length === 1 && Array.isArray(raw[0]) ? raw[0] : raw;\nconst results = [];\nfor (const biz of businesses) {\n  const id = biz.business_id || biz.name;\n  if (!id || id === '_template') continue;\n  results.push({ json: { businessId: id, businessName: biz.name || id, businessPath: 'memory-bank/businesses/' + id, site_url: biz.site_url || '', repo_name: biz.repo_name || id } });\n}\nif (results.length === 0) results.push({ json: { businessId: 'bayflow', businessName: 'BayFlow', businessPath: 'memory-bank/businesses/bayflow', site_url: '', repo_name: 'bayflow' } });\nreturn results;"
      },
      "id": "split-businesses",
      "name": "Split Into Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/state.md"
      },
      "id": "read-state",
      "name": "Read State",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [660, -100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Split Into Businesses').first().json.businessPath }}/strategy.md"
      },
      "id": "read-strategy",
      "name": "Read Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [660, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const state = $('Read State').first().json.content || '';\nconst strategy = $('Read Strategy').first().json.content || '';\nconst bizInfo = $('Split Into Businesses').first().json;\n\nreturn [{\n  json: {\n    businessId: bizInfo.businessId,\n    businessPath: bizInfo.businessPath,\n    prompt: `Today is ${new Date().toISOString().split('T')[0]}. You are the Finance Agent for ${bizInfo.businessName} (business ID: ${bizInfo.businessId}).\n\nYour responsibilities: daily reconciliation, weekly P&L with channel attribution, CAC/LTV/payback tracking, monthly treasury.\n\n## Current State\n${state}\n\n## Strategy (for pricing/budget context)\n${strategy}\n\nPerform your daily financial review:\n\n1. **Revenue Check:** Current MRR, any new subscriptions, any churned customers. Revenue by channel if available (organic, paid, direct, referral).\n\n2. **Expense Tracking:** Current monthly costs breakdown (Supabase, Vercel, Railway, domains, AI API costs, any ad spend). Compare against budget tier allocation.\n\n3. **Budget Compliance:** Are we within the seed stage daily max ($20)? Content/SEO 60%, Product 25%, Reserve 15%. Flag any overspend.\n\n4. **Circuit Breaker Check:** 7-day spend vs 3x trailing revenue. Any campaigns needing ROAS check.\n\n5. **Token Budget:** Estimated AI API costs for this business this cycle. Are we within seed tier (50K tokens/cycle, $30-50/month)?\n\n6. **Metrics:** CAC (if applicable), projected LTV, payback period.\n\nOutput your report in the structured format: Agent name, business, date, status (GREEN/YELLOW/RED), key metrics with trends, actions taken, issues detected, recommendations, needs from CEO Agent.\n\nIMPORTANT: At the very end of your response, output a JSON block with today's metrics delimited by special markers. Use exactly this format:\n\n===METRICS_JSON_START===\n{\n  \"mrr\": 0,\n  \"revenue_organic\": 0,\n  \"revenue_paid\": 0,\n  \"revenue_direct\": 0,\n  \"revenue_referral\": 0,\n  \"traffic_total\": 0,\n  \"traffic_organic\": 0,\n  \"traffic_paid\": 0,\n  \"traffic_direct\": 0,\n  \"traffic_referral\": 0,\n  \"signups\": 0,\n  \"trials\": 0,\n  \"conversions\": 0,\n  \"churn_count\": 0,\n  \"churn_mrr\": 0,\n  \"support_tickets\": 0,\n  \"support_auto_resolved\": 0,\n  \"ad_spend\": 0,\n  \"ai_api_cost\": 0\n}\n===METRICS_JSON_END===\n\nFill in all values with real numbers from the data you have. Use 0 for any metric you cannot determine. The JSON must be valid and contain all fields listed above.`\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Finance Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "Finance LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [880, 0]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "temperature": 0.2,
          "maxTokensToSample": 1500
        }
      },
      "id": "haiku-model",
      "name": "Haiku Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [880, 220]
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $('Finance LLM Chain').first().json.text || '';\n\n// Extract JSON between markers\nconst startMarker = '===METRICS_JSON_START===';\nconst endMarker = '===METRICS_JSON_END===';\nconst startIdx = llmOutput.indexOf(startMarker);\nconst endIdx = llmOutput.indexOf(endMarker);\n\nlet metrics = {\n  mrr: 0,\n  revenue_organic: 0,\n  revenue_paid: 0,\n  revenue_direct: 0,\n  revenue_referral: 0,\n  traffic_total: 0,\n  traffic_organic: 0,\n  traffic_paid: 0,\n  traffic_direct: 0,\n  traffic_referral: 0,\n  signups: 0,\n  trials: 0,\n  conversions: 0,\n  churn_count: 0,\n  churn_mrr: 0,\n  support_tickets: 0,\n  support_auto_resolved: 0,\n  ad_spend: 0,\n  ai_api_cost: 0\n};\n\nif (startIdx !== -1 && endIdx !== -1) {\n  const jsonStr = llmOutput.substring(startIdx + startMarker.length, endIdx).trim();\n  try {\n    const parsed = JSON.parse(jsonStr);\n    // Merge parsed values over defaults so all keys are present\n    metrics = { ...metrics, ...parsed };\n  } catch (e) {\n    // If parse fails, keep defaults (all zeros)\n  }\n}\n\n// Strip the metrics block from the report text for clean GitHub output\nlet reportText = llmOutput;\nif (startIdx !== -1 && endIdx !== -1) {\n  reportText = llmOutput.substring(0, startIdx).trim();\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    metrics,\n    reportText,\n    date: today\n  }\n}];"
      },
      "id": "parse-metrics",
      "name": "Parse Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "business_id", "value": "=eq.{{ $('Split Into Businesses').first().json.businessId }}" },
            { "name": "select", "value": "id" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "lookup-business-id",
      "name": "Lookup Business ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "Sluice-Organization",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Split Into Businesses').first().json.businessPath }}/reports/finance-{{ $now.toFormat('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $('Parse Metrics').first().json.reportText }}",
        "commitMessage": "=Finance Agent daily report - {{ $('Split Into Businesses').first().json.businessId }} - {{ $now.toFormat('yyyy-MM-dd') }}"
      },
      "id": "write-report",
      "name": "Write Finance Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1540, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/daily_metrics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({}, $('Parse Metrics').first().json.metrics, { business_id: $json[0].id, date: $('Parse Metrics').first().json.date })) }}",
        "options": {}
      },
      "id": "insert-daily-metrics",
      "name": "Insert Daily Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "business_id", "value": "=eq.{{ $('Split Into Businesses').first().json.businessId }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_mrr: $('Parse Metrics').first().json.metrics.mrr }) }}",
        "options": {}
      },
      "id": "update-business-mrr",
      "name": "Update Business MRR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/budget_tracking",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json[0].id, date: $('Parse Metrics').first().json.date, stage: 'seed', daily_budget_limit: 20, content_seo_spend: 0, paid_ads_spend: $('Parse Metrics').first().json.metrics.ad_spend || 0, product_spend: 0, ai_api_spend: $('Parse Metrics').first().json.metrics.ai_api_cost || 0, total_spend: ($('Parse Metrics').first().json.metrics.ad_spend || 0) + ($('Parse Metrics').first().json.metrics.ai_api_cost || 0), revenue: $('Parse Metrics').first().json.metrics.mrr / 30, balance: 0 }) }}",
        "options": {}
      },
      "id": "insert-budget-tracking",
      "name": "Insert Budget Tracking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 7 AM Trigger": {
      "main": [[{ "node": "Fetch Active Businesses", "type": "main", "index": 0 }]]
    },
    "Fetch Active Businesses": {
      "main": [[{ "node": "Split Into Businesses", "type": "main", "index": 0 }]]
    },
    "Split Into Businesses": {
      "main": [[{ "node": "Read State", "type": "main", "index": 0 }, { "node": "Read Strategy", "type": "main", "index": 0 }]]
    },
    "Read State": {
      "main": [[{ "node": "Build Finance Prompt", "type": "main", "index": 0 }]]
    },
    "Read Strategy": {
      "main": [[{ "node": "Build Finance Prompt", "type": "main", "index": 0 }]]
    },
    "Build Finance Prompt": {
      "main": [[{ "node": "Finance LLM Chain", "type": "main", "index": 0 }]]
    },
    "Haiku Model": {
      "ai_languageModel": [[{ "node": "Finance LLM Chain", "type": "ai_languageModel", "index": 0 }]]
    },
    "Finance LLM Chain": {
      "main": [[{ "node": "Parse Metrics", "type": "main", "index": 0 }]]
    },
    "Parse Metrics": {
      "main": [[{ "node": "Lookup Business ID", "type": "main", "index": 0 }]]
    },
    "Lookup Business ID": {
      "main": [[
        { "node": "Write Finance Report", "type": "main", "index": 0 },
        { "node": "Insert Daily Metrics", "type": "main", "index": 0 },
        { "node": "Update Business MRR", "type": "main", "index": 0 },
        { "node": "Insert Budget Tracking", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" }
}