orchestration/workflows/marketing-agent-weekly.json
{
  "name": "Marketing Agent - Weekly SEO & Distribution",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Monday 11 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses?status=not.in.(killed,sold)&select=business_id,name,site_url,repo_name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-active-businesses",
      "name": "Fetch Active Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.all().map(i => i.json);\nconst businesses = raw.length === 1 && Array.isArray(raw[0]) ? raw[0] : raw;\nconst results = [];\nfor (const biz of businesses) {\n  const id = biz.business_id || biz.name;\n  if (!id || id === '_template') continue;\n  results.push({ json: { businessId: id, businessName: biz.name || id, businessPath: 'memory-bank/businesses/' + id, repo_name: biz.repo_name || id } });\n}\nif (results.length === 0) results.push({ json: { businessId: 'bayflow', businessName: 'BayFlow', businessPath: 'memory-bank/businesses/bayflow', repo_name: 'bayflow' } });\nreturn results;"
      },
      "id": "split-businesses",
      "name": "Split Into Businesses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/state.md",
        "resource": "file"
      },
      "id": "read-state",
      "name": "Read State",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [660, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Split Into Businesses').first().json.businessPath }}/content-strategy.md",
        "resource": "file"
      },
      "id": "read-content-strategy",
      "name": "Read Content Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [880, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Split Into Businesses').first().json.businessPath }}/weekly-plan.md",
        "resource": "file"
      },
      "id": "read-plan",
      "name": "Read Weekly Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1100, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const state = $('Read State').first().json.content || '';\nconst contentStrategy = $('Read Content Strategy').first().json.content || '';\nconst contentStrategySha = $('Read Content Strategy').first().json.sha || '';\nconst plan = $('Read Weekly Plan').first().json.content || '';\n\nreturn [{\n  json: {\n    businessId: $('Split Into Businesses').first().json.businessId,\n    businessPath: $('Split Into Businesses').first().json.businessPath,\n    contentStrategySha: contentStrategySha,\n    prompt: `Today is ${new Date().toISOString().split('T')[0]}. You are the Marketing Agent for ${$('Split Into Businesses').first().json.businessName} (business ID: ${$('Split Into Businesses').first().json.businessId}).\n\nYou are the most critical revenue agent. Your job is SEO, distribution, social scheduling, and directory submissions.\n\n## Current State\n${state}\n\n## Content Strategy\n${contentStrategy}\n\n## Weekly Plan\n${plan}\n\nPerform your weekly marketing review:\n\n1. **SEO Assessment:** Review which keywords we're targeting, assess ranking potential, identify new keyword opportunities. Check if published blog posts cover our target keywords.\n\n2. **Content Distribution:** For each published blog post, recommend parasite SEO actions (repurpose to Medium, LinkedIn articles, Reddit posts with backlinks to main site).\n\n3. **Directory Submissions:** Check which directories we should submit to (G2, Capterra, GetApp, Product Hunt upcoming, SaaSHub, AlternativeTo). List specific actions.\n\n4. **Social Media:** Recommend social posting schedule for the week. Which platforms, what content to post, when.\n\n5. **Google Search Console:** Recommend pages to submit for indexing.\n\n6. **Recommendations:** What should the Content Agent produce next week based on SEO gaps?\n\nOutput your report in the structured format: Agent name, business, date, status (GREEN/YELLOW/RED), key metrics with trends, actions taken, issues detected, recommendations, needs from CEO Agent.\n\nAFTER your main report, you MUST output an updated version of the content-strategy.md file. This updated version should incorporate your recommendations, update keyword priorities, adjust the editorial calendar, and reflect any new SEO insights from this week's analysis. Output it between these exact delimiters:\n\n===CONTENT_STRATEGY_UPDATE_START===\n(full updated content-strategy.md content here)\n===CONTENT_STRATEGY_UPDATE_END===`\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Marketing Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "Marketing LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {
          "temperature": 0.4,
          "maxTokensToSample": 3000
        }
      },
      "id": "sonnet-model",
      "name": "Sonnet Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1100,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $('Marketing LLM Chain').first().json.text || '';\nconst contentStrategySha = $('Build Marketing Prompt').first().json.contentStrategySha || '';\nconst today = new Date().toISOString().split('T')[0];\n\n// Extract content strategy update\nlet contentStrategyUpdate = '';\nconst startDelimiter = '===CONTENT_STRATEGY_UPDATE_START===';\nconst endDelimiter = '===CONTENT_STRATEGY_UPDATE_END===';\nconst startIdx = llmOutput.indexOf(startDelimiter);\nconst endIdx = llmOutput.indexOf(endDelimiter);\n\nif (startIdx !== -1 && endIdx !== -1) {\n  contentStrategyUpdate = llmOutput.substring(startIdx + startDelimiter.length, endIdx).trim();\n}\n\n// Extract marketing report (everything before the content strategy delimiter)\nlet marketingReport = llmOutput;\nif (startIdx !== -1) {\n  marketingReport = llmOutput.substring(0, startIdx).trim();\n}\n\nreturn [{\n  json: {\n    marketingReport: marketingReport,\n    contentStrategyUpdate: contentStrategyUpdate,\n    contentStrategySha: contentStrategySha,\n    reportDate: today\n  }\n}];"
      },
      "id": "parse-output",
      "name": "Parse Marketing Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Split Into Businesses').first().json.businessPath }}/reports/marketing-{{ $json.reportDate }}.md",
        "fileContent": "={{ $json.marketingReport }}",
        "commitMessage": "=Marketing Agent weekly report - {{ $('Split Into Businesses').first().json.businessId }} - {{ $json.reportDate }}",
        "resource": "file"
      },
      "id": "write-report",
      "name": "Write Marketing Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1540,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "edit",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $('Split Into Businesses').first().json.businessPath }}/content-strategy.md",
        "fileContent": "={{ $json.contentStrategyUpdate }}",
        "commitMessage": "=Marketing Agent updates content-strategy.md - {{ $('Split Into Businesses').first().json.businessId }} - {{ $json.reportDate }}",
        "additionalParameters": {
          "sha": "={{ $json.contentStrategySha }}"
        },
        "resource": "file"
      },
      "id": "update-content-strategy",
      "name": "Update Content Strategy",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1540,
        100
      ]
    }
  ],
  "connections": {
    "Monday 11 AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Businesses": {
      "main": [
        [
          {
            "node": "Split Into Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Businesses": {
      "main": [
        [
          {
            "node": "Read State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read State": {
      "main": [
        [
          {
            "node": "Read Content Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content Strategy": {
      "main": [
        [
          {
            "node": "Read Weekly Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Weekly Plan": {
      "main": [
        [
          {
            "node": "Build Marketing Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Marketing Prompt": {
      "main": [
        [
          {
            "node": "Marketing LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sonnet Model": {
      "ai_languageModel": [
        [
          {
            "node": "Marketing LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Marketing LLM Chain": {
      "main": [
        [
          {
            "node": "Parse Marketing Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Marketing Output": {
      "main": [
        [
          {
            "node": "Write Marketing Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Content Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}