orchestration/workflows/product-agent-weekly.json
{
  "name": "Product Agent - Weekly Review & GitHub Actions Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 2"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Tuesday 9 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "memory-bank/businesses/bayflow/state.md",
        "resource": "file"
      },
      "id": "read-state",
      "name": "Read State",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        220,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "memory-bank/businesses/bayflow/weekly-plan.md",
        "resource": "file"
      },
      "id": "read-plan",
      "name": "Read Weekly Plan",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "memory-bank/businesses/bayflow/reports/support-log.md",
        "resource": "file"
      },
      "id": "read-support-log",
      "name": "Read Support Log",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        220,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const state = $('Read State').first().json.content || '';\nconst plan = $('Read Weekly Plan').first().json.content || '';\nconst supportLog = $('Read Support Log').first().json.content || 'No support tickets yet.';\n\nreturn [{\n  json: {\n    businessId: 'bayflow',\n    businessPath: 'memory-bank/businesses/bayflow',\n    prompt: `Today is ${new Date().toISOString().split('T')[0]}. You are the Product Agent for BayFlow (auto repair shop software).\n\nYour responsibilities: engineering priorities, SEO infrastructure maintenance, error monitoring, executing weekly plan product tasks, and support-driven iteration.\n\n## Current State\n${state}\n\n## Weekly Plan\n${plan}\n\n## Recent Support Tickets\n${supportLog}\n\nPerform your weekly product review:\n\n1. **Weekly Plan Execution:** Review Product Agent tasks from the weekly plan. What needs to be done? Prioritize.\n\n2. **Support-Driven Iteration:** Review support tickets. Any bugs tagged? Any feature requests appearing 3+ times? Any UX confusion patterns? Recommend what to build/fix.\n\n3. **SEO Infrastructure Check:** Is the blog CMS working? Sitemap up to date? Structured data valid? Meta tags present on all pages? Any broken links?\n\n4. **Error Monitoring:** Any Sentry errors to investigate? Any endpoint with >5 errors (auto-fix trigger)?\n\n5. **Quality Gate:** Does the product pass the pre-launch quality gate? (Functional product, professional landing page, working payment flow, monitoring active)\n\n6. **GitHub Issues to Create:** For each actionable item, output a GitHub issue title and body that Claude Code can pick up via GitHub Actions.\n\nOutput your report in the structured format: Agent name, business, date, status (GREEN/YELLOW/RED), key metrics, actions taken, issues detected, recommendations, needs from CEO Agent.\n\nThen output a section called ## GitHub Issues with each issue formatted as:\n### Issue: [title]\n[body description with acceptance criteria]`\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Product Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "Product LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-opus-4-6",
        "options": {
          "maxTokensToSample": 3000,
          "temperature": 0.3
        }
      },
      "id": "opus-model",
      "name": "Opus Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        660,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json.response.text;\nconst businessId = $('Build Product Prompt').first().json.businessId;\nconst businessPath = $('Build Product Prompt').first().json.businessPath;\n\n// Extract GitHub issues from the response\nconst issueRegex = /### Issue: (.+?)\\n([\\s\\S]*?)(?=### Issue:|$)/g;\nconst issues = [];\nlet match;\nwhile ((match = issueRegex.exec(response)) !== null) {\n  issues.push({\n    title: match[1].trim(),\n    body: match[2].trim()\n  });\n}\n\nreturn [{\n  json: {\n    report: response,\n    issues,\n    businessId,\n    businessPath\n  }\n}];"
      },
      "id": "parse-issues",
      "name": "Parse GitHub Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "operation": "edit",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ $json.businessPath }}/reports/product-{{ $now.format('yyyy-MM-dd') }}.md",
        "fileContent": "={{ $json.report }}",
        "commitMessage": "Product Agent weekly report - {{ $json.businessId }} - {{ $now.format('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "write-report",
      "name": "Write Product Report",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Create GitHub issues in the business app repo for Claude Code to pick up\nconst issues = $('Parse GitHub Issues').first().json.issues;\nif (!issues || issues.length === 0) {\n  return [{ json: { message: 'No issues to create' } }];\n}\n\n// Return issues as separate items for the GitHub node to process\nreturn issues.map(issue => ({\n  json: {\n    title: `[Product Agent] ${issue.title}`,\n    body: `${issue.body}\\n\\n---\\n_Auto-generated by Product Agent on ${new Date().toISOString().split('T')[0]}_`\n  }\n}));"
      },
      "id": "prepare-issues",
      "name": "Prepare Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "ShalinPatel670",
        "repository": "bayflow",
        "title": "={{ $json.title }}",
        "body": "={{ $json.body }}",
        "labels": "product-agent",
        "resource": "file"
      },
      "id": "create-issue",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1320,
        100
      ]
    }
  ],
  "connections": {
    "Tuesday 9 AM Trigger": {
      "main": [
        [
          {
            "node": "Read State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Weekly Plan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Support Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read State": {
      "main": [
        [
          {
            "node": "Build Product Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Weekly Plan": {
      "main": [
        [
          {
            "node": "Build Product Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Support Log": {
      "main": [
        [
          {
            "node": "Build Product Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Product Prompt": {
      "main": [
        [
          {
            "node": "Product LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opus Model": {
      "ai_languageModel": [
        [
          {
            "node": "Product LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Product LLM Chain": {
      "main": [
        [
          {
            "node": "Parse GitHub Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GitHub Issues": {
      "main": [
        [
          {
            "node": "Write Product Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Issues": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}