orchestration/workflows/reddit-engagement.json
{
  "name": "Reddit Engagement - Daily Community Outreach",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * *"
            }
          ]
        }
      },
      "id": "schedule-daily",
      "name": "Daily 11AM Reddit Scan",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses?status=not.in.(killed,sold,paused)&select=id,business_id,name,category,description",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-businesses",
      "name": "Fetch Active Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const businesses = $input.all().map(i => i.json);\nconst allBiz = Array.isArray(businesses[0]) ? businesses[0] : businesses;\n\nif (!allBiz || allBiz.length === 0 || allBiz[0]?.error) {\n  return [{ json: { _empty: true, reason: 'No active businesses found' } }];\n}\n\n// Map categories to relevant subreddits and search keywords\nconst categoryMap = {\n  'auto_repair': {\n    subreddits: ['AutoRepair', 'MechanicAdvice', 'smallbusiness', 'autobody', 'Cartalk'],\n    keywords: ['auto repair software', 'shop management', 'repair order', 'auto shop', 'mechanic software', 'digital vehicle inspection']\n  },\n  'yoga': {\n    subreddits: ['yoga', 'yogateachers', 'smallbusiness', 'fitness', 'yogainstructor'],\n    keywords: ['yoga studio software', 'class scheduling', 'yoga booking', 'studio management', 'fitness scheduling']\n  },\n  'pet_care': {\n    subreddits: ['petcare', 'dogs', 'smallbusiness', 'grooming', 'DogTraining'],\n    keywords: ['pet grooming software', 'pet business', 'grooming scheduling', 'pet care management']\n  },\n  'default': {\n    subreddits: ['smallbusiness', 'SaaS', 'startups', 'Entrepreneur'],\n    keywords: ['business software', 'saas tool', 'small business software']\n  }\n};\n\nconst searchTasks = [];\n\nfor (const biz of allBiz) {\n  if (!biz.business_id) continue;\n  const cat = biz.category || 'default';\n  const mapping = categoryMap[cat] || categoryMap['default'];\n\n  for (const subreddit of mapping.subreddits) {\n    for (const keyword of mapping.keywords.slice(0, 3)) {\n      searchTasks.push({\n        json: {\n          businessId: biz.business_id,\n          businessName: biz.name,\n          businessDescription: biz.description || '',\n          category: cat,\n          subreddit,\n          keyword,\n          searchUrl: `https://www.reddit.com/r/${subreddit}/search.json?q=${encodeURIComponent(keyword)}&sort=new&t=day&restrict_sr=on&limit=10`\n        }\n      });\n    }\n  }\n}\n\nif (searchTasks.length === 0) {\n  return [{ json: { _empty: true, reason: 'No search tasks generated' } }];\n}\n\n// Limit to avoid rate limiting (max 15 searches)\nreturn searchTasks.slice(0, 15);"
      },
      "id": "map-subreddits",
      "name": "Map Businesses to Subreddits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-tasks",
      "name": "Has Search Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.searchUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "ForgeBot/1.0 (community engagement)"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "batching": {
            "batch": {
              "batchSize": 3,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "search-reddit",
      "name": "Search Reddit Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst allPosts = [];\nconst seenIds = new Set();\n\nfor (const item of items) {\n  const data = item.json;\n  const searchMeta = {\n    businessId: data.businessId || $('Map Businesses to Subreddits').first().json.businessId,\n    businessName: data.businessName || '',\n    businessDescription: data.businessDescription || '',\n    category: data.category || '',\n    keyword: data.keyword || ''\n  };\n\n  // Reddit search.json returns { data: { children: [...] } }\n  const children = data?.data?.children || [];\n\n  for (const child of children) {\n    const post = child.data;\n    if (!post || !post.id) continue;\n    if (seenIds.has(post.id)) continue;\n    seenIds.add(post.id);\n\n    const title = (post.title || '').toLowerCase();\n    const selftext = (post.selftext || '').toLowerCase();\n    const combined = title + ' ' + selftext;\n\n    // Score by intent signals\n    let score = 0;\n    const intentSignals = [];\n\n    // Looking for software/tool\n    const softwareWords = ['looking for', 'recommend', 'suggestion', 'any good', 'best software', 'what do you use', 'software for', 'tool for', 'app for', 'platform for', 'need help with', 'anyone know'];\n    for (const w of softwareWords) {\n      if (combined.includes(w)) {\n        score += 3;\n        intentSignals.push('seeking_recommendation');\n        break;\n      }\n    }\n\n    // Frustration with current tool\n    const frustrationWords = ['frustrated', 'terrible', 'awful', 'switching from', 'alternative to', 'hate', 'looking to switch', 'fed up', 'broken', 'unreliable'];\n    for (const w of frustrationWords) {\n      if (combined.includes(w)) {\n        score += 4;\n        intentSignals.push('frustrated_with_current');\n        break;\n      }\n    }\n\n    // Asking for help\n    const helpWords = ['how do i', 'how to', 'help me', 'struggling with', 'advice', 'tips for', 'best way to'];\n    for (const w of helpWords) {\n      if (combined.includes(w)) {\n        score += 2;\n        intentSignals.push('seeking_help');\n        break;\n      }\n    }\n\n    // Bonus for high engagement\n    if ((post.num_comments || 0) > 5) score += 1;\n    if ((post.score || 0) > 10) score += 1;\n\n    // Skip very low scores\n    if (score < 2) continue;\n\n    allPosts.push({\n      json: {\n        postId: post.id,\n        postFullname: post.name,\n        subreddit: post.subreddit,\n        title: post.title,\n        selftext: (post.selftext || '').substring(0, 1000),\n        author: post.author,\n        permalink: `https://www.reddit.com${post.permalink}`,\n        numComments: post.num_comments || 0,\n        postScore: post.score || 0,\n        createdUtc: post.created_utc,\n        intentScore: score,\n        intentSignals,\n        ...searchMeta\n      }\n    });\n  }\n}\n\n// Sort by intent score descending, take top 10\nallPosts.sort((a, b) => b.json.intentScore - a.json.intentScore);\nconst top = allPosts.slice(0, 10);\n\nif (top.length === 0) {\n  return [{ json: { _empty: true, reason: 'No high-intent posts found today' } }];\n}\n\nreturn top;"
      },
      "id": "score-posts",
      "name": "Score Posts by Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-posts",
      "name": "Has Scored Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/reddit_drafts?select=post_id&status=in.(draft,posted,skipped)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-existing-drafts",
      "name": "Fetch Already-Replied Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const posts = $('Score Posts by Intent').all().map(i => i.json);\nconst existingResp = $('Fetch Already-Replied Posts').first().json;\n\n// Build set of already-replied post IDs\nconst existingDrafts = Array.isArray(existingResp) ? existingResp : [existingResp];\nconst repliedIds = new Set();\nfor (const d of existingDrafts) {\n  if (d.post_id) repliedIds.add(d.post_id);\n}\n\n// Filter out already-replied\nconst newPosts = posts.filter(p => !p._empty && p.postId && !repliedIds.has(p.postId));\n\nif (newPosts.length === 0) {\n  return [{ json: { _empty: true, reason: 'All scored posts already have drafts' } }];\n}\n\n// Add index for 50% product mention rule\nreturn newPosts.map((p, idx) => ({\n  json: {\n    ...p,\n    _mentionProduct: idx % 2 === 0,\n    _postIndex: idx\n  }\n}));"
      },
      "id": "filter-already-replied",
      "name": "Filter Already-Replied",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-new-posts",
      "name": "Has New Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst mentionProduct = data._mentionProduct;\nconst businessName = data.businessName || 'our tool';\nconst businessDescription = data.businessDescription || '';\n\nconst prompt = `You are a helpful Reddit user writing a reply to a post in r/${data.subreddit}.\n\nCRITICAL: Your response must not sound AI-generated. Use contractions. Vary sentence length. Be casual and direct. Never use these words: delve, leverage, utilize, harness, elevate, streamline, robust, seamless, cutting-edge, game-changer, innovative.\n\nRULES (CRITICAL):\n- Sound like a real person on Reddit. Casual tone. Use \"I\" perspective.\n- NEVER use these words: delve, leverage, utilize, harness, elevate, empower, streamline, robust, seamless, cutting-edge, game-changer, innovative, revolutionize, best-in-class, holistic, synergy, paradigm\n- NEVER use em dashes (use regular dashes instead)\n- ALWAYS use contractions (I'm, can't, won't, you're, we're, it's, don't, isn't)\n- Vary sentence length (some 3 words, some 30)\n- Include casual imperfections (start with \"And\" or \"But\", sentence fragments OK)\n- NEVER start with \"Great question!\" or use corporate speak\n- Keep it under 150 words\n- Be genuinely helpful first. Share real advice, experience, or perspective.\n- NO exclamation marks more than once\n- NO bullet lists longer than 3 items\n- Write like you actually know the topic, not like a marketer\n- Keep paragraphs short (1-3 sentences)\n- Write at 8th grade reading level\n${mentionProduct ? `- At the END of your reply, casually mention ${businessName} as something you\\'ve used/seen. One sentence max. Don\\'t oversell it.` : '- Do NOT mention any product or business. Just be helpful.'}\n\nPOST CONTEXT:\nSubreddit: r/${data.subreddit}\nTitle: ${data.title}\nBody: ${data.selftext}\n\nINTENT: ${data.intentSignals.join(', ')}\n${mentionProduct ? `\\nPRODUCT CONTEXT: ${businessName} - ${businessDescription.substring(0, 300)}` : ''}\n\nWrite ONLY the reply text. No formatting headers. Just the comment body.`;\n\nreturn [{ json: { ...data, _llmPrompt: prompt } }];"
      },
      "id": "build-reddit-prompt",
      "name": "Build Reddit Reply Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        200
      ]
    },
    {
      "parameters": {
        "prompt": "={{ $json._llmPrompt }}",
        "options": {}
      },
      "id": "llm-chain-reddit",
      "name": "Generate Reddit Reply (LLM Chain)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2750,
        200
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-haiku-4-5-20251001"
        },
        "options": {
          "maxTokensToSample": 400,
          "temperature": 0.8
        }
      },
      "id": "haiku-model-reddit",
      "name": "Anthropic Haiku (Reddit)",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        2750,
        450
      ],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-cred",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Build Reddit Reply Prompt').first().json;\nconst llmOutput = $('Generate Reddit Reply (LLM Chain)').first().json;\n\nconst generatedReply = llmOutput.text || llmOutput.response || llmOutput.output || '';\n\nreturn [{\n  json: {\n    post_id: data.postId,\n    post_fullname: data.postFullname,\n    subreddit: data.subreddit,\n    post_title: data.title,\n    post_url: data.permalink,\n    post_author: data.author,\n    business_id: data.businessId,\n    business_name: data.businessName,\n    intent_score: data.intentScore,\n    intent_signals: data.intentSignals,\n    mentions_product: data._mentionProduct,\n    draft_reply: generatedReply.trim(),\n    status: 'draft',\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-draft",
      "name": "Format Draft for Storage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/reddit_drafts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "save-draft",
      "name": "Save Draft to reddit_drafts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3250,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Collect all drafts saved in this run\nconst drafts = $('Format Draft for Storage').all().map(i => i.json);\nconst count = drafts.length;\n\nlet summary = `Reddit Engagement: ${count} draft${count === 1 ? '' : 's'} ready for review\\n\\n`;\n\nfor (const d of drafts) {\n  const productTag = d.mentions_product ? ' [mentions product]' : ' [helpful only]';\n  summary += `r/${d.subreddit}: \"${d.post_title.substring(0, 60)}\"${productTag}\\n`;\n  summary += `  Intent: ${d.intent_score}/10 | ${d.post_url}\\n\\n`;\n}\n\nsummary += 'Review drafts in Supabase reddit_drafts table.';\n\nreturn [{ json: { count, summary } }];"
      },
      "id": "build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: 'Reddit Engagement', severity: 'info', businessId: 'portfolio', message: $json.summary, requiresResponse: false }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "notify-telegram",
      "name": "Notify Telegram: Drafts Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3750,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/outreach_intelligence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: 'portfolio', channel: 'reddit', action: 'daily_scan', intent_type: 'REDDIT_ENGAGEMENT', details: JSON.stringify({ drafts_created: $json.count }), created_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "log-outreach-intel",
      "name": "Log to outreach_intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3750,
        400
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 11AM Reddit Scan": {
      "main": [
        [
          {
            "node": "Fetch Active Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Businesses": {
      "main": [
        [
          {
            "node": "Map Businesses to Subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Businesses to Subreddits": {
      "main": [
        [
          {
            "node": "Has Search Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Search Tasks?": {
      "main": [
        [
          {
            "node": "Search Reddit Posts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Search Reddit Posts": {
      "main": [
        [
          {
            "node": "Score Posts by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Posts by Intent": {
      "main": [
        [
          {
            "node": "Has Scored Posts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Scored Posts?": {
      "main": [
        [
          {
            "node": "Fetch Already-Replied Posts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Already-Replied Posts": {
      "main": [
        [
          {
            "node": "Filter Already-Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Already-Replied": {
      "main": [
        [
          {
            "node": "Has New Posts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Posts?": {
      "main": [
        [
          {
            "node": "Build Reddit Reply Prompt",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Reddit Reply Prompt": {
      "main": [
        [
          {
            "node": "Generate Reddit Reply (LLM Chain)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reddit Reply (LLM Chain)": {
      "main": [
        [
          {
            "node": "Format Draft for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Draft for Storage": {
      "main": [
        [
          {
            "node": "Save Draft to reddit_drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft to reddit_drafts": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Notify Telegram: Drafts Ready",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to outreach_intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Haiku (Reddit)": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Reddit Reply (LLM Chain)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}