orchestration/workflows/sales-sequence-engine.json
{
  "name": "Sales Sequence Engine - Multi-Channel Coordinator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * 2,3,4,5"
            }
          ]
        }
      },
      "id": "schedule-sequence",
      "name": "Daily 8:30AM Tue-Fri",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/cold_email_leads?select=*&status=not.in.(converted,unsubscribed,rejected,completed,paying,churned)&order=created_at.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-active-leads",
      "name": "Fetch Active Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all().map(i => i.json);\n\n// Flatten if nested array\nconst allLeads = Array.isArray(leads[0]) ? leads[0] : leads;\n\nif (!allLeads || allLeads.length === 0 || allLeads[0]?.error) {\n  return [{ json: { _empty: true, reason: 'No active leads found' } }];\n}\n\nconst now = new Date();\n\nfunction daysBetween(dateStr, ref) {\n  if (!dateStr) return 9999;\n  const d = new Date(dateStr);\n  return Math.floor((ref - d) / (1000 * 60 * 60 * 24));\n}\n\nconst results = [];\n\nfor (const lead of allLeads) {\n  if (!lead.id || !lead.email) continue;\n\n  const status = lead.status || 'new';\n  const daysSinceCreated = daysBetween(lead.created_at, now);\n  const daysSinceLastContact = daysBetween(lead.last_contacted_at, now);\n\n  // GATING: Skip if already in terminal state\n  if (['converted', 'unsubscribed', 'rejected', 'demo_booked', 'paying', 'churned', 'completed'].includes(status)) {\n    continue;\n  }\n\n  // GATING: Skip if contacted too recently (min 2 days between touches)\n  if (daysSinceLastContact < 2) {\n    continue;\n  }\n\n  // Sequence timeline\n  const touchCount = lead.touch_count || 0;\n  const sequence = [\n    { day: 0, channel: 'email', type: 'initial' },\n    { day: 2, channel: 'call', type: 'follow_up_call_1' },\n    { day: 4, channel: 'email', type: 'follow_up_1' },\n    { day: 7, channel: 'call', type: 'follow_up_call_2' },\n    { day: 10, channel: 'email', type: 'follow_up_2' },\n    { day: 14, channel: 'call', type: 'final_call' },\n    { day: 21, channel: 'email', type: 'breakup' }\n  ];\n\n  // If all touches exhausted, mark as completed\n  if (touchCount >= sequence.length) {\n    results.push({\n      json: {\n        ...lead,\n        action: 'COMPLETE',\n        type: 'sequence_exhausted',\n        touchNumber: touchCount,\n        reason: 'All 7 touches completed'\n      }\n    });\n    continue;\n  }\n\n  const nextTouch = sequence[touchCount];\n  if (daysSinceCreated < nextTouch.day) {\n    continue; // Not time yet\n  }\n\n  results.push({\n    json: {\n      ...lead,\n      action: nextTouch.channel.toUpperCase(),\n      type: nextTouch.type,\n      touchNumber: touchCount + 1,\n      totalTouches: sequence.length\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, reason: 'No leads due for a touch today' } }];\n}\n\nreturn results;"
      },
      "id": "determine-actions",
      "name": "Determine Sequence Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-actions",
      "name": "Has Actions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputIndex": 0,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "EMAIL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Email"
            },
            {
              "outputIndex": 1,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "CALL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Call"
            },
            {
              "outputIndex": 2,
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "COMPLETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Complete"
            }
          ],
          "fallbackOutput": "none"
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "route-by-action",
      "name": "Route: Email / Call / Complete",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "// Pre-flight gating check + email build\nconst lead = $input.first().json;\n\n// Re-check status before sending (may have changed since fetch)\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\ntry {\n  const response = await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}&select=status,sequence_stage`,\n    {\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`\n      }\n    }\n  );\n  const current = await response.json();\n  if (current && current[0]) {\n    const currentStatus = current[0].status;\n    if (['converted', 'unsubscribed', 'rejected', 'demo_booked', 'paying', 'churned'].includes(currentStatus)) {\n      return [{ json: { ...lead, _gated: true, reason: 'Status changed to ' + currentStatus } }];\n    }\n  }\n} catch (e) {\n  // Continue if check fails - better to send than to skip\n}\n\n// Build email content based on touch type\nconst type = lead.type;\nconst firstName = lead.first_name || 'there';\nconst businessName = lead.business_name || 'your shop';\n\nlet subject = '';\nlet body = '';\n\nswitch (type) {\n  case 'initial':\n    subject = `Quick question about ${businessName}`;\n    body = `Hi ${firstName},\\n\\nI came across ${businessName} and noticed you might still be using paper repair orders or an older system.\\n\\nWe built BayFlow specifically for independent auto repair shops - digital inspections, automated customer updates, and online payments. Most shops save 5+ hours per week.\\n\\nWould you be open to a quick 10-minute demo this week?\\n\\nBest,\\nShalin\\nBayFlow`;\n    break;\n  case 'follow_up_1':\n    subject = `${firstName}, one more thought about ${businessName}`;\n    body = `Hi ${firstName},\\n\\nI wanted to follow up on my last email. I know running a shop keeps you busy.\\n\\nOne thing shops tell us they love: customers can approve additional work right from their phone with photos attached. No more phone tag.\\n\\nHappy to show you in 10 minutes if you're interested.\\n\\nBest,\\nShalin\\nBayFlow`;\n    break;\n  case 'follow_up_2':\n    subject = `Shops like ${businessName} are switching to digital`;\n    body = `Hi ${firstName},\\n\\nJust a quick note - we recently onboarded 3 shops similar to ${businessName} and they've seen a 30% reduction in admin time within the first month.\\n\\nI'd love to show you exactly how it works. No commitment, just a quick walkthrough.\\n\\nWorth 10 minutes?\\n\\nBest,\\nShalin\\nBayFlow`;\n    break;\n  case 'breakup':\n    subject = `Last note from me, ${firstName}`;\n    body = `Hi ${firstName},\\n\\nI've reached out a few times and I don't want to be a pest. I'll leave this as my last message.\\n\\nIf you ever want to explore a modern shop management system built specifically for independent repair shops, we're here: https://bayflow.app\\n\\nWishing ${businessName} all the best.\\n\\nShalin\\nBayFlow`;\n    break;\n  default:\n    subject = `Quick question for ${businessName}`;\n    body = `Hi ${firstName},\\n\\nI wanted to reach out about BayFlow - shop management software built for independent auto repair shops.\\n\\nWould you be open to a quick chat?\\n\\nBest,\\nShalin\\nBayFlow`;\n}\n\nreturn [{\n  json: {\n    ...lead,\n    _gated: false,\n    emailSubject: subject,\n    emailBody: body,\n    emailTo: lead.email,\n    emailFrom: 'shalin@bayflow.app',\n    emailFromName: 'Shalin from BayFlow'\n  }\n}];"
      },
      "id": "gate-and-build-email",
      "name": "Gate Check + Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-gated",
              "leftValue": "={{ $json._gated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "email-gate-check",
      "name": "Email Passed Gate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1550, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"{{ $json.emailFromName }} <{{ $json.emailFrom }}>\",\n  \"to\": [\"{{ $json.emailTo }}\"],\n  \"subject\": \"{{ $json.emailSubject }}\",\n  \"text\": {{ JSON.stringify($json.emailBody) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-email-resend",
      "name": "Send Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Pre-flight gating check for call\nconst lead = $input.first().json;\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\ntry {\n  const response = await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}&select=status,sequence_stage`,\n    {\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`\n      }\n    }\n  );\n  const current = await response.json();\n  if (current && current[0]) {\n    const currentStatus = current[0].status;\n    if (['converted', 'unsubscribed', 'rejected', 'demo_booked', 'paying', 'churned'].includes(currentStatus)) {\n      return [{ json: { ...lead, _gated: true, reason: 'Status changed to ' + currentStatus } }];\n    }\n  }\n} catch (e) {\n  // Continue if check fails\n}\n\n// Check phone number exists\nif (!lead.phone) {\n  return [{ json: { ...lead, _gated: true, reason: 'No phone number' } }];\n}\n\nreturn [{ json: { ...lead, _gated: false } }];"
      },
      "id": "gate-check-call",
      "name": "Gate Check for Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 450]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-gated-call",
              "leftValue": "={{ $json._gated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "call-gate-check",
      "name": "Call Passed Gate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1550, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/trigger-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": \"{{ $json.id }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"firstName\": \"{{ $json.first_name || 'there' }}\",\n  \"businessName\": \"{{ $json.business_name }}\",\n  \"touchType\": \"{{ $json.type }}\",\n  \"touchNumber\": {{ $json.touchNumber }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "trigger-voice-call",
      "name": "Trigger AI Voice Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Update lead after EMAIL action\nconst lead = $('Gate Check + Build Email').first().json;\nconst resendResult = $input.first().json;\nconst now = new Date().toISOString();\nconst touchNumber = lead.touchNumber || 1;\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\n// Determine new status based on touch type\nlet newStatus = lead.status;\nif (lead.type === 'initial') newStatus = 'contacted';\nelse if (lead.type === 'follow_up_1') newStatus = 'follow_up_1';\nelse if (lead.type === 'follow_up_2') newStatus = 'follow_up_2';\nelse if (lead.type === 'breakup') newStatus = 'completed';\n\n// Update lead record\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        touch_count: touchNumber,\n        last_contacted_at: now,\n        last_touch_channel: 'email',\n        sequence_stage: lead.type === 'breakup' ? 'completed' : 'contacted',\n        status: newStatus,\n        last_email_type: lead.type,\n        last_resend_id: resendResult?.id || null,\n        updated_at: now\n      })\n    }\n  );\n} catch (e) {\n  // Log but don't fail\n}\n\n// Log to activities\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/activities`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        lead_id: lead.id,\n        business_id: 'bayflow',\n        activity_type: 'email_sent',\n        channel: 'email',\n        details: {\n          touch_number: touchNumber,\n          email_type: lead.type,\n          subject: lead.emailSubject,\n          resend_id: resendResult?.id || null\n        }\n      })\n    }\n  );\n} catch (e) {}\n\n// Log to outreach_intelligence\ntry {\n  const dayOfWeek = new Date().getDay();\n  const hourOfDay = new Date().getHours();\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/outreach_intelligence`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        business_id: 'bayflow',\n        channel: 'email',\n        outreach_type: lead.type,\n        audience_type: 'auto_repair',\n        tone: 'friendly',\n        angle: lead.type === 'follow_up_2' ? 'social_proof' : 'pain_point',\n        intent: 'book_demo',\n        subject_line: lead.emailSubject,\n        content_preview: (lead.emailBody || '').substring(0, 200),\n        content_full: lead.emailBody,\n        personalization_depth: 2,\n        day_of_week: dayOfWeek,\n        hour_of_day: hourOfDay,\n        lead_id: lead.id,\n        lead_email: lead.email\n      })\n    }\n  );\n} catch (e) {}\n\nreturn [{\n  json: {\n    action: 'EMAIL_SENT',\n    leadId: lead.id,\n    email: lead.email,\n    type: lead.type,\n    touchNumber: touchNumber,\n    resendId: resendResult?.id || 'unknown'\n  }\n}];"
      },
      "id": "update-lead-after-email",
      "name": "Update Lead After Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 100]
    },
    {
      "parameters": {
        "jsCode": "// Update lead after CALL action\nconst lead = $('Gate Check for Call').first().json;\nconst callResult = $input.first().json;\nconst now = new Date().toISOString();\nconst touchNumber = lead.touchNumber || 1;\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\n// Update lead record\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        touch_count: touchNumber,\n        last_contacted_at: now,\n        last_touch_channel: 'call',\n        sequence_stage: 'contacted',\n        call_attempts: (lead.call_attempts || 0) + 1,\n        call_status: 'attempted',\n        updated_at: now\n      })\n    }\n  );\n} catch (e) {}\n\n// Log to activities\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/activities`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        lead_id: lead.id,\n        business_id: 'bayflow',\n        activity_type: 'call_made',\n        channel: 'phone',\n        details: {\n          touch_number: touchNumber,\n          call_type: lead.type,\n          call_result_id: callResult?.callId || null\n        }\n      })\n    }\n  );\n} catch (e) {}\n\n// Log to outreach_intelligence\ntry {\n  const dayOfWeek = new Date().getDay();\n  const hourOfDay = new Date().getHours();\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/outreach_intelligence`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        business_id: 'bayflow',\n        channel: 'call',\n        outreach_type: lead.type,\n        audience_type: 'auto_repair',\n        tone: 'friendly',\n        intent: 'book_demo',\n        day_of_week: dayOfWeek,\n        hour_of_day: hourOfDay,\n        lead_id: lead.id,\n        lead_email: lead.email\n      })\n    }\n  );\n} catch (e) {}\n\nreturn [{\n  json: {\n    action: 'CALL_TRIGGERED',\n    leadId: lead.id,\n    phone: lead.phone,\n    type: lead.type,\n    touchNumber: touchNumber\n  }\n}];"
      },
      "id": "update-lead-after-call",
      "name": "Update Lead After Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 350]
    },
    {
      "parameters": {
        "jsCode": "// Mark sequence-exhausted leads as completed\nconst lead = $input.first().json;\nconst now = new Date().toISOString();\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        status: 'completed',\n        sequence_stage: 'completed',\n        updated_at: now\n      })\n    }\n  );\n} catch (e) {}\n\nreturn [{ json: { action: 'COMPLETED', leadId: lead.id, email: lead.email } }];"
      },
      "id": "mark-sequence-complete",
      "name": "Mark Sequence Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 700]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all actions taken for summary\nconst emailActions = [];\nconst callActions = [];\nconst completeActions = [];\n\ntry {\n  const emailItems = $('Update Lead After Email').all();\n  emailItems.forEach(i => emailActions.push(i.json));\n} catch (e) {}\n\ntry {\n  const callItems = $('Update Lead After Call').all();\n  callItems.forEach(i => callActions.push(i.json));\n} catch (e) {}\n\ntry {\n  const completeItems = $('Mark Sequence Complete').all();\n  completeItems.forEach(i => completeActions.push(i.json));\n} catch (e) {}\n\nconst totalActions = emailActions.length + callActions.length + completeActions.length;\n\nconst summary = `Sales Sequence Summary:\\n- Emails sent: ${emailActions.length}\\n- Calls triggered: ${callActions.length}\\n- Sequences completed: ${completeActions.length}\\n- Total actions: ${totalActions}`;\n\nreturn [{\n  json: {\n    summary,\n    emailsSent: emailActions.length,\n    callsTriggered: callActions.length,\n    sequencesCompleted: completeActions.length,\n    totalActions\n  }\n}];"
      },
      "id": "build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-actions",
              "leftValue": "={{ $json.totalActions }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-any-actions",
      "name": "Any Actions Taken?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2650, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"Sales Sequence Engine\",\n  \"message\": \"{{ $json.summary }}\",\n  \"severity\": \"info\",\n  \"businessId\": \"bayflow\",\n  \"requiresResponse\": false\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "notify-telegram",
      "name": "Notify: Sequence Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 8:30AM Tue-Fri": {
      "main": [
        [
          {
            "node": "Fetch Active Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Leads": {
      "main": [
        [
          {
            "node": "Determine Sequence Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Sequence Actions": {
      "main": [
        [
          {
            "node": "Has Actions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Actions?": {
      "main": [
        [
          {
            "node": "Route: Email / Call / Complete",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route: Email / Call / Complete": {
      "main": [
        [
          {
            "node": "Gate Check + Build Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gate Check for Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Sequence Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Check + Build Email": {
      "main": [
        [
          {
            "node": "Email Passed Gate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Passed Gate?": {
      "main": [
        [
          {
            "node": "Send Email (Resend)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Email (Resend)": {
      "main": [
        [
          {
            "node": "Update Lead After Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Check for Call": {
      "main": [
        [
          {
            "node": "Call Passed Gate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Passed Gate?": {
      "main": [
        [
          {
            "node": "Trigger AI Voice Call",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Trigger AI Voice Call": {
      "main": [
        [
          {
            "node": "Update Lead After Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead After Email": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead After Call": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sequence Complete": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Any Actions Taken?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Actions Taken?": {
      "main": [
        [
          {
            "node": "Notify: Sequence Summary",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sales"
    },
    {
      "name": "outreach"
    },
    {
      "name": "bayflow"
    }
  ],
  "triggerCount": 1,
  "notes": "PRIMARY outreach coordinator. Replaces loose email+call approach. Runs Tue-Fri at 8:30 AM after cold-email-metrics. The cold-email-outreach.json email sender should be DISABLED to avoid duplicate sends - this workflow handles all email and call sequencing with gating."
}