orchestration/workflows/sales-sequence-engine.json
{
  "name": "Sales Sequence Engine - Multi-Channel Coordinator (Smartlead)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * 2,3,4,5"
            }
          ]
        }
      },
      "id": "schedule-sequence",
      "name": "Daily 8:30AM Tue-Fri",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/cold_email_leads?select=*&status=not.in.(converted,unsubscribed,rejected,completed,paying,churned)&order=created_at.asc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-active-leads",
      "name": "Fetch Active Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all().map(i => i.json);\n\n// Flatten if nested array\nconst allLeads = Array.isArray(leads[0]) ? leads[0] : leads;\n\nif (!allLeads || allLeads.length === 0 || allLeads[0]?.error) {\n  return [{ json: { _empty: true, reason: 'No active leads found' } }];\n}\n\nconst now = new Date();\n\nfunction daysBetween(dateStr, ref) {\n  if (!dateStr) return 9999;\n  const d = new Date(dateStr);\n  return Math.floor((ref - d) / (1000 * 60 * 60 * 24));\n}\n\nconst results = [];\n\nfor (const lead of allLeads) {\n  if (!lead.id || !lead.email) continue;\n\n  const status = lead.status || 'new';\n  const daysSinceCreated = daysBetween(lead.created_at, now);\n  const daysSinceLastContact = daysBetween(lead.last_contacted_at, now);\n\n  // GATING: Skip if already in terminal state\n  if (['converted', 'unsubscribed', 'rejected', 'demo_booked', 'paying', 'churned', 'completed'].includes(status)) {\n    continue;\n  }\n\n  // GATING: Skip if contacted too recently (min 2 days between touches)\n  if (daysSinceLastContact < 2) {\n    continue;\n  }\n\n  // Sequence timeline\n  const touchCount = lead.touch_count || 0;\n  const sequence = [\n    { day: 0, channel: 'email', type: 'initial' },\n    { day: 2, channel: 'call', type: 'follow_up_call_1' },\n    { day: 4, channel: 'email', type: 'follow_up_1' },\n    { day: 7, channel: 'call', type: 'follow_up_call_2' },\n    { day: 10, channel: 'email', type: 'follow_up_2' },\n    { day: 14, channel: 'call', type: 'final_call' },\n    { day: 21, channel: 'email', type: 'breakup' }\n  ];\n\n  // If all touches exhausted, mark as completed\n  if (touchCount >= sequence.length) {\n    results.push({\n      json: {\n        ...lead,\n        action: 'COMPLETE',\n        type: 'sequence_exhausted',\n        touchNumber: touchCount,\n        reason: 'All 7 touches completed'\n      }\n    });\n    continue;\n  }\n\n  const nextTouch = sequence[touchCount];\n  if (daysSinceCreated < nextTouch.day) {\n    continue; // Not time yet\n  }\n\n  results.push({\n    json: {\n      ...lead,\n      action: nextTouch.channel.toUpperCase(),\n      type: nextTouch.type,\n      touchNumber: touchCount + 1,\n      totalTouches: sequence.length\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { _empty: true, reason: 'No leads due for a touch today' } }];\n}\n\nreturn results;"
      },
      "id": "determine-actions",
      "name": "Determine Sequence Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-actions",
      "name": "Has Actions?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            { "value2": "EMAIL", "output": 0 },
            { "value2": "CALL", "output": 1 },
            { "value2": "COMPLETE", "output": 2 }
          ]
        },
        "fallbackOutput": 3,
        "options": {}
      },
      "id": "route-by-action",
      "name": "Route: Email / Call / Complete",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "// ANTI-AI DETECTION RULES (MANDATORY FOR ALL CUSTOMER-FACING CONTENT):\n// - NEVER use: delve, leverage, utilize, harness, elevate, empower, streamline, robust, seamless, cutting-edge, game-changer, innovative, revolutionize, best-in-class, holistic, synergy, paradigm\n// - NEVER use em dashes (use regular dashes)\n// - ALWAYS use contractions (I'm, can't, won't, you're, we're, it's, don't, isn't)\n// - Vary sentence length (some 3 words, some 30)\n// - Include casual imperfections (start with \"And\" or \"But\", sentence fragments OK)\n// - Sound like a real person typing, not a marketing team\n// - Keep paragraphs short (1-3 sentences)\n// - Write at 8th grade reading level\n\n// Pre-flight gating check + email build\n// Looks up business details from Supabase using the lead's business_id\nconst lead = $input.first().json;\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst leadBusinessId = lead.business_id || 'bayflow';\n\n// --- Step 1: Re-check lead status (may have changed since fetch) ---\ntry {\n  const response = await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}&select=status,sequence_stage`,\n    {\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`\n      }\n    }\n  );\n  const current = await response.json();\n  if (current && current[0]) {\n    const currentStatus = current[0].status;\n    if (['converted', 'unsubscribed', 'rejected', 'demo_booked', 'paying', 'churned'].includes(currentStatus)) {\n      return [{ json: { ...lead, _gated: true, reason: 'Status changed to ' + currentStatus } }];\n    }\n  }\n} catch (e) {\n  // Continue if check fails - better to send than to skip\n}\n\n// --- Step 2: Look up business details from Supabase ---\nlet bizName = leadBusinessId;\nlet bizSiteUrl = '';\nlet bizCategory = '';\nlet bizTagline = '';\nlet bizSendingDomain = '';\nlet bizValueProp = '';\n\ntry {\n  const bizResp = await fetch(\n    `${SUPABASE_URL}/rest/v1/businesses?business_id=eq.${leadBusinessId}&select=name,site_url,category,tagline,sending_domain,value_prop`,\n    {\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`\n      }\n    }\n  );\n  const bizRows = await bizResp.json();\n  if (bizRows && bizRows[0]) {\n    const biz = bizRows[0];\n    bizName = biz.name || bizName;\n    bizSiteUrl = biz.site_url || '';\n    bizCategory = biz.category || '';\n    bizTagline = biz.tagline || '';\n    bizSendingDomain = biz.sending_domain || '';\n    bizValueProp = biz.value_prop || '';\n  }\n} catch (e) {\n  // Use defaults if lookup fails\n}\n\n// Derive sending email and vertical description from business data\nconst siteHost = bizSiteUrl ? new URL(bizSiteUrl).hostname : (bizSendingDomain || (leadBusinessId + '.app'));\nconst emailFrom = 'shalin@' + siteHost;\nconst emailFromName = 'Shalin from ' + bizName;\n\n// Build a human-friendly vertical description from category\nconst verticalMap = {\n  'auto_repair': 'independent auto repair shops',\n  'dental': 'dental practices',\n  'hvac': 'HVAC contractors',\n  'plumbing': 'plumbing companies',\n  'landscaping': 'landscaping businesses',\n  'salon': 'salons and barbershops',\n  'fitness': 'fitness studios and gyms',\n  'restaurant': 'restaurants',\n  'legal': 'small law firms',\n  'accounting': 'accounting firms',\n  'real_estate': 'real estate agencies',\n  'cleaning': 'cleaning companies',\n  'pet_care': 'pet care businesses'\n};\nconst verticalDesc = verticalMap[bizCategory] || (bizCategory ? bizCategory.replace(/_/g, ' ') + ' businesses' : 'small businesses');\n\n// Generic value prop: use DB field if available, otherwise a safe generic\nconst valueStatement = bizValueProp || bizTagline || ('streamlined operations, automated customer updates, and a modern online experience');\n\n// Build email content based on touch type\nconst type = lead.type;\nconst firstName = lead.first_name || 'there';\nconst businessName = lead.business_name || 'your business';\n\nlet subject = '';\nlet body = '';\n\nswitch (type) {\n  case 'initial':\n    subject = `Quick question about ${businessName}`;\n    body = `Hi ${firstName},\\n\\nI came across ${businessName} and thought you might dig what we're building. We made ${bizName} specifically for ${verticalDesc} - ${valueStatement}. Most shops save 5+ hours a week.\\n\\nWould you be up for a quick 10-minute demo this week?\\n\\nShalin\\n${bizName}`;\n    break;\n  case 'follow_up_1':\n    subject = `${firstName}, one more thought about ${businessName}`;\n    body = `Hi ${firstName},\\n\\nJust following up on my last email. I know you're busy running things.\\n\\nOne thing our customers can't stop talking about: ${valueStatement}. No more manual busywork.\\n\\nI'd love to show you in 10 minutes if you're interested.\\n\\nShalin\\n${bizName}`;\n    break;\n  case 'follow_up_2':\n    subject = `Businesses like ${businessName} are going digital`;\n    body = `Hi ${firstName},\\n\\nQuick note - we recently onboarded 3 businesses similar to ${businessName} and they've seen a 30% drop in admin time within the first month.\\n\\nI'd love to show you how it works. No commitment, just a quick walkthrough.\\n\\nWorth 10 minutes?\\n\\nShalin\\n${bizName}`;\n    break;\n  case 'breakup':\n    subject = `Last note from me, ${firstName}`;\n    body = `Hi ${firstName},\\n\\nI've reached out a few times and don't want to be a pest. This is my last message.\\n\\nIf you ever want to check out a management system built for ${verticalDesc}, we're here: ${bizSiteUrl || ('https://' + siteHost)}\\n\\nWishing ${businessName} all the best.\\n\\nShalin\\n${bizName}`;\n    break;\n  default:\n    subject = `Quick question for ${businessName}`;\n    body = `Hi ${firstName},\\n\\nWanted to reach out about ${bizName} - it's management software we built for ${verticalDesc}.\\n\\nWould you be up for a quick chat?\\n\\nShalin\\n${bizName}`;\n}\n\nreturn [{\n  json: {\n    ...lead,\n    _gated: false,\n    emailSubject: subject,\n    emailBody: body,\n    emailTo: lead.email,\n    emailFrom,\n    emailFromName,\n    _bizName: bizName,\n    _bizSiteUrl: bizSiteUrl,\n    _bizCategory: bizCategory,\n    _bizVerticalDesc: verticalDesc,\n    _leadBusinessId: leadBusinessId\n  }\n}];"
      },
      "id": "gate-and-build-email",
      "name": "Gate Check + Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-gated",
              "leftValue": "={{ $json._gated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "email-gate-check",
      "name": "Email Passed Gate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1550, 200]
    },
    {
      "parameters": {
        "jsCode": "// Ensure a Smartlead campaign exists for this business.\n// Checks Supabase for an existing campaign_id; if none, creates one via Smartlead API.\n// Stores the campaign_id back in Supabase for reuse on subsequent runs.\n\nconst lead = $input.first().json;\nconst SMARTLEAD_API_KEY = $env.SMARTLEAD_API_KEY;\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst BUSINESS_ID = lead._leadBusinessId || lead.business_id || 'bayflow';\nconst BIZ_NAME = lead._bizName || BUSINESS_ID;\n\nlet campaignId = null;\n\n// Step 1: Check Supabase for existing Smartlead campaign_id\ntry {\n  const resp = await fetch(\n    `${SUPABASE_URL}/rest/v1/smartlead_campaigns?business_id=eq.${BUSINESS_ID}&select=campaign_id&limit=1`,\n    {\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`\n      }\n    }\n  );\n  const rows = await resp.json();\n  if (rows && rows.length > 0 && rows[0].campaign_id) {\n    campaignId = rows[0].campaign_id;\n  }\n} catch (e) {\n  // Will attempt to create below\n}\n\n// Step 2: If no campaign exists, create one via Smartlead API\nif (!campaignId) {\n  try {\n    const campaignName = `${BIZ_NAME} Cold Outreach - ${$now.toFormat('yyyy-MM-dd')}`;\n    const createResp = await fetch(\n      `https://server.smartlead.ai/api/v1/campaigns/create?api_key=${SMARTLEAD_API_KEY}`,\n      {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          name: campaignName\n        })\n      }\n    );\n    const createData = await createResp.json();\n    campaignId = createData.id || createData.campaign_id || null;\n\n    if (campaignId) {\n      // Store campaign_id in Supabase for reuse\n      try {\n        await fetch(\n          `${SUPABASE_URL}/rest/v1/smartlead_campaigns`,\n          {\n            method: 'POST',\n            headers: {\n              'apikey': SERVICE_KEY,\n              'Authorization': `Bearer ${SERVICE_KEY}`,\n              'Content-Type': 'application/json',\n              'Prefer': 'return=minimal'\n            },\n            body: JSON.stringify({\n              business_id: BUSINESS_ID,\n              campaign_id: String(campaignId),\n              campaign_name: campaignName,\n              created_at: new Date().toISOString()\n            })\n          }\n        );\n      } catch (e) {\n        // Non-fatal: campaign was created in Smartlead even if Supabase save fails\n      }\n\n      // Step 3: Set sending schedule on the new campaign\n      try {\n        await fetch(\n          `https://server.smartlead.ai/api/v1/campaigns/${campaignId}/schedule?api_key=${SMARTLEAD_API_KEY}`,\n          {\n            method: 'POST',\n            headers: { 'Content-Type': 'application/json' },\n            body: JSON.stringify({\n              timezone: 'America/New_York',\n              days_of_the_week: [1, 2, 3, 4],\n              start_hour: '08:00',\n              end_hour: '17:00',\n              min_time_btw_emails: 8,\n              max_new_leads_per_day: 30\n            })\n          }\n        );\n      } catch (e) {\n        // Non-fatal: schedule can be set manually in Smartlead dashboard\n      }\n    }\n  } catch (e) {\n    // Campaign creation failed -- will pass campaignId=null downstream\n  }\n}\n\nreturn [{\n  json: {\n    ...lead,\n    smartlead_campaign_id: campaignId\n  }\n}];"
      },
      "id": "ensure-smartlead-campaign",
      "name": "Ensure Smartlead Campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://server.smartlead.ai/api/v1/campaigns/{{ $json.smartlead_campaign_id }}/leads?api_key={{ $env.SMARTLEAD_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_list\": [\n    {\n      \"email\": \"{{ $json.emailTo }}\",\n      \"first_name\": \"{{ $json.first_name || 'there' }}\",\n      \"last_name\": \"{{ $json.last_name || '' }}\",\n      \"company_name\": \"{{ $json.business_name || '' }}\",\n      \"custom_fields\": {\n        \"emailSubject\": {{ JSON.stringify($json.emailSubject) }},\n        \"emailBody\": {{ JSON.stringify($json.emailBody) }},\n        \"touchType\": \"{{ $json.type }}\",\n        \"touchNumber\": {{ $json.touchNumber }},\n        \"leadId\": \"{{ $json.id }}\",\n        \"fromEmail\": \"{{ $json.emailFrom }}\",\n        \"fromName\": \"{{ $json.emailFromName }}\"\n      }\n    }\n  ],\n  \"settings\": {\n    \"ignore_global_block_list\": false,\n    \"ignore_unsubscribe_list\": false\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "add-lead-to-smartlead",
      "name": "Add Lead to Smartlead Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 100],
      "continueOnFail": true,
      "notes": "Adds the lead to the Smartlead campaign. Smartlead handles deliverability, warmup, inbox rotation, and actual sending according to its schedule. The email subject/body are passed as custom fields so Smartlead can use them in the campaign sequence."
    },
    {
      "parameters": {
        "jsCode": "// Pre-flight gating check for call with TCPA compliance\nconst lead = $input.first().json;\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\n// --- Step 1: Re-check lead status (may have changed since fetch) ---\ntry {\n  const response = await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}&select=status,sequence_stage,dnc_checked,phone,timezone`,\n    {\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`\n      }\n    }\n  );\n  const current = await response.json();\n  if (current && current[0]) {\n    const currentStatus = current[0].status;\n    if (['converted', 'unsubscribed', 'rejected', 'demo_booked', 'paying', 'churned'].includes(currentStatus)) {\n      return [{ json: { ...lead, _gated: true, _fallback_to_email: false, reason: 'Status changed to ' + currentStatus } }];\n    }\n    // TCPA: Check DNC flag\n    if (current[0].dnc_checked === true) {\n      return [{ json: { ...lead, _gated: true, _fallback_to_email: false, reason: 'TCPA: Lead is on DNC list' } }];\n    }\n  }\n} catch (e) {\n  // Continue if check fails - better to gate than to skip\n}\n\n// --- Step 2: Check phone number exists - fall back to email if missing ---\nif (!lead.phone) {\n  return [{ json: { ...lead, _gated: true, _fallback_to_email: true, reason: 'No phone number - falling back to email' } }];\n}\n\n// --- Step 3: TCPA business hours check (8 AM - 9 PM in lead's timezone) ---\nconst leadTimezone = lead.timezone || 'America/New_York';\ntry {\n  const nowInLeadTz = new Date(new Date().toLocaleString('en-US', { timeZone: leadTimezone }));\n  const hour = nowInLeadTz.getHours();\n  if (hour < 8 || hour >= 21) {\n    return [{ json: { ...lead, _gated: true, _fallback_to_email: true, reason: `TCPA: Outside business hours (${hour}:00 in ${leadTimezone}). Allowed: 8AM-9PM.` } }];\n  }\n} catch (e) {\n  // If timezone parsing fails, use UTC check as fallback\n  const utcHour = new Date().getUTCHours();\n  // Assume US Eastern (UTC-5) as safe default\n  const estHour = (utcHour - 5 + 24) % 24;\n  if (estHour < 8 || estHour >= 21) {\n    return [{ json: { ...lead, _gated: true, _fallback_to_email: true, reason: `TCPA: Outside business hours (EST fallback: ${estHour}:00)` } }];\n  }\n}\n\n// --- Step 4: TCPA - check lead hasn't said \"don't call\" ---\nconst status = lead.status || '';\nif (['rejected', 'unsubscribed'].includes(status)) {\n  return [{ json: { ...lead, _gated: true, _fallback_to_email: false, reason: 'TCPA: Lead status is ' + status } }];\n}\n\nreturn [{ json: { ...lead, _gated: false, _fallback_to_email: false } }];"
      },
      "id": "gate-check-call",
      "name": "Gate Check for Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-gated-call",
              "leftValue": "={{ $json._gated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "call-gate-check",
      "name": "Call Passed Gate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1550, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/trigger-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.id }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"first_name\": \"{{ $json.first_name || 'there' }}\",\n  \"last_name\": \"{{ $json.last_name || '' }}\",\n  \"business_name\": \"{{ $json.business_name }}\",\n  \"business_id\": \"{{ $json.business_id || '' }}\",\n  \"touchType\": \"{{ $json.type }}\",\n  \"touchNumber\": {{ $json.touchNumber }},\n  \"source\": \"sales_sequence_engine\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "trigger-voice-call",
      "name": "Trigger AI Voice Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Update lead after EMAIL action (via Smartlead)\nconst lead = $('Gate Check + Build Email').first().json;\nconst smartleadResult = $input.first().json;\nconst now = $now.toFormat('yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'');\nconst touchNumber = lead.touchNumber || 1;\nconst leadBusinessId = lead._leadBusinessId || lead.business_id || 'bayflow';\nconst bizCategory = lead._bizCategory || '';\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\n// Determine new status based on touch type\nlet newStatus = lead.status;\nif (lead.type === 'initial') newStatus = 'contacted';\nelse if (lead.type === 'follow_up_1') newStatus = 'follow_up_1';\nelse if (lead.type === 'follow_up_2') newStatus = 'follow_up_2';\nelse if (lead.type === 'breakup') newStatus = 'completed';\n\n// Extract Smartlead upload status\nconst smartleadOk = !!(smartleadResult && !smartleadResult.error);\nconst smartleadCampaignId = lead.smartlead_campaign_id || $('Ensure Smartlead Campaign').first().json.smartlead_campaign_id || null;\n\n// Update lead record\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        touch_count: touchNumber,\n        last_contacted_at: now,\n        last_touch_channel: 'email',\n        sequence_stage: lead.type === 'breakup' ? 'completed' : 'contacted',\n        status: newStatus,\n        last_email_type: lead.type,\n        smartlead_campaign_id: smartleadCampaignId ? String(smartleadCampaignId) : null,\n        updated_at: now\n      })\n    }\n  );\n} catch (e) {\n  // Log but don't fail\n}\n\n// Log to activities\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/activities`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        lead_id: lead.id,\n        business_id: leadBusinessId,\n        activity_type: 'email_queued_smartlead',\n        channel: 'email',\n        details: {\n          touch_number: touchNumber,\n          email_type: lead.type,\n          subject: lead.emailSubject,\n          smartlead_campaign_id: smartleadCampaignId,\n          smartlead_upload_ok: smartleadOk\n        }\n      })\n    }\n  );\n} catch (e) {}\n\n// Log to outreach_intelligence\ntry {\n  const dayOfWeek = new Date().getDay();\n  const hourOfDay = new Date().getHours();\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/outreach_intelligence`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        business_id: leadBusinessId,\n        channel: 'email',\n        outreach_type: lead.type,\n        audience_type: bizCategory || 'general',\n        tone: 'friendly',\n        angle: lead.type === 'follow_up_2' ? 'social_proof' : 'pain_point',\n        intent: 'book_demo',\n        subject_line: lead.emailSubject,\n        content_preview: (lead.emailBody || '').substring(0, 200),\n        content_full: lead.emailBody,\n        personalization_depth: 2,\n        day_of_week: dayOfWeek,\n        hour_of_day: hourOfDay,\n        lead_id: lead.id,\n        lead_email: lead.email,\n        sending_provider: 'smartlead',\n        smartlead_campaign_id: smartleadCampaignId\n      })\n    }\n  );\n} catch (e) {}\n\nreturn [{\n  json: {\n    action: 'EMAIL_QUEUED_SMARTLEAD',\n    leadId: lead.id,\n    email: lead.email,\n    type: lead.type,\n    touchNumber: touchNumber,\n    smartleadCampaignId: smartleadCampaignId,\n    smartleadUploadOk: smartleadOk,\n    businessId: leadBusinessId\n  }\n}];"
      },
      "id": "update-lead-after-email",
      "name": "Update Lead After Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Update lead after CALL action\nconst lead = $('Gate Check for Call').first().json;\nconst callResult = $input.first().json;\nconst now = $now.toFormat('yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'');\nconst touchNumber = lead.touchNumber || 1;\nconst leadBusinessId = lead.business_id || 'bayflow';\nconst bizCategory = lead._bizCategory || lead.category || '';\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\n// Update lead record\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        touch_count: touchNumber,\n        last_contacted_at: now,\n        last_touch_channel: 'call',\n        sequence_stage: 'contacted',\n        call_attempts: (lead.call_attempts || 0) + 1,\n        call_status: 'attempted',\n        updated_at: now\n      })\n    }\n  );\n} catch (e) {}\n\n// Log to activities\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/activities`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        lead_id: lead.id,\n        business_id: leadBusinessId,\n        activity_type: 'call_made',\n        channel: 'phone',\n        details: {\n          touch_number: touchNumber,\n          call_type: lead.type,\n          call_result_id: callResult?.callId || null\n        }\n      })\n    }\n  );\n} catch (e) {}\n\n// Log to outreach_intelligence\ntry {\n  const dayOfWeek = new Date().getDay();\n  const hourOfDay = new Date().getHours();\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/outreach_intelligence`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        business_id: leadBusinessId,\n        channel: 'call',\n        outreach_type: lead.type,\n        audience_type: bizCategory || 'general',\n        tone: 'friendly',\n        intent: 'book_demo',\n        day_of_week: dayOfWeek,\n        hour_of_day: hourOfDay,\n        lead_id: lead.id,\n        lead_email: lead.email\n      })\n    }\n  );\n} catch (e) {}\n\nreturn [{\n  json: {\n    action: 'CALL_TRIGGERED',\n    leadId: lead.id,\n    phone: lead.phone,\n    type: lead.type,\n    touchNumber: touchNumber,\n    businessId: leadBusinessId\n  }\n}];"
      },
      "id": "update-lead-after-call",
      "name": "Update Lead After Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Mark sequence-exhausted leads as completed\nconst lead = $input.first().json;\nconst now = $now.toFormat('yyyy-MM-dd\\'T\\'HH:mm:ss.SSS\\'Z\\'');\n\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?id=eq.${lead.id}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        status: 'completed',\n        sequence_stage: 'completed',\n        updated_at: now\n      })\n    }\n  );\n} catch (e) {}\n\nreturn [{ json: { action: 'COMPLETED', leadId: lead.id, email: lead.email, businessId: lead.business_id || 'unknown' } }];"
      },
      "id": "mark-sequence-complete",
      "name": "Mark Sequence Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fallback-email",
              "leftValue": "={{ $json._fallback_to_email }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-fallback-email",
      "name": "Fallback to Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 550]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all actions taken for summary\nconst emailActions = [];\nconst callActions = [];\nconst completeActions = [];\n\ntry {\n  const emailItems = $('Update Lead After Email').all();\n  emailItems.forEach(i => emailActions.push(i.json));\n} catch (e) {}\n\ntry {\n  const callItems = $('Update Lead After Call').all();\n  callItems.forEach(i => callActions.push(i.json));\n} catch (e) {}\n\ntry {\n  const completeItems = $('Mark Sequence Complete').all();\n  completeItems.forEach(i => completeActions.push(i.json));\n} catch (e) {}\n\nconst totalActions = emailActions.length + callActions.length + completeActions.length;\n\n// Collect unique business IDs across all actions\nconst allActions = [...emailActions, ...callActions, ...completeActions];\nconst bizIds = [...new Set(allActions.map(a => a.businessId).filter(Boolean))];\nconst bizSummary = bizIds.length > 0 ? ' (businesses: ' + bizIds.join(', ') + ')' : '';\n\nconst summary = `Sales Sequence Summary (via Smartlead)${bizSummary}:\\n- Emails queued to Smartlead: ${emailActions.length}\\n- Calls triggered: ${callActions.length}\\n- Sequences completed: ${completeActions.length}\\n- Total actions: ${totalActions}`;\n\nreturn [{\n  json: {\n    summary,\n    emailsQueued: emailActions.length,\n    callsTriggered: callActions.length,\n    sequencesCompleted: completeActions.length,\n    totalActions,\n    businessIds: bizIds\n  }\n}];"
      },
      "id": "build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-actions",
              "leftValue": "={{ $json.totalActions }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-any-actions",
      "name": "Any Actions Taken?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"Sales Sequence Engine (Smartlead)\",\n  \"message\": \"{{ $json.summary }}\",\n  \"severity\": \"info\",\n  \"businessId\": {{ JSON.stringify($json.businessIds && $json.businessIds[0] || 'multi') }},\n  \"requiresResponse\": false\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "notify-telegram",
      "name": "Notify: Sequence Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smartlead-reply-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "smartlead-reply-webhook",
      "name": "Smartlead Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 800],
      "notes": "Receives reply notifications from Smartlead webhook. Configure in Smartlead dashboard: Settings > Webhooks > Reply webhook URL = https://n8n-production-bb4b.up.railway.app/webhook/smartlead-reply-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse Smartlead reply webhook payload\n// Smartlead webhook sends: { event_type, lead_email, campaign_id, reply_text, reply_subject, ... }\nconst payload = $input.first().json.body || $input.first().json;\n\nconst fromEmail = payload.lead_email || payload.to_email || payload.email || '';\nconst subject = payload.reply_subject || payload.subject || '';\nconst body = payload.reply_text || payload.reply_body || payload.text || '';\nconst campaignId = payload.campaign_id || null;\nconst replyDate = new Date().toISOString();\n\n// Unsubscribe detection (CAN-SPAM compliance)\nconst unsubscribeKeywords = ['unsubscribe', 'remove me', 'stop emailing', 'opt out', 'opt-out', 'take me off', 'remove my email'];\nconst bodyLower = body.toLowerCase();\nconst subjectLower = subject.toLowerCase();\nconst isUnsubscribe = unsubscribeKeywords.some(kw => bodyLower.includes(kw) || subjectLower.includes(kw));\n\nif (isUnsubscribe) {\n  return [{\n    json: {\n      fromEmail: fromEmail.replace(/<|>/g, '').trim(),\n      subject,\n      body: body.substring(0, 2000),\n      sentiment: 'unsubscribe',\n      isUnsubscribe: true,\n      smartleadCampaignId: campaignId,\n      replyDate\n    }\n  }];\n}\n\n// Standard sentiment detection for non-unsubscribe replies\nconst positiveKeywords = ['interested', 'yes', 'sure', 'tell me more', 'demo', 'try', 'sign up', 'pricing', 'sounds good', 'let\\'s talk', 'schedule', 'call me'];\nconst negativeKeywords = ['not interested', 'no thanks', 'no thank', 'pass', 'not for us'];\n\nlet sentiment = 'neutral';\n\nif (positiveKeywords.some(kw => bodyLower.includes(kw))) {\n  sentiment = 'positive';\n} else if (negativeKeywords.some(kw => bodyLower.includes(kw))) {\n  sentiment = 'negative';\n}\n\nreturn [{\n  json: {\n    fromEmail: fromEmail.replace(/<|>/g, '').trim(),\n    subject,\n    body: body.substring(0, 2000),\n    sentiment,\n    isUnsubscribe: false,\n    smartleadCampaignId: campaignId,\n    replyDate\n  }\n}];"
      },
      "id": "parse-smartlead-reply",
      "name": "Parse Smartlead Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 800]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-unsubscribe",
              "leftValue": "={{ $json.isUnsubscribe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-unsubscribe-smartlead",
      "name": "Is Unsubscribe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 800]
    },
    {
      "parameters": {
        "jsCode": "// Mark lead as unsubscribed in Supabase\nconst reply = $('Parse Smartlead Reply').first().json;\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?email=eq.${encodeURIComponent(reply.fromEmail)}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        status: 'unsubscribed',\n        unsubscribed_at: reply.replyDate\n      })\n    }\n  );\n} catch (e) {}\n\nreturn [{ json: { action: 'UNSUBSCRIBED', email: reply.fromEmail } }];"
      },
      "id": "mark-unsubscribed-smartlead",
      "name": "Mark Lead Unsubscribed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Update lead as replied + log to outreach intelligence + notify\nconst reply = $('Parse Smartlead Reply').first().json;\nconst SUPABASE_URL = 'https://wjukfdziomnejtlmegvv.supabase.co';\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_KEY;\n\n// Update lead status to replied\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/cold_email_leads?email=eq.${encodeURIComponent(reply.fromEmail)}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        status: 'replied',\n        replied_at: reply.replyDate,\n        reply_sentiment: reply.sentiment\n      })\n    }\n  );\n} catch (e) {}\n\n// Determine outcome for outreach intelligence\nlet outcome = 'replied_neutral';\nif (reply.sentiment === 'positive') outcome = 'replied_positive';\nelse if (reply.sentiment === 'negative') outcome = 'replied_negative';\n\n// Update outreach_intelligence with outcome\ntry {\n  await fetch(\n    `${SUPABASE_URL}/rest/v1/outreach_intelligence?lead_email=eq.${encodeURIComponent(reply.fromEmail)}&outcome=eq.pending&order=created_at.desc&limit=1`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SERVICE_KEY,\n        'Authorization': `Bearer ${SERVICE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        outcome: outcome,\n        outcome_at: reply.replyDate,\n        notes: reply.body.substring(0, 300),\n        what_worked: reply.sentiment === 'positive' ? 'Lead responded positively via Smartlead. Preview: ' + reply.body.substring(0, 100) : null\n      })\n    }\n  );\n} catch (e) {}\n\nreturn [{\n  json: {\n    action: 'REPLY_PROCESSED',\n    email: reply.fromEmail,\n    sentiment: reply.sentiment,\n    smartleadCampaignId: reply.smartleadCampaignId\n  }\n}];"
      },
      "id": "process-reply-smartlead",
      "name": "Process Reply + Update Intelligence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 900],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"Sales Sequence Engine (Smartlead)\",\n  \"message\": \"Smartlead Reply Received\\nFrom: {{ $('Parse Smartlead Reply').first().json.fromEmail }}\\nSentiment: {{ $('Parse Smartlead Reply').first().json.sentiment }}\\nSubject: {{ $('Parse Smartlead Reply').first().json.subject }}\\nPreview: {{ $('Parse Smartlead Reply').first().json.body.substring(0, 200) }}\",\n  \"severity\": \"{{ $('Parse Smartlead Reply').first().json.sentiment === 'positive' ? 'high' : 'info' }}\",\n  \"businessId\": \"multi\",\n  \"requiresResponse\": {{ $('Parse Smartlead Reply').first().json.sentiment === 'positive' }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "notify-reply-telegram",
      "name": "Notify: Smartlead Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 900],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', email: $('Parse Smartlead Reply').first().json.fromEmail, sentiment: $('Parse Smartlead Reply').first().json.sentiment }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-smartlead-webhook",
      "name": "Respond OK (Smartlead)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 900]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', action: 'unsubscribed', email: $('Parse Smartlead Reply').first().json.fromEmail }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-unsub-smartlead-webhook",
      "name": "Respond OK (Unsubscribe)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 700]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://server.smartlead.ai/api/v1/campaigns/{{ $json.smartlead_campaign_id || 'unknown' }}/statistics?api_key={{ $env.SMARTLEAD_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-smartlead-stats",
      "name": "Fetch Smartlead Campaign Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 500],
      "disabled": true,
      "continueOnFail": true,
      "notes": "OPTIONAL: Enable to pull Smartlead campaign statistics after each run. Disabled by default to avoid unnecessary API calls. Can be triggered manually or on a separate schedule."
    }
  ],
  "connections": {
    "Daily 8:30AM Tue-Fri": {
      "main": [
        [
          {
            "node": "Fetch Active Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Leads": {
      "main": [
        [
          {
            "node": "Determine Sequence Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Sequence Actions": {
      "main": [
        [
          {
            "node": "Has Actions?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Actions?": {
      "main": [
        [
          {
            "node": "Route: Email / Call / Complete",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route: Email / Call / Complete": {
      "main": [
        [
          {
            "node": "Gate Check + Build Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gate Check for Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Sequence Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Check + Build Email": {
      "main": [
        [
          {
            "node": "Email Passed Gate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Passed Gate?": {
      "main": [
        [
          {
            "node": "Ensure Smartlead Campaign",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Ensure Smartlead Campaign": {
      "main": [
        [
          {
            "node": "Add Lead to Smartlead Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Lead to Smartlead Campaign": {
      "main": [
        [
          {
            "node": "Update Lead After Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Check for Call": {
      "main": [
        [
          {
            "node": "Call Passed Gate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Passed Gate?": {
      "main": [
        [
          {
            "node": "Trigger AI Voice Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback to Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback to Email?": {
      "main": [
        [
          {
            "node": "Gate Check + Build Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Trigger AI Voice Call": {
      "main": [
        [
          {
            "node": "Update Lead After Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead After Email": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead After Call": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sequence Complete": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Any Actions Taken?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Actions Taken?": {
      "main": [
        [
          {
            "node": "Notify: Sequence Summary",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Smartlead Reply Webhook": {
      "main": [
        [
          {
            "node": "Parse Smartlead Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Smartlead Reply": {
      "main": [
        [
          {
            "node": "Is Unsubscribe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Unsubscribe?": {
      "main": [
        [
          {
            "node": "Mark Lead Unsubscribed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Reply + Update Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Lead Unsubscribed": {
      "main": [
        [
          {
            "node": "Respond OK (Unsubscribe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Reply + Update Intelligence": {
      "main": [
        [
          {
            "node": "Notify: Smartlead Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Smartlead Reply": {
      "main": [
        [
          {
            "node": "Respond OK (Smartlead)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sales"
    },
    {
      "name": "outreach"
    },
    {
      "name": "smartlead"
    }
  ],
  "triggerCount": 2,
  "notes": "PRIMARY outreach coordinator using Smartlead for cold email deliverability.\n\nARCHITECTURE:\n- Sales sequence engine determines WHAT to send and WHEN\n- Smartlead handles deliverability, warmup, inbox rotation, and actual sending\n- On first run, creates a Smartlead campaign and stores campaign_id in Supabase (smartlead_campaigns table)\n- Each email touch adds the lead to the Smartlead campaign with personalized content as custom fields\n- Smartlead reply webhook notifies n8n of replies for sentiment analysis + lead status updates\n- Business details (name, domain, category, value prop) are looked up dynamically from the businesses table using each lead's business_id\n\nENV VARS REQUIRED:\n- $env.SMARTLEAD_API_KEY - Smartlead API key\n- $env.SUPABASE_SERVICE_KEY - Supabase service role key\n\nSMARTLEAD SETUP:\n1. Create Smartlead account and get API key\n2. Set $env.SMARTLEAD_API_KEY in n8n\n3. Configure Smartlead reply webhook: Settings > Webhooks > URL = https://n8n-production-bb4b.up.railway.app/webhook/smartlead-reply-webhook\n4. Create a 'smartlead_campaigns' table in Supabase: (id uuid, business_id text, campaign_id text, campaign_name text, created_at timestamptz)\n\nResend is NO LONGER used for cold outreach. Resend stays for transactional emails only (onboarding, churn-prevention, review-collector, cal-booking-handler, demo-lifecycle).\n\nThe cold-email-outreach.json Flow B (Email Sender) is DISABLED -- this workflow is the sole outreach coordinator."
}