orchestration/workflows/seo-monitor.json
{
  "name": "SEO Monitor - Weekly Keyword Tracker (Multi-Business)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Monday 5 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "not.in.(killed,sold)" },
            { "name": "select", "value": "id,business_id,name,site_url" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-businesses",
      "name": "Fetch All Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const businesses = $input.all().map(i => i.json);\nconst flat = Array.isArray(businesses[0]) ? businesses[0] : businesses;\nreturn flat.filter(b => b.site_url).map(b => {\n  const domain = (b.site_url || '').replace(/^https?:\\/\\//, '').replace(/\\/.*$/, '');\n  return { json: { businessUuid: b.id, businessId: b.business_id, businessName: b.name, siteUrl: b.site_url, domain: domain } };\n});"
      },
      "id": "split-businesses",
      "name": "Split Per Business",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/keyword_performance",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "*" },
            { "name": "business_id", "value": "={{ $json.businessId }}" },
            { "name": "is_active", "value": "eq.true" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-keywords",
      "name": "Fetch Keywords (Per Business)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const keywords = $input.all().map(i => i.json);\nconst flat = Array.isArray(keywords[0]) ? keywords[0] : keywords;\nconst bizData = $('Split Per Business').item.json;\n\nreturn flat.filter(k => k.keyword).map(k => ({ json: { ...k, domain: bizData.domain, businessId: bizData.businessId, businessName: bizData.businessName } }));"
      },
      "id": "prepare-keywords",
      "name": "Prepare Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.keyword }}" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_API_KEY }}" },
            { "name": "engine", "value": "google" },
            { "name": "num", "value": "100" },
            { "name": "gl", "value": "us" }
          ]
        },
        "options": {}
      },
      "id": "check-serp",
      "name": "Check SERP Ranking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const serpData = $json;\nconst keyword = $('Prepare Keywords').item.json;\nconst organicResults = serpData.organic_results || [];\nconst domain = keyword.domain;\n\nlet position = null;\nlet url = null;\n\nfor (let i = 0; i < organicResults.length; i++) {\n  const link = (organicResults[i].link || '').toLowerCase();\n  if (link.includes(domain)) {\n    position = i + 1;\n    url = organicResults[i].link;\n    break;\n  }\n}\n\nconst previousPosition = keyword.current_position || null;\nconst change = (previousPosition && position) ? previousPosition - position : null;\nconst isSignificant = change !== null && Math.abs(change) >= 5;\n\nreturn [{\n  json: {\n    keyword_id: keyword.id,\n    keyword: keyword.keyword,\n    previous_position: previousPosition,\n    current_position: position,\n    change: change,\n    url: url,\n    is_significant: isSignificant,\n    checked_at: $now.toISO(),\n    domain: domain,\n    businessId: keyword.businessId,\n    businessName: keyword.businessName\n  }\n}];"
      },
      "id": "parse-ranking",
      "name": "Parse Ranking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/keyword_performance?id=eq.{{ $json.keyword_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_position: $json.current_position, previous_position: $json.previous_position, last_checked: $json.checked_at }) }}",
        "options": {}
      },
      "id": "update-supabase",
      "name": "Update Position in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rankings = $('Parse Ranking').all().map(i => i.json);\nconst date = $now.toFormat('yyyy-MM-dd');\n\n// Group rankings by business\nconst byBusiness = {};\nfor (const r of rankings) {\n  const bid = r.businessId || 'unknown';\n  if (!byBusiness[bid]) byBusiness[bid] = { name: r.businessName || bid, domain: r.domain, rankings: [] };\n  byBusiness[bid].rankings.push(r);\n}\n\nlet report = `# SEO Monitor Report - Portfolio - ${date}\\n\\n`;\n\nconst allSignificant = [];\nfor (const [bid, data] of Object.entries(byBusiness)) {\n  report += `## ${data.name} (${data.domain})\\n\\n`;\n  report += `| Keyword | Position | Previous | Change |\\n|---------|----------|----------|--------|\\n`;\n  for (const r of data.rankings) {\n    const pos = r.current_position !== null ? r.current_position : 'Not found';\n    const prev = r.previous_position !== null ? r.previous_position : '-';\n    const ch = r.change !== null ? (r.change > 0 ? '+' + r.change : String(r.change)) : '-';\n    report += `| ${r.keyword} | ${pos} | ${prev} | ${ch} |\\n`;\n    if (r.is_significant) allSignificant.push(r);\n  }\n  report += `\\n`;\n}\n\nreport += `---\\n*Generated by SEO Monitor at ${new Date().toISOString()}*\\n`;\n\nreturn [{ json: { report, date, significant: allSignificant, significantCount: allSignificant.length } }];"
      },
      "id": "build-report",
      "name": "Build SEO Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ 'memory-bank/system/reports/seo-' + $json.date + '.md' }}",
        "fileContent": "={{ $json.report }}",
        "commitMessage": "={{ 'SEO Monitor report - portfolio - ' + $json.date }}"
      },
      "id": "write-report",
      "name": "Write Report to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2080, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-significant",
              "leftValue": "={{ $json.significantCount }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-significant",
      "name": "Significant Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2080, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'SEO Monitor: ' + $json.significantCount + ' keywords with significant ranking changes (5+ positions) across portfolio. Check the report.', source: 'seo-monitor' }) }}",
        "options": {}
      },
      "id": "notify-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Weekly Monday 5 AM": {
      "main": [[
        { "node": "Fetch All Businesses", "type": "main", "index": 0 }
      ]]
    },
    "Fetch All Businesses": {
      "main": [[{ "node": "Split Per Business", "type": "main", "index": 0 }]]
    },
    "Split Per Business": {
      "main": [[{ "node": "Fetch Keywords (Per Business)", "type": "main", "index": 0 }]]
    },
    "Fetch Keywords (Per Business)": {
      "main": [[{ "node": "Prepare Keywords", "type": "main", "index": 0 }]]
    },
    "Prepare Keywords": {
      "main": [[{ "node": "Check SERP Ranking", "type": "main", "index": 0 }]]
    },
    "Check SERP Ranking": {
      "main": [[{ "node": "Parse Ranking", "type": "main", "index": 0 }]]
    },
    "Parse Ranking": {
      "main": [[
        { "node": "Update Position in Supabase", "type": "main", "index": 0 }
      ]]
    },
    "Update Position in Supabase": {
      "main": [[{ "node": "Build SEO Report", "type": "main", "index": 0 }]]
    },
    "Build SEO Report": {
      "main": [[
        { "node": "Write Report to GitHub", "type": "main", "index": 0 },
        { "node": "Significant Changes?", "type": "main", "index": 0 }
      ]]
    },
    "Significant Changes?": {
      "main": [
        [{ "node": "Notify Telegram", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}