orchestration/workflows/seo-monitor.json
{
  "name": "SEO Monitor - Weekly Keyword Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * 1"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Monday 5 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/keyword_performance",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "*" },
            { "name": "business_id", "value": "eq.bayflow" },
            { "name": "is_active", "value": "eq.true" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" }
          ]
        },
        "options": {}
      },
      "id": "fetch-keywords",
      "name": "Fetch Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const keywords = $input.all().map(i => i.json);\nconst flat = Array.isArray(keywords[0]) ? keywords[0] : keywords;\n\n// Output each keyword as a separate item for SplitInBatches-like processing\nreturn flat.filter(k => k.keyword).map(k => ({ json: k }));"
      },
      "id": "prepare-keywords",
      "name": "Prepare Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.keyword }}" },
            { "name": "api_key", "value": "={{ $env.SERPAPI_API_KEY }}" },
            { "name": "engine", "value": "google" },
            { "name": "num", "value": "100" },
            { "name": "gl", "value": "us" }
          ]
        },
        "options": {}
      },
      "id": "check-serp",
      "name": "Check SERP Ranking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const serpData = $json;\nconst keyword = $('Prepare Keywords').item.json;\nconst organicResults = serpData.organic_results || [];\n\nlet position = null;\nlet url = null;\nconst domain = 'bayflow.com';\n\nfor (let i = 0; i < organicResults.length; i++) {\n  const link = (organicResults[i].link || '').toLowerCase();\n  if (link.includes(domain)) {\n    position = i + 1;\n    url = organicResults[i].link;\n    break;\n  }\n}\n\nconst previousPosition = keyword.current_position || null;\nconst change = (previousPosition && position) ? previousPosition - position : null;\nconst isSignificant = change !== null && Math.abs(change) >= 5;\n\nreturn [{\n  json: {\n    keyword_id: keyword.id,\n    keyword: keyword.keyword,\n    previous_position: previousPosition,\n    current_position: position,\n    change: change,\n    url: url,\n    is_significant: isSignificant,\n    checked_at: $now.toISO()\n  }\n}];"
      },
      "id": "parse-ranking",
      "name": "Parse Ranking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://wjukfdziomnejtlmegvv.supabase.co/rest/v1/keyword_performance?id=eq.{{ $json.keyword_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndqdWtmZHppb21uZWp0bG1lZ3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Mjk1ODIsImV4cCI6MjA4OTEwNTU4Mn0.12Vszqd1Lhp0M6FIB_pSF1l7T_SscB0X4AxwFTRrTVU" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ current_position: $json.current_position, previous_position: $json.previous_position, last_checked: $json.checked_at }) }}",
        "options": {}
      },
      "id": "update-supabase",
      "name": "Update Position in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/webmasters/v3/sites/https%3A%2F%2Fbayflow.com/searchAnalytics/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GOOGLE_SEARCH_CONSOLE_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ startDate: $now.minus({ days: 7 }).toFormat('yyyy-MM-dd'), endDate: $now.toFormat('yyyy-MM-dd'), dimensions: ['query'], rowLimit: 25, dataState: 'final' }) }}",
        "options": {}
      },
      "id": "check-gsc",
      "name": "Check Google Search Console",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rankings = $('Parse Ranking').all().map(i => i.json);\nconst gscData = $('Check Google Search Console').first().json;\nconst date = $now.toFormat('yyyy-MM-dd');\n\nlet report = `# SEO Monitor Report - BayFlow - ${date}\\n\\n`;\n\n// Keyword rankings\nreport += `## Keyword Rankings\\n\\n`;\nreport += `| Keyword | Position | Previous | Change |\\n|---------|----------|----------|--------|\\n`;\n\nconst significant = [];\nfor (const r of rankings) {\n  const pos = r.current_position !== null ? r.current_position : 'Not found';\n  const prev = r.previous_position !== null ? r.previous_position : '-';\n  const ch = r.change !== null ? (r.change > 0 ? '+' + r.change : String(r.change)) : '-';\n  report += `| ${r.keyword} | ${pos} | ${prev} | ${ch} |\\n`;\n  if (r.is_significant) significant.push(r);\n}\nreport += `\\n`;\n\n// GSC data if available\nconst gscRows = gscData.rows || [];\nif (gscRows.length > 0) {\n  report += `## Google Search Console - Top Queries (7 days)\\n\\n`;\n  report += `| Query | Clicks | Impressions | CTR | Position |\\n|-------|--------|-------------|-----|----------|\\n`;\n  for (const row of gscRows.slice(0, 20)) {\n    const query = row.keys ? row.keys[0] : '';\n    report += `| ${query} | ${row.clicks || 0} | ${row.impressions || 0} | ${((row.ctr || 0) * 100).toFixed(1)}% | ${(row.position || 0).toFixed(1)} |\\n`;\n  }\n  report += `\\n`;\n}\n\nreport += `---\\n*Generated by SEO Monitor at ${new Date().toISOString()}*\\n`;\n\nreturn [{ json: { report, date, significant, significantCount: significant.length } }];"
      },
      "id": "build-report",
      "name": "Build SEO Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "create",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ 'memory-bank/businesses/bayflow/reports/seo-' + $json.date + '.md' }}",
        "fileContent": "={{ $json.report }}",
        "commitMessage": "={{ 'SEO Monitor report - bayflow - ' + $json.date }}"
      },
      "id": "write-report",
      "name": "Write Report to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1820, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-significant",
              "leftValue": "={{ $json.significantCount }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-significant",
      "name": "Significant Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1820, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'SEO Monitor: ' + $json.significantCount + ' keywords with significant ranking changes (5+ positions). Check the report.', source: 'seo-monitor' }) }}",
        "options": {}
      },
      "id": "notify-telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Weekly Monday 5 AM": {
      "main": [[
        { "node": "Fetch Keywords", "type": "main", "index": 0 },
        { "node": "Check Google Search Console", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Keywords": {
      "main": [[{ "node": "Prepare Keywords", "type": "main", "index": 0 }]]
    },
    "Prepare Keywords": {
      "main": [[{ "node": "Check SERP Ranking", "type": "main", "index": 0 }]]
    },
    "Check SERP Ranking": {
      "main": [[{ "node": "Parse Ranking", "type": "main", "index": 0 }]]
    },
    "Parse Ranking": {
      "main": [[
        { "node": "Update Position in Supabase", "type": "main", "index": 0 }
      ]]
    },
    "Update Position in Supabase": {
      "main": [[{ "node": "Build SEO Report", "type": "main", "index": 0 }]]
    },
    "Build SEO Report": {
      "main": [[
        { "node": "Write Report to GitHub", "type": "main", "index": 0 },
        { "node": "Significant Changes?", "type": "main", "index": 0 }
      ]]
    },
    "Significant Changes?": {
      "main": [
        [{ "node": "Notify Telegram", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}