orchestration/workflows/support-agent-ticket.json
{
  "name": "Support Agent - Ticket Triage & Auto-Resolution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Incoming Support Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const ticket = $input.first().json;\n\n// Extract ticket details from webhook payload\nconst customerEmail = ticket.body?.email || ticket.body?.from || 'unknown';\nconst subject = ticket.body?.subject || 'No subject';\nconst message = ticket.body?.message || ticket.body?.text || ticket.body?.body || '';\nconst businessId = ticket.body?.business_id || 'bayflow';\n\nreturn [{\n  json: {\n    customerEmail,\n    subject,\n    message,\n    businessId,\n    receivedAt: new Date().toISOString(),\n    prompt: `You are the Support Agent for ${businessId}. Your goal is to auto-resolve 70-80% of tickets. Be helpful, concise, and friendly.\n\nTicket from: ${customerEmail}\nSubject: ${subject}\nMessage: ${message}\n\nRespond with a JSON object (no markdown code blocks) containing:\n{\n  \"can_resolve\": true/false,\n  \"response_to_customer\": \"your response if can_resolve is true\",\n  \"escalation_reason\": \"reason if can_resolve is false\",\n  \"ticket_tag\": \"bug\" | \"feature-request\" | \"confusion\" | \"billing\" | \"how-to\" | \"other\",\n  \"feature_request_summary\": \"if ticket_tag is feature-request, summarize what they want in one sentence, otherwise null\",\n  \"severity\": \"low\" | \"medium\" | \"high\"\n}\n\nYou CAN resolve: password resets, how-to questions, billing inquiries, general product questions, onboarding help.\nYou CANNOT resolve: bugs requiring code changes, account-specific data issues, refund requests over $50, anything requiring access to production systems.\n\nAlways be empathetic. Use the customer's name if available. Keep responses under 200 words.`\n  }\n}];"
      },
      "id": "parse-ticket",
      "name": "Parse Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "Support Triage Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "temperature": 0.2,
          "maxTokensToSample": 1000
        }
      },
      "id": "haiku-model",
      "name": "Haiku Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        440,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseText = $json.text;\nlet parsed;\ntry {\n  parsed = JSON.parse(responseText);\n} catch (e) {\n  // Try to extract JSON from response\n  const match = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  } else {\n    parsed = {\n      can_resolve: false,\n      escalation_reason: 'Failed to parse AI response',\n      ticket_tag: 'other',\n      severity: 'medium'\n    };\n  }\n}\n\nconst ticket = $('Parse Ticket').first().json;\n\nreturn [{\n  json: {\n    ...parsed,\n    customerEmail: ticket.customerEmail,\n    subject: ticket.subject,\n    message: ticket.message,\n    businessId: ticket.businessId,\n    receivedAt: ticket.receivedAt,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "can-resolve-check",
              "leftValue": "={{ $json.can_resolve }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "can-resolve-check",
      "name": "Can Resolve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'resolved', response: $json.response_to_customer, tag: $json.ticket_tag }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-resolved",
      "name": "Respond - Resolved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'escalated', reason: $json.escalation_reason, tag: $json.ticket_tag, severity: $json.severity }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-escalated",
      "name": "Respond - Escalated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ `memory-bank/businesses/${$('Process AI Response').first().json.businessId}/reports/support-log.md` }}",
        "resource": "file",
        "options": {}
      },
      "id": "read-support-log",
      "name": "Read Existing Support Log",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1320,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get the ticket data from Process AI Response\nconst ticket = $('Process AI Response').first().json;\n\n// Try to get existing log content and SHA from the GitHub read\nconst readResult = $input.first().json;\nlet existingContent = '';\nlet sha = null;\nlet fileExists = false;\n\n// Check if the read succeeded (file exists)\nif (readResult.content && !readResult.error) {\n  // GitHub returns base64-encoded content\n  if (readResult.encoding === 'base64') {\n    existingContent = Buffer.from(readResult.content, 'base64').toString('utf-8');\n  } else {\n    existingContent = readResult.content;\n  }\n  sha = readResult.sha;\n  fileExists = true;\n}\n\n// Format the new ticket entry\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\nconst timeStr = now.toISOString().split('T')[1].split('.')[0];\n\nlet newEntry = `## Ticket - ${dateStr} ${timeStr}\\n`;\nnewEntry += `**From:** ${ticket.customerEmail}\\n`;\nnewEntry += `**Subject:** ${ticket.subject}\\n`;\nnewEntry += `**Tag:** ${ticket.ticket_tag}\\n`;\nnewEntry += `**Severity:** ${ticket.severity}\\n`;\nnewEntry += `**Resolved:** ${ticket.can_resolve}\\n`;\n\nif (ticket.can_resolve) {\n  newEntry += `**Response:** ${ticket.response_to_customer}\\n`;\n} else {\n  newEntry += `**Escalation Reason:** ${ticket.escalation_reason}\\n`;\n}\n\nif (ticket.feature_request_summary) {\n  newEntry += `**Feature Request:** ${ticket.feature_request_summary}\\n`;\n}\n\nnewEntry += `\\n---\\n\\n`;\n\n// Build full content: header (if new file) + existing entries + new entry\nlet fullContent;\nif (fileExists && existingContent.trim().length > 0) {\n  fullContent = existingContent.trimEnd() + '\\n\\n' + newEntry;\n} else {\n  fullContent = `# Support Log\\n\\n` + newEntry;\n}\n\nreturn [{\n  json: {\n    fileContent: fullContent,\n    sha: sha,\n    fileExists: fileExists,\n    businessId: ticket.businessId\n  }\n}];"
      },
      "id": "append-entry",
      "name": "Append Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "operation": "edit",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "={{ `memory-bank/businesses/${$json.businessId}/reports/support-log.md` }}",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "={{ `Support ticket log - ${$json.businessId} - ${$now.toFormat('yyyy-MM-dd HH:mm')}` }}",
        "additionalParameters": "={{ $json.sha ? JSON.stringify({ sha: $json.sha }) : '{}' }}",
        "resource": "file"
      },
      "id": "update-support-log",
      "name": "Update Support Log",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-bb4b.up.railway.app/webhook/agent-notify",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: 'Support Agent', message: 'Ticket escalated - From: ' + $json.customerEmail + ' | Subject: ' + $json.subject + ' | Severity: ' + $json.severity + ' | Reason: ' + $json.escalation_reason, severity: 'warning', businessId: $json.businessId, requiresResponse: false }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "notify-telegram",
      "name": "Notify Human (Telegram)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Incoming Support Ticket": {
      "main": [
        [
          {
            "node": "Parse Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ticket": {
      "main": [
        [
          {
            "node": "Support Triage Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku Model": {
      "ai_languageModel": [
        [
          {
            "node": "Support Triage Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Support Triage Chain": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Can Resolve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Resolve?": {
      "main": [
        [
          {
            "node": "Respond - Resolved",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Support Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Escalated",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Support Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Human (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Support Log": {
      "main": [
        [
          {
            "node": "Append Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Entry": {
      "main": [
        [
          {
            "node": "Update Support Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}