orchestration/workflows/support-agent-ticket.json
{
  "name": "Support Agent - Ticket Triage & Auto-Resolution",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Incoming Support Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const ticket = $input.first().json;\n\n// Extract ticket details from webhook payload\nconst customerEmail = ticket.body?.email || ticket.body?.from || 'unknown';\nconst subject = ticket.body?.subject || 'No subject';\nconst message = ticket.body?.message || ticket.body?.text || ticket.body?.body || '';\nconst businessId = ticket.body?.business_id || 'bayflow';\n\nreturn [{\n  json: {\n    customerEmail,\n    subject,\n    message,\n    businessId,\n    receivedAt: new Date().toISOString(),\n    prompt: `You are the Support Agent for ${businessId}. Your goal is to auto-resolve 70-80% of tickets. Be helpful, concise, and friendly.\n\nTicket from: ${customerEmail}\nSubject: ${subject}\nMessage: ${message}\n\nRespond with a JSON object (no markdown code blocks) containing:\n{\n  \"can_resolve\": true/false,\n  \"response_to_customer\": \"your response if can_resolve is true\",\n  \"escalation_reason\": \"reason if can_resolve is false\",\n  \"ticket_tag\": \"bug\" | \"feature-request\" | \"confusion\" | \"billing\" | \"how-to\" | \"other\",\n  \"feature_request_summary\": \"if ticket_tag is feature-request, summarize what they want in one sentence, otherwise null\",\n  \"severity\": \"low\" | \"medium\" | \"high\"\n}\n\nYou CAN resolve: password resets, how-to questions, billing inquiries, general product questions, onboarding help.\nYou CANNOT resolve: bugs requiring code changes, account-specific data issues, refund requests over $50, anything requiring access to production systems.\n\nAlways be empathetic. Use the customer's name if available. Keep responses under 200 words.`\n  }\n}];"
      },
      "id": "parse-ticket",
      "name": "Parse Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "llm-chain",
      "name": "Support Triage Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokensToSample": 1000,
          "temperature": 0.2
        }
      },
      "id": "haiku-model",
      "name": "Haiku Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        440,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseText = $json.response.text;\nlet parsed;\ntry {\n  parsed = JSON.parse(responseText);\n} catch (e) {\n  // Try to extract JSON from response\n  const match = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  } else {\n    parsed = {\n      can_resolve: false,\n      escalation_reason: 'Failed to parse AI response',\n      ticket_tag: 'other',\n      severity: 'medium'\n    };\n  }\n}\n\nconst ticket = $('Parse Ticket').first().json;\n\nreturn [{\n  json: {\n    ...parsed,\n    customerEmail: ticket.customerEmail,\n    subject: ticket.subject,\n    message: ticket.message,\n    businessId: ticket.businessId,\n    receivedAt: ticket.receivedAt,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-response",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "can-resolve-check",
              "leftValue": "={{ $json.can_resolve }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "can-resolve-check",
      "name": "Can Resolve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'resolved', response: $json.response_to_customer, tag: $json.ticket_tag }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-resolved",
      "name": "Respond - Resolved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'escalated', reason: $json.escalation_reason, tag: $json.ticket_tag, severity: $json.severity }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-escalated",
      "name": "Respond - Escalated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "operation": "edit",
        "owner": "ShalinPatel670",
        "repository": "sluice-orchestration",
        "filePath": "memory-bank/businesses/{{ $('Parse Ticket').first().json.businessId }}/reports/support-log.md",
        "fileContent": "={{ `## Ticket - ${$json.receivedAt}\\nFrom: ${$json.customerEmail}\\nSubject: ${$json.subject}\\nTag: ${$json.ticket_tag}\\nResolved: ${$json.can_resolve}\\nSeverity: ${$json.severity}\\n${$json.feature_request_summary ? 'Feature Request: ' + $json.feature_request_summary + '\\n' : ''}---\\n` }}",
        "commitMessage": "Support ticket log - {{ $('Parse Ticket').first().json.businessId }} - {{ $now.format('yyyy-MM-dd') }}",
        "resource": "file"
      },
      "id": "log-ticket",
      "name": "Log Ticket to Memory Bank",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Incoming Support Ticket": {
      "main": [
        [
          {
            "node": "Parse Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ticket": {
      "main": [
        [
          {
            "node": "Support Triage Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku Model": {
      "ai_languageModel": [
        [
          {
            "node": "Support Triage Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Support Triage Chain": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Can Resolve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Resolve?": {
      "main": [
        [
          {
            "node": "Respond - Resolved",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Ticket to Memory Bank",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Escalated",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Ticket to Memory Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}